A {
	text-decoration : underline;
	font-weight :  bold;
	font-size :  10pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color :  Navy;
}

BODY  {
	text-align : left;
	font-weight :  bold;
	font-size :  10pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Gray;
}

A:HOVER {
	background-color :  Navy;
	color :  Yellow;
	border :  none;
}

