.required
{
    FONT-WEIGHT: bold
}
.disabled
{
    COLOR: #787878
}
.pagescrolldec
{
    COLOR: red;
    FONT-WEIGHT: bold
}
.pagescroll
{
    COLOR: blue;
    FONT-WEIGHT: bold
}
A
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
INPUT
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
BODY
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
TD
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
.ctrlgroup
{
	background-color :  #003399;
	color : #CCCC33;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold
}
.rowdark
{
    BACKGROUND-COLOR: #eeeeee;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.rowlight
{
    BACKGROUND-COLOR: #dddddd;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.colheader
{
    FONT-WEIGHT: lighter;
    background-color : Gray;
    color : White;
}
.errheader
{
    BACKGROUND-COLOR: navy;
    COLOR: yellow;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.errortext0
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}
.errortext1
{
    BACKGROUND-COLOR: silver;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}
#toolbar
{
    BACKGROUND: #e0e0e0;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid
}
.toolbarbutton
{
    BACKGROUND: silver;
    BORDER-BOTTOM: 2px outset;
    BORDER-LEFT: 2px outset;
    BORDER-RIGHT: 2px outset;
    BORDER-TOP: 2px outset;
    HEIGHT: 24px;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle;
    WIDTH: 24px
}
input.button {
	background-color: #330099;
	color: #FFFFFF;
	font-weight: bold;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
}