﻿BODY {
      background-color:#ffffff;
}
P {
   font-family:Arial;
   font-size:8.0pt;
   background-color:transparent;
   color:#000000;
   margin-left:0pt;
   line-height:Normal;
   margin-top:3pt;
   margin-bottom:3pt;
}
LI.P {
      font-family:Arial;
      font-size:8.0pt;
      color:#000000;
      line-height:Normal;
}
H1 {
    padding-top:6pt;
    padding-left:3pt;
    padding-right:12pt;
    padding-bottom:6pt;
    font-weight:bold;
    font-size:13.0pt;
    background:#008080;
    font-family:Verdana, sans-serif;
    margin-top:0pt;
    line-height:Normal;
    color:#000000;
    background-color:#ffffff;
}
LI.H1 {
       font-weight:bold;
       font-size:13.0pt;
       font-family:Verdana, sans-serif;
       line-height:Normal;
       color:#000000;
}
H2 {
    font-weight:bold;
    background:#800000;
    color:#000000;
    background-color:#c0c0c0;
    margin-bottom:4.5pt;
    padding-left:0pt;
    padding-right:0pt;
    padding-top:0pt;
    padding-bottom:0pt;
    font-family:Arial, sans-serif;
    font-size:11pt;
    margin-top:9pt;
}
LI.H2 {
       font-weight:bold;
       color:#000000;
       font-family:Arial, sans-serif;
       font-size:11pt;
}
H3 {
    padding-top:6pt;
    padding-left:3pt;
    padding-right:12pt;
    padding-bottom:6pt;
    font-weight:bold;
    font-size:13.0pt;
    color:#ffffff;
    background:#000080;
    font-family:Verdana, sans-serif;
    margin-top:0pt;
}
LI.H3 {
       font-weight:bold;
       font-size:13.0pt;
       color:#ffffff;
       font-family:Verdana, sans-serif;
}
H4 {
    font-family:Arial;
    font-weight:bold;
    background-color:#cecfc7;
    font-size:11pt;
    margin-bottom:6pt;
}
LI.H4 {
       font-family:Arial;
       font-weight:bold;
       font-size:11pt;
}
H5 {
    font-family:Arial;
    font-weight:bold;
    font-size:12.0pt;
}
LI.H5 {
       font-family:Arial;
       font-weight:bold;
       font-size:12.0pt;
}
H6 {
    font-family:Arial;
    font-weight:bold;
    font-size:12.0pt;
}
LI.H6 {
       font-family:Arial;
       font-weight:bold;
       font-size:12.0pt;
}
A:link {
        color:#008000;
        font-size:8pt;
        font-family:Arial, sans-serif;
        text-decoration:none;
}
A:visited {
           color:#008000;
           font-size:8pt;
           font-family:Arial, sans-serif;
           text-decoration:none;
}
P.Bullets {
           text-indent:0px;
           list-style:square;
           margin-left:0pt;
           margin-bottom:0pt;
}
LI.P-Bullets {
              text-indent:0px;
              list-style:square;
}
P.lessspace {
             margin-top:3pt;
             margin-left:-6pt;
}
LI.P-lessspace {
}
p.morespace {
             margin-top:12pt;
}
LI.p-morespace {
}
p.expand {
          font-size:8pt;
          font-weight:Bold;
          color:#000080;
          margin-top:12pt;
          margin-bottom:0pt;
}
LI.p-expand {
             font-size:8pt;
             font-weight:Bold;
             color:#000080;
}
p.rollover {
            font-size:8pt;
            font-weight:Bold;
            color:#0000ff;
            cursor:hand;
            margin-top:12pt;
            margin-bottom:0pt;
}
LI.p-rollover {
               font-size:8pt;
               font-weight:Bold;
               color:#0000ff;
}
p.expand2 {
           font-size:8pt;
           font-weight:Bold;
           color:#000000;
           margin-top:6pt;
           margin-bottom:0pt;
           margin-left:18pt;
}
LI.p-expand2 {
              font-size:8pt;
              font-weight:Bold;
              color:#000000;
}
A.expandspot {
              cursor:hand;
              color:#008000;
              font-style:normal;
              font-size:8pt;
              font-family:Arial, sans-serif;
}
SPAN.expandtext {
                 font-weight:normal;
                 font-style:italic;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 color:#0000ff;
}
A.dropspot {
            font-style:italic;
            cursor:hand;
            color:#008000;
}
A.glossterm {
             cursor:hand;
             font-style:normal;
             font-size:8pt;
             font-family:Arial, sans-serif;
             color:#008000;
}
SPAN.glosstext {
                color:#0000ff;
                font-weight:normal;
                font-style:italic;
                font-size:8pt;
                font-family:Arial, sans-serif;
}
P.Firstpage {
             x-next-type:IMPLICIT_P;
}
LI.P-Firstpage {
}
P.Noteindented {
                font-family:Arial;
                color:#000000;
                font-size:8pt;
                border-top-style:none;
                border-bottom-style:none;
                background-color:#ffffff;
                margin-left:40px;
                margin-bottom:0pt;
}
LI.P-Noteindented {
                   font-family:Arial;
                   color:#000000;
                   font-size:8pt;
}
P.Numbers {
           font-family:Arial;
           background-color:transparent;
           color:#000000;
           font-size:8.0pt;
           margin-bottom:0pt;
}
LI.P-Numbers {
              font-family:Arial;
              color:#000000;
              font-size:8.0pt;
}
P.buttonbar {
             margin-bottom:0pt;
             font-size:6pt;
             background-color:#cecfc7;
             border-left-style:Outset;
             border-left-width:2px;
             border-right-style:Outset;
             border-right-width:2px;
             border-top-style:Outset;
             border-top-width:2px;
             border-bottom-style:Outset;
             border-bottom-width:2px;
             line-height:-5pt;
}
LI.P-buttonbar {
                font-size:6pt;
                line-height:-5pt;
}
P.TableCellBold {
                 font-style:normal;
                 font-weight:bold;
}
LI.P-TableCellBold {
                    font-style:normal;
                    font-weight:bold;
}
P.TableCellDescription {
                        text-align:left;
                        font-weight:normal;
                        text-decoration:none;
}
LI.P-TableCellDescription {
                           text-align:left;
                           font-weight:normal;
                           text-decoration:none;
}
P.ListProcedure {
                 list-style:decimal;
                 text-indent:0px;
                 font-size:8pt;
                 font-family:Arial, sans-serif;
                 line-height:Normal;
                 margin-left:0pt;
                 margin-top:0pt;
                 margin-bottom:3pt;
}
LI.P-ListProcedure {
                    list-style:decimal;
                    text-indent:0px;
                    font-size:8pt;
                    font-family:Arial, sans-serif;
                    line-height:Normal;
}
P.NoteInProcedure {
                   margin-bottom:0pt;
                   margin-left:40px;
}
LI.P-NoteInProcedure {
}
SPAN.Note {
           font-weight:bold;
           font-style:normal;
           text-decoration:underline;
}
P.Introduction {
                margin-bottom:0pt;
                margin-top:3pt;
                font-weight:normal;
                text-align:left;
                text-decoration:none;
}
LI.P-Introduction {
                   font-weight:normal;
                   text-align:left;
                   text-decoration:none;
}
P.tableBullet {
               list-style:inside square;
}
LI.P-tableBullet {
                  list-style:inside square;
}
P.CellImage {
             text-align:Center;
}
LI.P-CellImage {
                text-align:Center;
}
P.CellItalic {
              font-style:italic;
              font-weight:normal;
}
LI.P-CellItalic {
                 font-style:italic;
                 font-weight:normal;
}
P.ProcedureHead {
                 font-weight:bold;
                 font-style:normal;
                 margin-top:4.5pt;
                 font-size:8pt;
}
LI.P-ProcedureHead {
                    font-weight:bold;
                    font-style:normal;
                    font-size:8pt;
}
P.afterlist {
             margin-left:0pt;
}
LI.P-afterlist {
}
UL {
    margin-top:0pt;
    margin-bottom:6pt;
    margin-top:0pt;
    margin-bottom:6pt;
}
UL.lessspace {
              margin-top:0pt;
              margin-bottom:3pt;
              margin-top:0pt;
              margin-bottom:6pt;
}
UL.morespace {
              margin-top:6pt;
              margin-top:6pt;
}
UL LI {
       list-style-type:square;
       font-size:8pt;
       color:#000000;
       margin-top:3pt;
       margin-left:-11pt;
}
UL LI.command {
               list-style-type:disc;
               font-size:8pt;
               color:#000000;
               margin-top:3pt;
               margin-left:-11pt;
}
UL LI.morespace {
                 list-style-type:square;
                 font-size:8pt;
                 color:#000000;
                 margin-top:6pt;
                 margin-left:-11pt;
}
UL UL {
       margin-top:0pt;
}
UL UL.morespace {
                 margin-top:6pt;
}
UL UL LI {
          list-style-type:disc;
          font-size:8pt;
          color:#000000;
          margin-top:0pt;
          margin-left:-17pt;
}
OL {
    margin-top:0pt;
    margin-top:0pt;
}
OL.lessspace {
              margin-top:0pt;
              margin-top:0pt;
}
OL.morespace {
              margin-top:6pt;
              margin-top:6pt;
}
OL LI {
       list-style-type:decimal;
       font-size:8pt;
       color:#000000;
       margin-top:3pt;
       margin-left:-6pt;
}
OL LI.morespace {
                 list-style-type:decimal;
                 font-size:8pt;
                 color:#000000;
                 margin-top:6pt;
                 margin-left:-6pt;
}
OL OL {
       margin-top:0pt;
}
OL OL.morespace {
                 margin-top:6pt;
}
OL OL LI {
          list-style-type:lower-alpha;
          font-size:8pt;
          color:#000000;
          margin-top:0pt;
          margin-left:-11pt;
}
OL UL LI {
          list-style-type:disc;
          font-size:8pt;
          color:#000000;
          margin-top:0pt;
          margin-left:-17pt;
}
UL LI.nolabel {
               list-style-type:none;
               margin-left:-6pt;
}
div.ObjectCalls {
                 background-color:LightGrey;
                 width:expression(document.body.clientWidth);
}
div.heading {
             width:expression(document.body.clientWidth);
}
div.scroll {
            width:expression(document.body.clientWidth);
}
DIV.collapsed {
               color:#000000;
               font-family:Verdana;
               font-size:10pt;
               display:none;
}
DIV.expanded {
              color:#000000;
              font-family:Verdana;
              font-size:10pt;
}
.TitleDialogbox {
                 margin-top:0pt;
                 margin-bottom:0pt;
                 font-size:9pt;
                 font-weight:bold;
                 color:#000000;
                 padding-top:4pt;
                 padding:4pt;
                 padding-bottom:4pt;
                 background-color:#E6E6E6;
                 width:100%;
                 border:0pt;
                 cellpadding:0pt;
                 cellspacing:0pt;
}
P.morpace {
}
LI.P-morpace {
}
P.Indent3pt {
             margin-left:3pt;
             margin-top:3pt;
}
LI.P-Indent3pt {
}
SPAN.buttonpatth {
                  vertical-align:Super;
}
P.Note {
        margin-top:3pt;
        text-indent:-0.33in;
        margin-left:0.33in;
        color:#000000;
        font-weight:normal;
        font-style:normal;
}
LI.P-Note {
           text-indent:-0.33in;
           color:#000000;
           font-weight:normal;
           font-style:normal;
}
P.tablebulletindented {
                       margin-left:-6pt;
}
LI.P-tablebulletindented {
}
SPAN.NoteWhite {
}
H1.Headingconcept {
                   color:#ffffff;
                   background-color:#008080;
}
LI.H1-Headingconcept {
                      color:#ffffff;
}
H1.HeadingHowto {
                 color:#ffffff;
                 background-color:#800000;
}
LI.H1-HeadingHowto {
                    color:#ffffff;
}
