<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Flow of event and claim information</title>

<!--(Meta)==========================================================-->

<meta name=MS-HAID content=events_claims>
<meta name=MS-HAID content=Getting_started>
<meta name=MS-HAID content=Flow_of_event_and_claim_information>
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=512>
<meta name=layout-width content=534>
<meta name=date content="08 8, 2002 2:35:24 PM">


<!--(Links)=========================================================-->

<link rel=StyleSheet href="..\w95help_st.css">



</head>

<!--(Body)==========================================================-->


<body>

<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name=_Version value="65536" >
<param name=_ExtentX value="2117" >
<param name=_ExtentY value="503" >
<param name=_StockProps value="13" >
<param name=ForeColor value="0" >
<param name=BackColor value="12632256" >
<param name=UseButton value="-1" >
<param name=ControlLabel value="See Also" >
<param name=UseIcon value="0" >
<param name=Items value="Getting_started$$**$$Events_overview$$**$$Claims_overview$$**$$" >
<param name=Image value="" >
<param name=FontInfo value="Arial,8,0,," >
<param name=_CURRENTFILEPATH value="C:\Documents and Settings\smt\Desktop\Riskmaster_new\get_started\Flow_of_event_and_claim_information.htm" >
<param name=_ID value="object1" >
<param name=DialogDisplay value="1" >
<param name=Frame value="" >
<param name=Window value="Second" >
<param name=ChmFile value="" >
<param name=DisableJump value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Getting_started">
  <PARAM  NAME="Item3"  VALUE="Events_overview">
  <PARAM  NAME="Item4"  VALUE="Claims_overview">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
</p>

<h1>Flow of event and claim information</h1>

<p><img src="images/eventclaimmodel.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 299px;
				height: 389px;
				float: none;"
		width=299
		height=389
		border=0></p>

<p>&nbsp;</p>

</body>

</html>
