<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Searching</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=MS-HAID content=Getting_started>
<meta name=MS-HAID content=Searching>
<meta name=date content="08 14, 2002 9:57:49 AM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=510>
<meta name=layout-width content=443>
<meta name=x-ignored-words content="DIS;DDS;MedWatch;MCO">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\w95help_st.css">



</head>

<!--(Body)==========================================================-->


<body>

<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="2117" >
<param name="_ExtentY" value="503" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="12632256" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Search_dialog$$**$$Getting_started$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Arial,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\Riskmaster_new\get_started\Searching.htm" >
<param name="_ID" value="object1" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="Second" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Search_dialog">
  <PARAM  NAME="Item3"  VALUE="Getting_started">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<h2>To search</h2>

<p CLASS=Introduction>You can search for events, claims, and any other 
 records. You can search specifically for a record by record number, or 
 you can search by attributes like last names, status (open/closed), and 
 so on. </p>

<p CLASS=Introduction>You can only search for records in the database from 
 the <!--kadov_tag{{<ignored>}}-->datasource<!--kadov_tag{{</ignored>}}--> 
 you selected when you logged in. </p>

<ol CLASS=morespace>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>From the main 
 menu, choose Edit &gt; Find.</p></li>
	
	<p CLASS=afterlist>The Search dialog opens. </p>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Select the 
 type of record to search for (Claims, Events, and so on). </p></li>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Select a Search 
 Name from the drop down list.</p></li>
	
	<p CLASS=Note><span class=Note>Note:</span> The fields in the Search 
 dialog change based on the Search type you choose.</p>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Enter information 
 in as many fields as you can.</p></li>
	
	<p CLASS=Note><span class=Note>Note:</span> If you do not know the 
 complete information for a field, enter as much as you know plus an asterisk 
 (*). For example, in a Last Name field, you could type: <!--kadov_tag{{<ignored>}}-->p*<!--kadov_tag{{</ignored>}}--> 
 to find all records with last names beginning with the letter P. </p>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>In the Sort 
 By area, select fields to sort the results of your search by.</p></li>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Select the 
 Use Sound-Alike Match on Last Names option, if you are uncertain of the 
 last name.</p></li>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Select the 
 Begin Search button.</p></li>
	
	<p>The results of your search are displayed.</p>
	
	<li class=kadov-p-CListProcedure><p class=ListProcedure>Select the 
 record you want and press the Select button.</p></li>
	
	<p CLASS=afterlist>The record you selected is displayed in the appropriate 
 dialog.</p>
</ol>

</body>

</html>
