<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>To log in and log out</title>

<!--(Meta)==========================================================-->

<meta name=MS-HAID content=Getting_started>
<meta name=MS-HAID content=To_Log_in_and_log_out>
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=342>
<meta name=layout-width content=544>
<meta name=date content="09 11, 2002 8:49:56 AM">


<!--(Links)=========================================================-->

<link REL=STYLESHEET HREF="..\w95help_st.css" TYPE="text/css">


<!--(Scripts)=======================================================-->

<script LANGUAGE=javascript
		src="..\helpcont.js"></script>

</head>

<!--(Body)==========================================================-->


<body scroll=auto onload="set_last_picks()">

<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name=_Version value="65536" >
<param name=_ExtentX value="2117" >
<param name=_ExtentY value="503" >
<param name=_StockProps value="13" >
<param name=ForeColor value="0" >
<param name=BackColor value="12632256" >
<param name=UseButton value="-1" >
<param name=ControlLabel value="See Also" >
<param name=UseIcon value="0" >
<param name=Items value="Getting_started$$**$$" >
<param name=Image value="" >
<param name=FontInfo value="Arial,8,0,," >
<param name=_CURRENTFILEPATH value="C:\Documents and Settings\smt\Desktop\Riskmaster_new\get_started\To_Log_in_and_log_out.htm" >
<param name=_ID value="object1" >
<param name=DialogDisplay value="1" >
<param name=Frame value="" >
<param name=Window value="Second" >
<param name=ChmFile value="" >
<param name=DisableJump value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Getting_started">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
</p>

<h2><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->To log 
 in and log out</h2>

<p class=Introduction>When you start RISKMASTER, you must log into a data 
 source, which is the link between RISKMASTER and your database. The data 
 source is defined on the workstation during installation.</p>

<p class=Introduction>While setting up RISKMASTER, your system administrator 
 creates your user account using RISKMASTER's Security Management System, 
 and specifies the data sources that you can use. You must be assigned 
 a user name and password before you can use RISKMASTER.</p>

<p class=Introduction>If you have questions about the data source or your 
 user privileges, see your system administrator.</p>

<p class=Note><span class=Note>Note:</span> If you make changes to the 
 RISKMASTER set up in the Utilities module, you may need to log out and 
 log back into RISKMASTER before the changes show up in RISKMASTER.</p>

<!--For expandable text copy from here, copy body tag, and add js file-->

<p CLASS=expand
	TITLE="Click to learn how to log in"
	ID=log_in
	ONCLICK="class_radio_toggle ('log_in1')"
	ONMOUSEOVER="log_in.className='rollover'"
	ONMOUSEOUT="log_in.className='expand'"><img ID=log_in2
												src="../Images/Click.gif"
												ALT
												style="width: 10px;
														height: 11px;
														border-style: none;"
												width=10
												height=11
												border=0> To log in </p>

<div ID=log_in1
	CLASS=collapsed>
<ol CLASS=morespace>
	
	<li class=kadov-p
		class=kadov-p>From the Start menu, choose Start &gt; Programs &gt; 
 RISKMASTER_World &gt; RISKMASTER. </li>
	
	<p CLASS=morpace>The Login dialog opens.</p>
	
	<li class=kadov-p
		class=kadov-p>In the User field, enter your user name.</li>
	
	<li class=kadov-p
		class=kadov-p>In the Password field, enter your password. </li>
	
	<li class=kadov-p
		class=kadov-p>In the Data Source field, select the required data 
 source from the drop down list.</li>
	
	<li class=kadov-p
		class=kadov-p>Select OK. </li>
</ol>
</div>

<!--For expandable text copy upto here-->


<!--For expandable text copy from here-->

<p CLASS=expand
	TITLE="Click to learn how to log out"
	ID=logout
	ONCLICK="class_radio_toggle ('logout1')"
	ONMOUSEOVER="logout.className='rollover'"
	ONMOUSEOUT="logout.className='expand'"><img ID=logout2
												src="../Images/Click.gif"
												ALT
												style="width: 10px;
														height: 11px;
														border-style: none;"
												width=10
												height=11
												border=0> To log out </p>

<div ID=logout1
	CLASS=collapsed>
<p CLASS=morespace>When you quit RISKMASTER, it automatically logs you 
 out. You can also log out without exiting the application. </p>

<ol CLASS=morespace>
	
	<li class=kadov-p
		class=kadov-p>From the main menu, choose File &gt; Logout. </li>
	
	<p CLASS=morpace>A warning dialog opens.</p>
	
	<li class=kadov-p
		class=kadov-p>Select OK.</li>
</ol>
</div>

<!--For expandable text copy upto here-->




</body>

</html>
