<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>To work with records</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=MS-HAID content=records>
<meta name=MS-HAID content=Getting_started>
<meta name=MS-HAID content=To_work_with_records>
<meta name=date content="08 14, 2002 9:18:23 AM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=378>
<meta name=layout-width content=589>


<!--(Links)=========================================================-->

<link REL="STYLESHEET" HREF="..\w95help_st.css" TYPE="text/css">


<!--(Scripts)=======================================================-->

<script LANGUAGE=javascript
		src="..\helpcont.js"></script>

</head>

<!--(Body)==========================================================-->


<body scroll=auto onload="set_last_picks()">

<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="2117" >
<param name="_ExtentY" value="503" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="12632256" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="records$$**$$Getting_started$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Arial,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\Riskmaster_new\get_started\To_work_with_records.htm" >
<param name="_ID" value="object1" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="Second" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="records">
  <PARAM  NAME="Item3"  VALUE="Getting_started">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<h2>To work with records</h2>

<p class=Introduction>When you enter new information or modify previously 
 saved information, RISKMASTER creates records in your database. The information 
 you enter on an event becomes a record, as does the information on each 
 claim and claimant. </p>

<p class=Introduction>To work with a record, you use a data-entry dialog. 
 For example, you use the Event dialog to create an event record. The text, 
 codes, and dates you enter in the Event dialog fields become part of that 
 event record.</p>

<p class=Noteindented><span class=Note>Note:</span> You can only access 
 records if you have the appropriate permissions. Your system administrator 
 sets up the security and permissions for your system. For questions about 
 your permissions, see your system administrator.</p>

<!--For expandable text copy from here-->

<p CLASS=expand
	TITLE="Click to learn how to create records"
	ID=create_rec
	ONCLICK="class_radio_toggle ('create_rec1')"
	ONMOUSEOVER="create_rec.className='rollover'"
	ONMOUSEOUT="create_rec.className='expand'"><img ID=create_rec2
													src="../Images/Click.gif"
													style="width: 10px;
															height: 11px;
															border-style: none;
															border-style: none;"
													width=10
													height=11
													border=0> To create 
 a record </p>

<div ID=create_rec1
	CLASS=collapsed>
<p CLASS=morespace>To create a record, you start with a data-entry dialog 
 that has blank fields, and then enter information into the fields.</p>

<ol CLASS=morespace>
	
	<li class=kadov-p
		class=kadov-p>From the main menu, choose Documents &gt; Event/Occurrence, 
 General Claims, Workers' Compensation, or Vehicle Accident.</li>
	
	<p CLASS=morpace>The appropriate dialog opens. </p>
	
	<li class=kadov-p
		class=kadov-p>
	Complete the fields on each tab in the dialog, by either: 
	
	<ul CLASS=lessspace>
		
		<li class=kadov-p
			class=kadov-p>Typing text in fields. </li>
		
		<li class=kadov-p
			class=kadov-p>Selecting field input from a predefined list 
 </li>
		
		<li class=kadov-p
			class=kadov-p>Cutting or copying text from another source and 
 pasting it in the field</li>
	</ul>
	
	<p CLASS=morepace>You must complete all required fields, indicated 
 by an underlined field title. Completing the remaining fields is optional. 
 </p>
	</li>
	
	<li class=kadov-p
		class=kadov-p>From the main menu, choose File &gt;Save.</li>
	
	<p CLASS=morpace>A new record is created. </p>
</ol>
</div>

<!--For expandable text copy upto here-->



<!--For expandable text copy from here-->

<p CLASS=expand
	TITLE="Click to learn how to delete records"
	ID=del_rec
	ONCLICK="class_radio_toggle ('del_rec1')"
	ONMOUSEOVER="del_rec.className='rollover'"
	ONMOUSEOUT="del_rec.className='expand'"><img ID=del_rec2
												src="../Images/Click.gif"
												style="width: 10px;
														height: 11px;
														border-style: none;
														border-style: none;"
												width=10
												height=11
												border=0> To delete a record 
 </p>

<div ID=del_rec1
	CLASS=collapsed>
<p CLASS=morespace>You can delete records only if you have permissions. 
 Your system administrator is responsible for this. If you delete a record 
 in error, contact your system administrator or the RISKMASTER Technical 
 Support staff for assistance. </p>

<ol CLASS=morespace>
	
	<li class=kadov-p
		class=kadov-p>Open the record you want to delete.</li>
	
	<li class=kadov-p
		class=kadov-p>From the main menu, choose File &gt; Delete.</li>
	
	<p CLASS=afterlist>A warning dialog opens.</p>
	
	<li class=kadov-p
		class=kadov-p>Select Yes. </li>
	
	<p CLASS=afterlist>RISKMASTER deletes the record and all attached records.</p>
</ol>
</div>

<!--For expandable text copy upto here-->





</body>

</html>
