#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

<html>
  <head>
    <base href="$clink.External">
    <link href="$clink.setURI($config.getString("site.stylesheet")).Absolute" type="text/css" rel="stylesheet">
    #set ($titlePrefix = $config.getString("portal.title"))
    <title>#if ($titlePrefix)$titlePrefix #else $data.profile.document.portlets.getMetaInfo().title#end</title>
## include site defined scripts for the html head (see the definition in templates/vm/GlobalMacros.vm)
    #headScripts()
  </head>
## include site defined body on load behavior, if any (see the definition in templates/vm/GlobalMacros.vm)
  <body bgcolor="#ffffff" #bodyOnLoad()>
    #if ($config.getBoolean("topnav.enable") == true)
    <table cellspacing="0" width="100%" border="0" cellpadding="0">
      <tr>
        <td>$jnavigation.setTemplate($config.getString("topnav.vm"))</td>
      </tr>
    </table>
    #end
    <table cellspacing="0" width="100%" cellpadding="0" border="0">
      <tr>
        #if ($config.getBoolean("leftnav.enable") == true)
        <td width="$config.getString("leftnav.width")" valign="top" bgcolor="#ffffff">   
          $jnavigation.setTemplate($config.getString("leftnav.vm"))
        </td>
        <td>&nbsp;</td>
        #end
        <td valign="top">
          $screen_placeholder 
        </td>
      </tr>
    </table>
    #if ($config.getBoolean("bottomnav.enable") == true)
    <table cellspacing="0" width="100%" cellpadding="0" border="0">
      <tr>
        <td valign="bottom" bgcolor="#ffffff">
          $jnavigation.setTemplate($config.getString("bottomnav.vm"))
        </td>
      </tr>
    </table>
   #end
  </body>
</html>
