#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#if ($data.User.hasLoggedIn())
$screen_placeholder
#else
<card id="Login">
<p align="center">
#if (!$!data.getMessage())
<b>Welcome at Jetspeed</b><br/>
#else
<b>Jetspeed WAP</b>
#end
</p>
  <do type="accept" label="login">
    <go href="$link" method="post">
      <postfield name="password" value="$(password)" /> 
      <postfield name="username" value="$(username)" />
      <postfield name="$jlink.ActionKey" value="$config.getString("action.login")" />
      <setvar name="$jlink.ActionKey" value="" />
      <setvar name="username" value="" />
      <setvar name="password" value="" />
    </go>
  </do>

#if ($data.getMessage())
<p>$!data.getMessage()</p>
<p align="center">-------</p>
#end
<p>Login:<input name="username" type="text" size="5" value="" emptyok="false" maxlength="25"/></p>
<p>Passwd:<input name="password" type="password" size="5" value="" emptyok="true" maxlength="25"/></p>
</card>
#end

