<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-events" ng-show="error">
            <div class="panel-heading text-center">
                Claims Status : {{status}}
            </div>
            <div class="panel-footer" >
                Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
                Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
                Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="form-group">
                <input ng-model="Data.message" type="text" class="form-control" placeholder="Claim Search" />
        </div>
    </div>

    <div class="col-xs-12 text-center" ng-show="loading">
        <!--<i class="fa fa-spinner fa-spin fa-3x"></i>-->
        <div ng-include="'views/loading.html'"></div>
    </div>
       
    <div class="col-xs-12" ng-repeat="claim in formattedClaims | filter: Data.message" ng-hide="loading">
        <div class="panel panel-events">
           <div class="panel-heading text-center"><a href='#/claims/{{claim["Claim Number"]}}' class="fullWidth">Claim :{{claim["Claim Number"]}}</a></div>
            <div class="panel-body">
                <strong>Claimant :</strong>{{claim["Claimant First Name"]}}{{claim["Claimant Last Name"]}} <br />
                <strong>Event No :</strong> {{claim["Event Number"]}} <br />
                <strong>Event Date :</strong> {{claim["Event Date"]["formatedtext"]}}<br/>
                <hr class="col-xs-12"/>
                {{claim["Event Description"]}}
            </div>
        </div>

    </div>
    <!--<div class="scroll-top-wrapper ">-->
            <!--<span class="scroll-top-inner">-->
                <!--<i class="fa fa-2x fa-arrow-circle-up"></i>-->
            <!--</span>-->
    <!--</div>-->



</div>
