﻿<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel panel-events">
            <div class="panel-heading text-center">{{claimNo}}</div>
            <div class="panel-body" ng-hide="error">
                <a class="pomegranate" data-toggle="modal" data-target="#myCalender"><i class="fa fa-calendar fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myNotes"><i class="fa fa-file-text fa-2x  col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myCamera"> <i class="fa fa-camera fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myVideo"> <i class="fa fa-video-camera fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myAudio"><i class="fa fa-microphone fa-2x col-xs-2"></i> </a>
                <a class="pomegranate" data-toggle="modal" data-target="#mySkype"><i class="fa fa-skype fa-2x col-xs-2"></i> </a><br/><br/>
            </div>
            <!--Error-->
            <div class="panel-body" ng-show="error">
               <div ng-hide="serverError">
                   <strong> Extended Msg Type </strong> : {{errorMessage['ExtendedMsgType']}}<br>
                   <strong> Extended Status Code</strong> : {{errorMessage['ExtendedStatusCd']}}<br>
                   <strong>Extended Status Desc </strong>: {{errorMessage['ExtendedStatusDesc']}}
               </div>
               <div ng-show="serverError" class="text-center">
                    {{serverError}}
               </div>
            </div>
            <div class="panel-footer text-center" ng-show="error">Status : {{status}}</div>
        </div>
    </div>

    <!--&lt;!&ndash;Standard claim search&ndash;&gt;-->
    <!--<div class="col-xs-12 col-md-12 col-lg-12">-->
        <!--<div class="form-group">-->
            <!--<div class="input-group">-->
                <!--<input ng-model="Data.message" type="text" class="form-control" placeholder="Search in this claim" />-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="submit" class="btn"><span class="fui-search"></span></button>-->
                <!--</span>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <!--Claim Info-->
    <div class="col-xs-12 col-md-12 col-lg-12" ng-hide="error">
        <div class="panel panel-events" ng-hide="loading">
            <div class="panel-body">
                <div>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Event Number :</strong><a href='#/events/{{claimInfo["EventNumber"]}}' class="text-info" > {{claimInfo["EventNumber"]}}</a>
                &nbsp;&nbsp;<i class="fa fa-share-square-o"></i>
                </span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Restricted Claim :</strong> {{claimInfo["RestrictedClaim"]}}</span>
                    <hr class="col-xs-10 col-xs-offset-1"/>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Date Of Event :</strong>{{claimInfo["DateOfEvent"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Time Of Event :</strong> {{claimInfo["TimeOfEvent"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Event Date Reported :</strong> {{claimInfo["EventDateRptd"]}}</span>
                    <hr class="col-xs-10 col-xs-offset-1"/>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Date Of Claim :</strong>{{claimInfo["DateOfClaim"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Time Of Claim :</strong> {{claimInfo["TimeOfClaim"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Claim Status :</strong> {{claimInfo["ClaimStatus"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Claim Type :</strong> {{claimInfo["ClaimType"]}}</span>
                    <hr class="col-xs-10 col-xs-offset-1"/>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>File Number :</strong> {{claimInfo["FileNumber"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Policy Name :</strong> {{claimInfo["PolicyName"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Company :</strong> {{claimInfo["Company"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Department : </strong>{{claimInfo["Department"]}}</span>
                    <hr class="col-xs-10 col-xs-offset-1"/>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Estimated Collection :</strong> {{claimInfo["EstCollection"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Loss Description :</strong> {{claimInfo["LossDescription"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Payment Frozen :</strong> {{claimInfo["PaymentsFrozen"]}}</span>

                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Service Code :</strong> {{claimInfo["ServiceCode"]}}</span>

                    <hr class="col-xs-10 col-xs-offset-1"/>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Record Last Updated :</strong> {{claimInfo["DateTimeRcdLastUpdated"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Close Method : </strong>{{claimInfo["CloseMethod"]}}</span>
                    <span class="col-xs-12 col-md-6 col-lg-6"><strong>Date Closed :</strong> {{claimInfo["DateClosed"]}}</span>

                </div>

            </div>
        </div>
    </div>

</div>
<!--Modals-->
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div id="myCalender" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Calender</h4>
                    </div>
                    <div class="modal-body">
                      Launch Device Calender App
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="myNotes" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Notes</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="alert alert-danger text-center col-xs-12" ng-show="noteError">
                            <strong>Error</strong>{{noteErrorMessage}}
                        </div>
                        <div class="alert alert-success text-center col-xs-12" ng-show="noteAdded">
                            <strong>Note Added!</strong>
                        </div>

                        <div class="text-center">
<br/>
                            <div class="col-xs-12 form-group">
                                <!--<label>Note Type</label>-->
                                <select ng-model="note.noteTypeCode" ng-options="note.desc for note in noteTypes.code" class="form-control col-xs-12" required="">
                                    <option ng-hide="note.noteTypeCode" value="">Select Note Type</option>
                                </select>
                            </div>
                            <div class="col-xs-12 form-group">
                                <span class="col-xs-1"><i class="fa fa-calendar fa-2x"/></span>
                                <span class="col-xs-6 col-xs-offset-1"><input type="date" ng-model="note.activityDate"  class="form-control" required/></span>
                            </div>

                            <div class="col-xs-12 form-group">
                                <textarea ng-model="note.noteText" rows="8" placeholder="note content" class="form-control" required=""></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="submit" class="btn btn-primary" ng-click="submitNote()" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="myCamera" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Picture</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12" ng-show="cam">
                            <camera><br/>
                                <camera-control-snapshot></camera-control-snapshot>
                            </camera>
                        </div>
                        <div class="col-xs-12" ng-show="picture">
                            <canvas id="canvas" class="col-xs-12 img-responsive"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="reTake()" ng-hide="cam">Retake</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="attach()" >Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="myVideo" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Video</h4>
                    </div>
                    <div class="modal-body">
                        Launch Device Native App
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="myAudio" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Audio</h4>
                    </div>
                    <div class="modal-body">
                        Launch Device Native App
                     </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="mySkype" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Launch Skype</h4>
                    </div>
                    <div class="modal-body">
                        Launch Device Native App
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="myTasks" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Task</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="alert alert-danger text-center col-xs-12" ng-show="taskError">
                            <strong>Error</strong>{{taskErrorMessage}}
                        </div>
                        <div class="alert alert-success text-center col-xs-12" ng-show="taskAdded">
                            <strong>Task Added!</strong>
                        </div>

                        <!--Add new task-->
                        <div class="text-center">
<br/>
                            <div class="form-group col-xs-12">
                                <input ng-model="task.name" placeholder="name" required="" class="form-control" required autofocus="true">
                            </div>
                            <div class="form-group col-xs-12">
                                <!--<label>Task Type</label>-->
                                <select ng-model="taskEntered" ng-options="task.desc for task in taskTypes.code" class="form-control col-xs-12" required="" >
                                 <option ng-hide="taskEntered" value="">Select Task Type</option></select>

                            </div>

                            <div class="form-group col-xs-12">
                                <span class="col-xs-1"><i class="fa fa-calendar fa-2x"></i></span>
                                <span class="col-xs-5">
                                    <input ng-model="task.dueDate" placeholder="Date Due" required="" class="form-control" type="date" required="true"/>
                                </span>
                                <span class="col-xs-1"><i class="fa fa-clock-o fa-2x"></i></span>
                                <span class="col-xs-5">
                                    <input ng-model="task.dueTime" placeholder="Time Due" required="" class="form-control" type="time" required="true" />
                                </span>
                            </div>

                            <div class="form-group col-xs-12">
                                <textarea ng-model="task.description" rows="8" placeholder="description" class="form-control" required="true"/>
                            </div>
                        </div>
                        <!--new task ends-->

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="submit" class="btn btn-primary" ng-click="submitTask()" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<div ng-show="loading">
    <div ng-include="'views/loading.html'"></div>
</div>

<div class="row" ng-hide="loading">
    <div class="col-xs-12 col-md-12 col-lg-12" ng-hide="error">
        <div class="panel panel-group" id="accordion">

        <!--Adjuster-->
        <div class="panel panel-events">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#adjusterInformation" class="fullWidth">Adjuster Information
                    </a>
                </h4>
            </div>
            <div id="adjusterInformation" class="panel-collapse collapse">
                <div ng-hide="adjusterInformation.Adjusters">
                    <div class="panel-body">
                        No Adjuster added!
                    </div>
                </div>
                <div class="panel-body" ng-repeat="adjuster in adjusterInformation.Adjusters">
                    <span class="col-xs-1"><i class="fa fa-user"></i></span>
                    <span class="col-xs-11">{{adjuster["AdjusterName"]}}
                        <span class="pull-right">Current Adjuster :  <span ng-if='adjuster["CurrentAdjuster"]==1'>Yes</span><span ng-if='adjuster["CurrentAdjuster"]==0'>No</span></span>
                    </span>
                    <span class="col-xs-12"></span>
                    <span class="col-xs-1"><i class="fa fa-home"></i></span>
                        <span class="col-xs-11">{{adjuster["Address"]}}<span ng-if="adjuster['City']">,</span>{{adjuster["City"]}}
                            <span ng-if="adjuster['State']">,</span> {{adjuster["State"]}}
                            <span ng-if="adjuster['ZipCode']">,</span>
                        {{adjuster["ZipCode"]}}</span>
                    <span class="col-xs-1"><i class="fa fa-phone"></i></span>
                        <span class="col-xs-11">Home :    {{adjuster["HomePhone"]}}
                            <br />
                            Office : {{adjuster["OfficePhone"]}}
                        </span>

                </div>
            </div>
        </div>

        <!--Claimants-->
        <div class="panel panel-events">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#claimantsInformation" class="fullWidth">Claimants Information
                    </a>
                </h4>
            </div>
            <div id="claimantsInformation" class="panel-collapse collapse">

                <!--<div ng-hide='$.isEmptyObject(employeeInformation) && claimantsInformation.Claimants.length'>-->
                    <!--<div class="panel-body">-->
                        <!--No Claimant present!-->
                    <!--</div>-->
                <!--</div>-->
                <!--when WC claim-->
                <div class="panel-body" ng-if='!$.isEmptyObject(employeeInformation)'>
                    <span class="col-xs-12">{{employeeInformation.EmployeeName}}</span>
                    <span class="col-xs-1"><i class="fa fa-home"></i></span>
                        <span class="col-xs-11">{{employeeInformation.Address}}
                            <span ng-if='employeeInformation.City'>,</span>{{employeeInformation.City}}
                            <span ng-if='employeeInformation.State'>,</span> {{employeeInformation.State}}
                            <span ng-if='employeeInformation.ZipCode'>,</span>
                        {{employeeInformation.ZipCode}}</span>
                    <span class="col-xs-1"><i class="fa fa-phone"></i></span>
                        <span class="col-xs-11">{{employeeInformation.HomePhone}}
                            <br />
                            {{employeeInformation.OfficePhone}}
                        </span>
                    <span class="col-xs-4">Sex :{{employeeInformation["Sex"]}}</span>
                    <span class="col-xs-4">SocialSecNo : {{employeeInformation["SocialSecNo"]}}</span>
                    <span class="col-xs-4">DateOfBirth : {{employeeInformation["DateOfBirth"]}}</span>
                    <!--<span class="col-xs-12">Type : {{claimant["ClaimantType"]}}</span>-->
                    <span class="col-xs-12">Damage Description : {{employeeInformation["DamageDescription"]}}</span>
                    <span class="col-xs-12">InjuryDescription : {{employeeInformation["InjuryDescription"]["whitespace"]}}</span>
                    <span class="col-xs-12">{{employeeInformation["Insurer"]}}</span>
                    <!--<span class="col-xs-12">SOLDate : {{claimant["SOLDate"]}}</span>-->

                </div>
                <!--other cases-->
                <div class="panel-body" ng-repeat="claimant in claimantsInformation.Claimants" ng-if='employeeInformation.length==0'>
                    <span class="col-xs-12">{{claimant["ClaimantName"]}}</span>
                    <span class="col-xs-1"><i class="fa fa-home"></i></span>
                        <span class="col-xs-11">{{claimant["Address"]}}
                            <span ng-if="claimant['City']">,</span>{{claimant["City"]}}
                            <span ng-if="claimant['State']">,</span> {{claimant["State"]}}
                            <span ng-if="claimant['ZipCode']">,</span>
                        {{claimant["ZipCode"]}}</span>
                    <span class="col-xs-1"><i class="fa fa-phone"></i></span>
                        <span class="col-xs-11">{{claimant["HomePhone"]}}
                            <br />
                            {{claimant["OfficePhone"]}}
                        </span>
                    <span class="col-xs-4">Sex :{{claimant["Sex"]}}</span>
                    <span class="col-xs-4">SocialSecNo : {{claimant["SocialSecNo"]}}</span>
                    <span class="col-xs-4">DateOfBirth : {{claimant["DateOfBirth"]}}</span>
                    <!--<span class="col-xs-12">Type : {{claimant["ClaimantType"]}}</span>-->
                    <span class="col-xs-12">Damage Description : {{claimant["DamageDescription"]}}</span>
                    <span class="col-xs-12">InjuryDescription : {{claimant["InjuryDescription"]["whitespace"]}}</span>
                    <span class="col-xs-12">{{claimant["Insurer"]}}</span>
                    <!--<span class="col-xs-12">SOLDate : {{claimant["SOLDate"]}}</span>-->

                </div>
            </div>
        </div>

        <!--Persons-->
        <div class="panel panel-events">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#personsInvolved" class="fullWidth">Persons Involved
                    </a>
                </h4>
            </div>

            <div id="personsInvolved" class="panel-collapse collapse">
                <div class="panel-body" ng-hide="personsInvolved.length">
                    No one attached!
                </div>
                <div class="panel-body">
                    <div ng-repeat="p  in personsInvolved " >
                        <div class="col-xs-12">
                            <hr  class="col-xs-12"/>
                            <span class="col-xs-1"><i class="fa fa-user fa-1x"></i></span>
                            <span class="col-xs-11">{{p["Name"]}}</span>
                            <span class="col-xs-11 col-xs-offset-1">
                                <span ng-show='p["EntityType"]'>{{p["EntityType"]}}</span>
                                <span ng-hide='p["EntityType"]'>{{p["Type"]}}</span>
                            </span>
                            <span class="col-xs-1"><i class="fa fa-phone fa-1x"></i></span>
                            <span class="col-xs-11">{{p["HomePhone"]}}</span>
                            <span class="col-xs-11 col-xs-offset-1">{{p["OfficePhone"]}}</span>
                            <span class="col-xs-1"><i class="fa fa-home fa-1x"></i></span>
                            <span class="col-xs-11">{{p["AddressInformation"]["Address1"]["Addr1"]}}
                                <span ng-if='p["AddressInformation"]["Address1"]["Addr2"]'>,</span>
                                {{ p["AddressInformation"]["Address1"]["Addr2"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Payment-->
        <div class="panel panel-events">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#paymentHistory" class="fullWidth">Payment History
                    </a>
                </h4>
            </div>
            <div id="paymentHistory" class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-show="paymentDetailError" class="alert-danger">
                        <div ng-hide="serverError" class="col-xs-12">
                            <strong> Extended Msg Type </strong> : {{paymentDetailMessage['ExtendedMsgType']}}<br>
                            <strong> Extended Status Code</strong> : {{paymentDetailMessage['ExtendedStatusCd']}}<br>
                            <strong>Extended Status Desc </strong>: {{paymentDetailMessage['ExtendedStatusDesc']}}
                        </div>
                        <div ng-show="serverError" class="col-xs-12  text-center">
                            {{serverError}}
                        </div>
                    </div>

                </div>
                <div ng-hide="paymentDetailError"  class="panel-body">
                    <div>
                        <span class="col-xs-12 text-left"><strong>Policy : </strong>{{claimInfo.PolicyName}} </span>
                        <span class="col-xs-12 text-left">
                            <strong>Policy Holder : </strong><span>{{claimantsInformation.Claimants["Claimant1"]["ClaimantName"]}}</span><span>{{employeeInformation.EmployeeName}}</span>
                        </span>
                    </div>
                    <hr class ="fullWidth"/>
                    <div>
                        <span class="col-xs-12 text-left"><strong>Payment Summary</strong> </span>
                        <span class="col-xs-6 text-left">Total Payments :</span><span class="col-xs-6 text-left">{{paymentDetails.TotalPay}}</span>
                        <span class="col-xs-6 text-left">Total Collections :</span><span class="col-xs-6 text-left">{{paymentDetails.TotalCollect}}  </span>
                        <span class="col-xs-6 text-left">Net Total :</span><span class="col-xs-6 text-left">{{paymentDetails.TotalAll}}</span>
                        <span class="col-xs-6 text-left">Total Voids : </span><span class="col-xs-6 text-left">{{paymentDetails.TotalVoid}}</span>
                    </div>
                    <hr class ="fullWidth" />
                    <div>
                        <span class="col-xs-4"><strong>Filters</strong></span>
                        <span class="col-xs-4">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuPayment" data-toggle="dropdown">
                                    Payment Type
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuPayment">
                                    <li role="presentation" ng-repeat="p in paymentDetails.row | unique:'PaymentTypes'"><a role="menuitem" tabindex="-1" ng-click="paymentFilter(p.PaymentTypes)">{{p.PaymentTypes}}</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="paymentFilter('')">All</a></li>
                                </ul>
                            </div>
                        </span>
                        <span class="col-xs-4">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuStatus" data-toggle="dropdown">
                                    Payment Type
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuStatus">
                                    <li role="presentation" ng-repeat="p in paymentDetails.row | unique:'CheckStatus'"><a role="menuitem" tabindex="-1" ng-click="paymentFilter(p.CheckStatus)">{{p.CheckStatus}}</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="paymentFilter('')">All</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <hr class ="fullWidth" />

                        <table class="table table-hover col-xs-12">
                            <tr><th>Date</th><th>Payment Type</th><th>Payee</th><th>Status</th><th>Check Amount</th></tr>
                            <tr ng-repeat="payment in paymentDetails.row | filter: paymentFilterType">
                                <td>{{payment["CheckDate"]}}</td>
                                <td>{{payment["PaymentTypes"]}}</td>
                                <td>{{payment["Name"]}}</td>
                                <td>{{payment["CheckStatus"]}}</td>
                                <td>{{payment["Amount"]}}</td>
                            </tr>
                        </table>


                </div>
            </div>
        </div>

        <!--&lt;!&ndash;Policy&ndash;&gt;-->
        <!--<div class="panel panel-events">-->
            <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">-->
                    <!--<a data-toggle="collapse" data-parent="#accordion" data-target="#policyManagementInformation" class="fullWidth">Policy Management Information-->
                    <!--</a>-->
                <!--</h4>-->
            <!--</div>-->
            <!--<div id="policyManagementInformation" class="panel-collapse collapse">-->
                <!--<div class="panel-body" ng-hide="policyManagementInformation">-->
                    <!--NO info present!-->
                <!--</div>-->
                <!--<div class="panel-body" ng-repeat="(key,value) in policyManagementInformation">-->
                    <!--<strong>{{key}}</strong>:{{value}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--Tasks -->
        <div class="panel panel-events">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#diaryEntryDetail">Tasks
                    </a><span class="pull-right">
                    ({{tasks.length || 0}})
                    <a data-toggle="modal" data-target="#myTasks"><span class="glyphicon glyphicon-plus"></span></a>
                    </span>
                </h4>
            </div>
            <div id="diaryEntryDetail" class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-hide="tasks.length">
                        Zero Dairies! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
                    </div>
                    <!--Print Tasks-->
                    <div ng-repeat="task in tasks">
                        <hr class="col-xs-12"/>
                        <!--<span ng-repeat='(key, value) in diary track by $index' class="col-xs-12">-->
                        <!--<strong>{{key}}</strong>:{{value}}-->
                        <!--</span>-->
                        <span class="col-xs-12"><strong>Task Name : </strong> {{task["task subject"]}}</span>
                        <span class="col-xs-12"><strong>Entry Notes : </strong> {{task["entry notes"]}}</span>
                        <span class="col-xs-12"><strong>Due on : </strong>{{task["complete date"]}} {{task["complete time"]}}</span>
                        <span class="col-xs-12"><strong>Work Activity : </strong> {{task["work activity"]}}</span>
                    </div>
                    <!--Printing ends-->
                </div>
            </div>
        </div>

        <!--Notes-->
        <div class="panel panel-events">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#notes">Notes
                        </a>
                        <span class="pull-right">
                            ({{notes.length ||0}})
                        <!--<a ng-click="toggleNote()"><span class="glyphicon glyphicon-plus"></span></a>-->
                        <a data-toggle="modal" data-target="#myNotes"><span class="glyphicon glyphicon-plus"></span></a>
                        </span>
                    </h4>
                </div>
                <div id="notes" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-hide="notes.length">
                                Zero Notes! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
                        </div>
                       <div ng-repeat="note in notes">
                            <hr class="col-xs-12" />
                            <span class="col-xs-12">NoteType : {{note["NoteType"]}}</span>
                            <span class="col-xs-12">Subject :  {{note["Subject"]}}</span>
                            <span class="col-xs-12">Text : {{note["NoteText"]}}</span>
                            <span class="col-xs-12"><i class="fa fa-calendar"></i>:  &nbsp;
                             {{note["DateCreated"]}} &nbsp;{{note["TimeCreated"]}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        <!--Attachments-->
        <!--<div class="panel panel-events">-->
                <!--<div class="panel-heading">-->
                    <!--<h4 class="panel-title">-->
                        <!--<a data-toggle="collapse" data-parent="#accordion" data-target="#attachments" class="fullWidth">Attachments</a>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div id="attachments" class="panel-collapse collapse">-->
                    <!--<div class="panel-body">-->
                        <!--Attachments here :-->
                        <!--Download-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    </div>
</div>
</div>

