﻿<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-events">
            <div class="panel-heading text-center">{{event["Event Number"]}}</div>
            <div class="panel-body">
                <a class="pomegranate" data-toggle="modal" data-target="#myCalender"><i class="fa fa-calendar fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myTasks"><i class="fa fa-tasks fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myCamera"> <i class="fa fa-camera fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myVideo"> <i class="fa fa-video-camera fa-2x col-xs-2"></i></a>
                <a class="pomegranate" data-toggle="modal" data-target="#myAudio"><i class="fa fa-microphone fa-2x col-xs-2"></i> </a>
                <a class="pomegranate" data-toggle="modal" data-target="#mySky"><i class="fa fa-skype fa-2x col-xs-2"></i> </a><br/><br/>
            </div>
            <!--We need to get status from EventDetails-->
            <!--<div class="panel-footer text-center">Status : Success</div>-->

        </div>
    </div>

    <div class="col-xs-12">
            <div id="myCalender" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">Attach Calender</h4>
                        </div>
                        <div class="modal-body">
                          Launch Device Calender App
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="myCamera" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">Attach Picture</h4>
                        </div>
                        <div class="modal-body">
                            Launch native app
                            <!--<div class="col-xs-12" ng-show="cam">-->
                                <!--<camera><br/>-->
                                    <!--<camera-control-snapshot></camera-control-snapshot>-->
                                <!--</camera>-->
                            <!--</div>-->
                            <!--<div class="col-xs-12" ng-show="picture">-->
                                <!--<canvas id="canvas" class="col-xs-12 img-responsive"></canvas>-->
                            <!--</div>-->
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="reTake()" ng-hide="cam">Retake</button>-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                            <!--<button type="button" class="btn btn-primary" ng-click="attach()" >Save</button>-->
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="myVideo" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">Attach Video</h4>
                        </div>
                        <div class="modal-body">
                        Launch native app
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="myAudio" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">Attach Audio</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="mySky" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">Launch Skype</h4>
                        </div>
                        <div class="modal-body">
                         Launch native app
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="myTasks" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center">Attach Task</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="alert alert-danger text-center col-xs-12" ng-show="taskError">
                            <strong>Error</strong>{{taskErrorMessage}}
                        </div>
                        <div class="alert alert-success text-center col-xs-12" ng-show="taskAdded">
                            <strong>Task Added!</strong>
                        </div>

                        <!--Add new task-->

<br/>
                            <div class="form-group col-xs-12">
                                <input ng-model="task.name" placeholder="name" required="" class="form-control">
                            </div>
                            <div class="form-group col-xs-12">
                                <select ng-model="taskEntered" ng-options="task.desc for task in taskTypes.code" class="form-control">
                                    <option value="" ng-hide="taskEntered">Select Task Type</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12">
                                <span class="col-xs-1"><i class="fa fa-calendar fa-2x"></i></span>
                                <span class="col-xs-5">
                                    <input ng-model="task.dueDate" placeholder="Date Due" required="" class="form-control" type="date" required="true"/>
                                </span>
                                <span class="col-xs-1"><i class="fa fa-clock-o fa-2x"></i></span>
                                <span class="col-xs-5">
                                    <input ng-model="task.dueTime" placeholder="Time Due" required="" class="form-control" type="time" required="true" />
                                </span>
                            </div>
                            <div class="form-group col-xs-12">
                                <textarea ng-model="task.description" rows="8" placeholder="description" class="form-control" />
                            </div>
                         </div>
                        <!--new task ends-->


                    <div class="modal-footer">
                        <input type="submit" value="submit" class="btn btn-primary" ng-click="submitTask()" />
                        <button type="button" class="btn btn-inverted" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-events">
            <!--<div class="panel-heading ">-->
                <!--{{event["Event Number"]}}-->
            <!--</div>-->
            <div class="panel-body">
                <i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{event["Event Date"]["formatedtext"]}}<span ng-if="event['Loc.: State']">,</span> {{event["Loc.: State"]}}
                <hr />
                <p>{{event["Event Description"]}}</p>
                <hr />
                <i class="fa fa-paperclip"></i><hr>
                <div class="media">
                    <a class="pull-right" href="#">
                       <!-- <i class="fa fa-map-marker fa-2x silver"></i>-->
                    </a>
                    <div class="media-body">
                        
                        <i class="fa fa-location-arrow"></i>   {{event["Loc.: Address 1"]}}<span ng-if="event['Loc.: Address 2']">,</span> {{event["Loc.: Address 2"]}}
                        <span ng-if="event['Loc.: City']">,</span> {{event["Loc.: City"]}}<span ng-if="event['Loc.: Country']">,</span> {{event["Loc.: Country"]}}
                        <span ng-if="event['Loc.: State']">,</span>
                        {{event["Loc.: State"]}}<span ng-if="event['Loc.: ZIP/Postal Code']">,</span> {{event["Loc.: ZIP/Postal Code"]}}
                        
                    </div>
                </div>
                <hr />
                <!--<!--<google-map center="map.center" zoom="map.zoom"></google-map>-->-->
                <!--<div ng-show='geoCodeMessage' class="col-xs-12 text-center">-->
                    <!--{{geoCodeMessage}}-->
                <!--</div>-->
                <!--<div id="map-canvas" style="height: 480px;"/>-->

                <!--<marker coords="marker"></marker>-->
                <hr />

                <div class="panel-group" id="eventPanels">
                    <!--Claims-->
                    <div class="panel panel-events">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#eventPanels" data-target="#claims">Claims</a>
                                <span class="pull-right">
                                   ( {{claims.length || 0}})
                                </span>
                            </h4>
                        </div>
                        <div id="claims" class="panel-collapse collapse">
                            <div ng-hide="claims.length">
                                <div class="panel-body">
                                    No claims attached

                                </div>
                            </div>

                            <div class="panel-body" ng-repeat="claim in claims">
                                <span class="col-xs-3">Claim :</span><span class="col-xs-9"><a href='#/claims/{{claim["Claim Number"]}}' class="text-info"> {{claim["Claim Number"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span><br/>
                                <span class="col-xs-3">Claimant :</span><span class="col-xs-9">{{claim["Claimant First Name"]}}{{claim["Claimant Last Name"]}}</span>
                                <br />
                            </div>
                        </div>

                    </div>

                    <!--Tasks-->
                    <div class="panel panel-events">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#eventPanels" data-target="#tasks" class="">Tasks</a>
                                <span class="pull-right">
                                    ({{tasks.length||0}})
                                    <a data-toggle="modal" data-target="#myTasks"><span class="glyphicon glyphicon-plus"></span></a>
                                </span>
                            </h4>
                        </div>
                        <div id="tasks" class="panel-collapse collapse">
                             <div ng-hide="tasks.length">
                                <div class="panel-body">
                                    No tasks here! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
                                </div>
                            </div>
                            <div class="panel-body" ng-repeat="task in tasks">
                                <span class="col-xs-12"><strong>Task Name : </strong> {{task["task subject"]}}</span>
                                <span class="col-xs-12"><strong>Entry Notes : </strong> {{task["entry notes"]}}</span>
                                <span class="col-xs-12"><strong>Due on : </strong>{{task["complete date"]}} {{task["complete time"]}}</span>
                                <span class="col-xs-12"><strong>Work Activity : </strong> {{task["work activity"]}}</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>