<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-events" ng-show="error">
            <div class="panel-heading text-center">
                Event  Status : {{status}}
            </div>
            <div class="panel-footer">
              <h4>  Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
                Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
                Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}</h4>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
                <input ng-model="Data.message" type="text" class="form-control" placeholder="Event Search" />
        </div>
    </div>

    <div class="col-xs-12 text-center" ng-show="Event.loading">
        <!--<i class="fa fa-spinner fa-spin fa-3x"></i>-->
        <div ng-include="'views/loading.html'"></div>
    </div>
   
    <div class="col-xs-12" ng-repeat="e in formattedEvents | filter: Data.message" ng-hide="loading">
        <div class="panel panel-events">
            <div class="panel-heading text-center">
                <a href='#/events/{{e["Event Number"]}}' class="fullWidth">Event : {{e["Event Number"]}}</a>
            </div>
            <div class="panel-body">
                <i class="fa fa-tag"></i>   {{e["Event Date"]["formatedtext"]}}<span ng-if="e['Loc.: State']">,</span>{{e["Loc.: State"]}}
                <hr class="col-xs-12" />

                <p>
                    {{e["Event Description"]}}
                </p>
                <hr class="col-xs-12" />
                <span class="pull-right">Claim :{{e["Number of Claims"] || 0}}, Task :{{e["Number of Tasks"] ||0}}</span>
            </div>

        </div>
    </div>


</div>




