<div class="row">
     <div class="col-xs-12  ">
         <div class="panel panel-events">
             <div class="panel-heading">
                 <h6>Send Us A Message</h6>
                 <p>We Would Love To Hear From You</p>
             </div>
             <div class="panel-body">
                 <div class="col-xs-6">
                     <input type="username" ng-focus="true" ng-model="user.username" placeholder="username" required="" class="form-control">
                 </div>
                 <div class="col-xs-6">
                     <input type="email" ng-focus="true" ng-model="user.email" placeholder="email" required="" class="form-control"><br />
                 </div>
                 <div class="col-xs-12">
                     <textarea ng-model="user.feedback" placeholder="message" class="form-control" rows="6" />
                 </div>
                 <div class="col-xs-4">
                     <br />
                     <input type="submit" value="submit" class="btn btn-primary" ng-click="submit()" />
                     <br />
                 </div>
             </div>

         </div>

    </div>



</div>