<!--welcomeDiv-->
<div class="row" ng-show="welcomeDiv">
    <section class="main center-block">
        <ul class="ch-grid">
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <h1 class="white">rmA</h1>
                        <p>Adjuster Mobile <a ng-click="getStarted()">Get Started!</a></p>
                    </div>
                    <div class="ch-thumb ch-img-1"></div>
                </div>
            </li>
        </ul>
    </section>
</div>
<!--loginDiv-->
<div class="row" ng-show="loginDiv">
    <!--<button class="btn btn-lg logo col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">RISK<span id="master">MASTER</span> Accelerator Mobile</button>-->
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <!--<div class="row" ng-hide="signedIn()">-->
        <!--<div class="col-xs-12 text-center">-->
        <!--<a href="#">  <img src="images/csclogo.png"></a>-->
        <!--</div>-->
        <!--</div>-->
        <div class="alert alert-danger text-center" ng-show="error">
            <strong>{{message}}</strong>
        </div>
        <div  ng-hide="signedIn()"><br/>
            <div class="login-form text-center" ng-hide="loginLoading">
                <h3>Sign in to continue</h3>
                <form ng-submit="login()">
                    <input type="server" autofocus="true" ng-model="server" placeholder="server" class="form-control"><br />
                    <input type="username"  ng-model="user.username" placeholder="username" class="form-control" required=""><br />
                    <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required=""><br />
                    <!--<input type="submit" value="Log in" class="btn btn-primary" />-->
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                </form>
            </div>
            <div ng-show="loginLoading" class="text-center">
                <!--<i class="fa fa-spinner fa-spin fa-4x"></i>-->
                <div ng-include="'views/loading.html'"></div>
            </div>
        </div>

        <!--DSN Selection-->
        <!--<div class="dropdown" ng-show="signedIn()">-->
        <!--<div ng-show="dsnLoading">-->
        <!--<div ng-show="loading" class="text-center">-->
        <!--<i class="fa fa-spinner fa-spin fa-4x"></i>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div ng-hide="dsnLoading">-->
        <!--<button class="btn btn-lg btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Select DSN<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu text-left">-->
        <!--<li ng-repeat="dsn in userDSNs" class="fullWidth">-->
        <!--<a ng-click="goo(dsn)">{{dsn.Key}}</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="alert alert-danger text-center" ng-show="dsnError">-->
        <!--<strong>{{message}}</strong>-->
        <!--</div>-->
        <!--</div>-->
        <div class="dropdown" ng-show="signedIn()">
            <div class="alert alert-danger text-center" ng-show="error">
                <strong>{{message}}</strong>
            </div>
            <div ng-show="dsnLoading">
                <div ng-show="loading" class="text-center">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
            </div>
            <div ng-hide="dsnLoading">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownDSN" data-toggle="dropdown">
                    Select DSN
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="dropdownDSN">
                    <li role="presentation" ng-repeat="dsn in userDSNs">
                        <a role="menuitem" tabindex="-1" ng-click="goo(dsn)">{{dsn.Key}}</a>
                    </li>
                </ul>
            </div>
            <div class="alert alert-danger text-center" ng-show="dsnError">
                <strong>{{message}}</strong>
            </div>
        </div>
    </div>
</div>

<!--homeDiv-->
<div class="row" ng-show="homeDiv">

    <!--<div class="col-xs-12" ng-if='progressBarStatus==100'>-->
    <!--<div class="form-group">-->
    <!--<input ng-model="Data.message" type="text" class="form-control" placeholder="Search riSky" />-->
    <!--</div>-->
    <!--</div>-->
    <div ng-hide='progressBarStatus==100'>

        <div class="col-xs-12 text-center">
            <p>Please wait while we set things up..</p>
        </div>
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progressBarStatus}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width:(progressBarStatus+'%')}">
                    {{progressBarStatus}}%
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12" ng-hide='progressBarStatus<100'>
        <ul class="list-group">
            <!--<li class="list-group-item "><a class="btn peterRiver fullWidth" href="#/events"><h4>Events<span class="pull-right">({{totalEvents||0}})</span></h4></a></li>-->
            <!--<li class="list-group-item"><a class="peterRiver  btn fullWidth" href="#/claims"><h4>Claims<span class="pull-right">({{totalClaims||0}})</span></h4></a></li>-->
            <!--<li class="list-group-item"><a class="peterRiver  btn fullWidth" href="#/tasks"><h4>Tasks<span class="pull-right">({{totalTasks||0}})</span></h4></a></li>-->
            <!--<hr class="red">-->
            <li class="list-group-item">
                <h4>
                    <a class="btn peterRiver fullWidth" href="#/events">
                        Events
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a class="btn red fullWidth" href="#/claims">
                        Claims
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a class="btn orange fullWidth" href="#/tasks">
                        Tasks
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="#/login" class="btn nephritis fullWidth">
                        <i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change DSN
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a ng-click="reload()" class="btn peterRiver fullWidth">
                        <i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sync App
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="#/feedback" class="btn peterRiver fullWidth">
                        <i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feedback
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="#/settings" class="btn peterRiver fullWidth">
                        <i class="fa fa-gear"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a ng-click="logout()" class="btn peterRiver fullWidth">
                        <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout
                    </a>
                </h4>
            </li>
        </ul>
    </div>
    <div class="col-xs-12" ng-if='progressBarStatus==100'>
        <p class="text-center"><i class="fa fa-cloud-download"></i> &nbsp;&nbsp;&nbsp;Last updated : {{lastUpdated | date:'medium'}}</p>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>