<div class="row">
        <!--<div class="col-xs-12 text-center">-->
                 <!--<img src="images/csclogo.png">-->
        <!--</div>-->
        <!--<div class="col-xs-12 text-center">-->
            <!--<strong>Sign in to continue to riSky</strong>-->
        <!--</div>-->

        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"><br/>
            <div  ng-hide="signedIn()">
                <div class="alert alert-danger text-center" ng-show="error">
                    <strong>{{message}}</strong>
                </div>

                <div class="login-form text-center" ng-hide="loginLoading">
                    <h5 class="someDefault">riSky</h5>
                    <form ng-submit="login()">
                        <input type="server" ng-focus="true" ng-model="server" placeholder="server" class="form-control"><br />
                        <input type="username" ng-model="user.username" placeholder="username" class="form-control" required=""><br />
                        <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required=""><br />
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </form>
                </div>
                <div ng-show="loginLoading" class="text-center">
                    <!--<i class="fa fa-spinner fa-spin fa-4x"></i>-->
                    <div ng-include="'views/loading.html'"></div>
                </div>
            </div>

            <!--DSN Selection-->
            <div class="dropdown" ng-show="signedIn()">
                <div class="alert alert-danger text-center" ng-show="error">
                    <strong>{{message}}</strong>
                </div>
                <div ng-show="dsnLoading">
                    <div ng-show="loading" class="text-center">
                        <i class="fa fa-spinner fa-spin fa-4x"></i>
                    </div>
                </div>
                <div ng-hide="dsnLoading">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownDSN" data-toggle="dropdown">
                        Select DSN
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="dropdownDSN">
                        <li role="presentation" ng-repeat="dsn in userDSNs">
                            <a role="menuitem" tabindex="-1" ng-click="goo(dsn)">{{dsn.Key}}</a>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-danger text-center" ng-show="dsnError">
                    <strong>{{message}}</strong>
                </div>
            </div>
        </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <button class="navbar-fixed-bottom btn btn-lg logo btn-block">&copy;2014 Computer Sciences Corporation</button>
    </div>
</div>
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
            <!--<h1 class="text-center login-title">Sign in to continue to risky</h1>-->
            <!--<div class="account-wall">-->
                <!--<form class="form-signin">-->
                    <!--<input type="text" class="form-control" placeholder="Email" required autofocus>-->
                    <!--<input type="password" class="form-control" placeholder="Password" required>-->
                    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">-->
                        <!--Sign in</button>-->
                    <!--<label class="checkbox pull-left">-->
                        <!--<input type="checkbox" value="remember-me">-->
                        <!--Remember me-->
                    <!--</label>-->
                    <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

