<div class="row" >
    <div class="col-xs-12" >
        <div class="btn-toolbar">
            <div class="btn-group  btn-group-justified">
                <a class="btn btn-primary" href="#/home"><span class="glyphicon glyphicon-home"></span></a>
                <a class="btn btn-primary" href="#/login"><i class="fa fa-database fa-1x"></i></a>
                <a class="btn btn-primary" href="#/home" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                <a class="btn btn-primary" href="#/feedback"><span class="glyphicon glyphicon-comment"></span></a>
                <!--<a class="btn btn-primary" href="#/request"><i class="fa fa-paper-plane"></i></a>-->
                <a class="btn btn-primary" href="#/about"><i class="fa fa-info-circle fa-1x"></i></a>
                <a class="btn btn-primary" href="#/settings"><span class="fui-gear"></span></a>
                <a class="btn btn-primary" href="#" ng-click="logout()"><span class="glyphicon glyphicon-off"></span></a>
            </div>

        </div>
    </div>
</div>

<!--sessionReady()-->
<div class="row">
    <div class="col-xs-12" >
        <div class="btn-toolbar text-center">
            <div class="btn-group  btn-group-justified">
                <a class="btn peterRiver col-xs-4" href="#/events">Events</a>
                <a class="peterRiver col-xs-4 btn" href="#/claims">Claims</a>
                <a class="peterRiver col-xs-4 btn" href="#/tasks">Tasks</a>
            </div>

        </div>
    </div>
    <!--<div class="btn-group btn-group-justified">-->
        <!--<div class="btn-group">-->
            <!--<a href="#/events"><button type="button" class="btn btn-default">Events</button></a>-->
        <!--</div>-->
        <!--<div class="btn-group">-->
            <!--<a href="#/claims"><button type="button" class="btn btn-default">Claims</button></a>-->
        <!--</div>-->
        <!--<div class="btn-group">-->
            <!--<a href="#/tasks"><button type="button" class="btn btn-default">Tasks</button></a>-->
        <!--</div>-->
    <!--</div>-->
</div>
