
<div class="row">
    <div class="col-xs-12">
        <h5>Paste Your XML request Here</h5><hr/>
    </div>

    <div class="col-xs-12">
        <textarea ng-model="request" placeholder="request" class="form-control"/>
    </div>
    <div class="col-xs-4"><br/>
        <input type="submit" value="submit" class="btn btn-primary" ng-click="requestFire()"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5>riSky response</h5><hr/>
    </div>
    <div class="col-xs-12">
        
            {{response}}
        

    </div>

</div>
<div class="row">
    <div class="col-xs-11">
        Add request : <input ng-model="address">
        <input type="submit" value="get geoCodes" ng-click="getAddress()">
    </div>
    <div class="col-xs-11">
        {{geoCodes}}
    </div>
</div>