<h5 class="demo-panel-title" ng-show="signedIn()">Settings</h5>

<div class="share mrl" ng-show="signedIn()">
    <div class="form-group" ng-controller="SettingsCtrl">
        <br/>
        <p ng-show="error" class="text-danger col-lg-8">{{ error }}</p>
        <br/>
        <ul class="col-xs-12 col-md-12 col-lg-12">
            <a ng-click="change()" class="btn btn-block btn-lg btn-primary">Change Password</a>
        </ul>
        <br/>
        <ul class="col-lg-12" ng-show="changeW">
            <form ng-submit="changePassword()">
            <input type="password" ng-model="password" placeholder=" Current Password" class="form-control"><br>
            <input type="password" ng-model="newPassword" placeholder="New Password" class="form-control"><br>
            <input type="password" ng-model="newPassword" placeholder="New Password" class="form-control"><br>
            <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </ul>
        <br/>
        <ul class="col-xs-12 col-md-12 col-lg-12" ng-show="w">
            <a ng-click="delete()"  class="btn btn-block btn-lg btn-danger">Delete Account</a>
        </ul>
        <br/>
        <ul class="col-lg-12" ng-show="deleteW">
            <form ng-submit="deleteAccount()">
                <input type="text" ng-model="email" placeholder="Email" class="form-control"><br>
                <input type="password" ng-model="password" placeholder="Password" class="form-control"><br>
                <input type="submit" value="delete" class="btn btn-danger" />
            </form>
        </ul>



    </div>

</div>




