<div class="row">
    <div class="col-xs-12" ng-show="error">
        <div class="panel panel-events">
            <div class="panel-heading text-center ">
                Tasks  Status : {{status}}
            </div>
        </div>
        <div class="panel-footer" >
            Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
            Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
            Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
                <input ng-model="Data.message" type="text" class="form-control" placeholder="Task Search" />
        </div>
    </div>
    <div class="col-xs-12 text-center" ng-show="loading">
        <!--<i class="fa fa-spinner fa-spin fa-3x"></i>-->
        <div ng-include="'views/loading.html'"></div>
    </div>
    <div class="col-xs-12" ng-hide="loading">
        <div class="panel panel-events" ng-repeat="d in formattedTasks | filter: Data.message track by $index">
            <div class="panel-heading">
                <strong> Subject : </strong>{{d["task subject"]}}

            </div>
            <div class="panel-body">

                <span class="col-xs-3"><strong>Entry Notes : </strong></span>
                <span class="col-xs-9">
                {{d["entry notes"]}}
                </span>
                <hr class="col-xs-12"/>
                <span class="col-xs-3"><strong>Due on : </strong></span>
                <span class="col-xs-9">
                {{d["complete date"]}} {{d["complete time"]}}<br/>
                </span>
                <hr class="col-xs-12"/>
                <span class="col-xs-3"><strong>Work Activity :</strong></span>
                <span class="col-xs-9">
                    {{d["work activity"]}}
                </span>
                <hr class="col-xs-12"/>
                <span class="col-xs-12" ng-if='d["attachments"].length>2'>
                    <strong>  Attach To : </strong>{{d["attachments"]}}
                    <span class="pull-right">
                <span ng-show='d.linked'>
                <span ng-if="d.type=='C'"><a href='#/claims/{{d["linked"]}}' class="text-info" >{{d["linked"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span>
                <span ng-if="d.type=='E'"><a href='#/events/{{d["linked"]}}' class="text-info" >{{d["linked"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span>
                </span>
                </span>
                </span>
            </div>

        </div>
    </div>
</div>

