﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MDA-Redirector.aspx.cs" Inherits="Riskmaster.UI.UI.MDALookUp.MDA_Redirector" %>
<%@ Register Src="~/UI/Shared/Controls/PleaseWaitDialog.ascx" TagName="PleaseWaitDialog"
    TagPrefix="uc2" %>
<%@ Register Src="~/UI/Shared/Controls/ErrorControl.ascx" TagName="ErrorControl"
    TagPrefix="uc3" %>
<%@ Register Src="~/UI/Shared/Controls/CommonTasks.ascx" TagName="CommonTasks" TagPrefix="uc4" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <uc3:ErrorControl ID="ErrorControl1" runat="server" />
      <asp:TextBox Style="display: none" ID="txtMedicalCode" runat="server" />
    <asp:TextBox Style="display: none" ID="txtJobID" runat="server" />

    </div>
    </form>
</body>
</html>
