﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StrataWare.aspx.cs" Inherits="Riskmaster.UI.UI.Strataware.StrataWare" %>
<%@ Register TagPrefix="uc1" TagName="ErrorControl" Src="~/UI/Shared/Controls/ErrorControl.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <script type="text/javascript" language="JavaScript" src="../../../Scripts/form.js"></script>
     <script type="text/javascript">
         function LoadMDI() {
             try { parent.MDIScreenLoaded(); } catch (e) { }
         }
    </script>

    <title></title>
    
</head>

   <%-- mbahl3 Mits 34646--%>
 <body onload="parent.MDIScreenLoaded();">
    <form id="form1" runat="server">
          <uc1:ErrorControl ID="ErrorControl1" runat="server" />
        <asp:HiddenField ID="UserId" runat="server" Value="" />
        <asp:HiddenField ID="UserName" runat="server" Value="" />
        <asp:HiddenField ID="UserEmail" runat="server" Value=""/>
        

        <div>
    
    </div>
    </form>
</body>
</html>


