﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DocumentListCommon.aspx.cs" Inherits="Riskmaster.UI.UI.Document.DocumentListCommon" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body onload="try {parent.MDIScreenLoaded();} catch(e){} if(document.getElementById('strUrl').value != '') window.location.href = document.getElementById('strUrl').value;">
    <form id="form1" runat="server">
    <div>
    <asp:HiddenField ID="hdocIdListids" runat="server" />
    <asp:HiddenField ID="strUrl" runat="server" />
    </div>
    </form>
</body>
</html>
