﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeLookUp.ascx.cs" Inherits="Riskmaster.UI.Shared.Controls.CodeLookUp" %>
<asp:TextBox  ID="codelookup"  MaxLength="100" onblur="codeLostFocus(this.id);" onchange="lookupTextChanged(this);" runat="server" RMXType="code"></asp:TextBox><asp:Button ID="codelookupbtn" CssClass="CodeLookupControl" runat="server" RMXType="code"/><asp:TextBox ID="codelookup_cid" style="display:none" runat ="server" RMXType="code"/>