﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ErrorControl.ascx.cs" Inherits="Riskmaster.UI.Shared.Controls.ErrorControl" %>

<asp:Label ID="lblError" runat="server" Text=""></asp:Label>
