﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MultiSystemUsers.ascx.cs" Inherits="Riskmaster.UI.UI.Shared.Controls.MultiSystemUsers" %>
<%--<select multiple="true" id="lstUsers"  runat="server" style="width: 190px; height: 71px"></select>                                --%>
<asp:listbox  ToolTip="" id="lstUsers" size="3" runat="server" SelectionMode ="Multiple" Rows ="3" RMXType=""  style="width: 190px; height: 71px" onchange="setDataChanged(true);"></asp:listbox>
<%--<asp:Button id="cmdAddCustomizedListUser" runat="server" class="CodeLookupControl" />
<asp:Button id="cmdDelCustomizedListUser" runat="server" class="BtnRemove" ToolTip="Remove"/>--%>
<input type="button" class="CodeLookupControl" runat="server" value="" id="cmdAddCustomizedListUser"/>
<input type="button" class="BtnRemove" value="" runat="server" id="cmdDelCustomizedListUser" title="Remove"  />
<asp:TextBox Style="display: none" runat="server"  id="UserId" Text="" rmxtype="hidden" />
<asp:TextBox Style="display: none" runat="server"  id="UserName" Text="" rmxtype="hidden" />
<%--WWIG GAP20A - agupta298 - MITS 36804 - JIRA - 4691--%>
<asp:TextBox Style="display: none" runat="server"  id="LoginUserName" Text="" rmxtype="hidden" />
<asp:TextBox Style="display: none" runat="server"  id="LoginID" Text="" rmxtype="hidden" />
<asp:TextBox Style="display: none" runat="server"  id="DefaultAssignedTo" Text="" rmxtype="hidden" />
<%--WWIG GAP20A - agupta298 - MITS 36804 - JIRA - 4691--%>
