﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SystemUsers.ascx.cs" Inherits="Riskmaster.UI.Shared.Controls.SystemUsers" %>
<asp:TextBox MaxLength="30" ID="rmsyslookup" runat="server" onchange="DoChangeCid(this);setDataChanged(true);"></asp:TextBox>
<asp:Button ID="rmsyslookupbtn" runat="server" class="CodeLookupControl" />
<asp:TextBox ID="rmsyslookup_cid" Style="display: none" runat="server" />
