.container-fluid {
    padding: 10px 15px 50px 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
}
.wetAsphalt{
    background-color: #34495e;
}
.midNightBlue{
    background-color: #2c3e50;
}
.white{
    color: #ffffff;
}
.red{
    background-color: #E74C3C;
    color: #ffffff;
}
.red:hover{
  background-color: #e74c3c;
}
.belizeHole{
    background-color: #2980B9;
 }
.peterRiver{
    background-color: #3498db;
    color: #ffffff;
}
.peterRiver:hover{
  background-color: #2980b9;
}
.orange {
    background-color: #e67e22;
}
.orange:hover{
  background-color: #d35400;
}
.nephritis{
  background-color: #2ecc71;
}
.nephritis:hover{
  background-color:#27AE60 ;
}
/* This parent can be any width and height */
.block {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height:100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
}
.ghost{
    content:'';
    margin-top: 60px;
    padding-bottom: 60px;
    vertical-align: middle;
}
.tight{
    padding: 15px 0px 15px 0px;
}
.getStarted{
    color: #34495e;
}
.heady{
    padding-top: 2px;
    padding-bottom: 2px;
}
.banner{
    background-color: #6AADE4;
}
.silver{
    background-color: #BDC3C7;
}

/* event claim task panels*/

.panel-events {
    border-color: #d6e9c6;
}

.panel-events > .panel-heading {
    color: #ffffff;
    background-color: #27ae60;
    border-color: #d6e9c6;
}

.panel-events > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-events > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}


.panel-claims {
    border-color: #d6e9c6;
}

.panel-claims > .panel-heading {
    color: #ffffff;
    background-color: #3498db;
    border-color: #d6e9c6;
}

.panel-claims > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-claims > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

.panel-tasks {
    border-color: #d6e9c6;
}

.panel-tasks > .panel-heading {
    color: #ffffff;
    background-color: #e67e22;
    border-color: #d6e9c6;
}

.panel-tasks > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-tasks > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

/*ends */
#master{
    color:#34495e ;
}
.logo{
    /*background-color: #3498db ;*/
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px;
}
/*.logoBorder {*/
    /*border: 4px solid #3498db;*/
    /*border-radius: 6px;*/
    /*padding: 2px 2px 2px 2px;*/
    /*margin: 2px 0 2px 0;*/
    /*background-color: #ffffff;*/
/*}*/
.navBackground{
    background-color: #ffffff;
}

.fullWidth {
    width: 100% !important;
    display: inline-block;
}
.fullWidth2 {
    width:70% !important;;
    display: inline-block;
}
.someDefault
{
    background: #edeff1;
    color: #E74C3C;
}
.pomegranate
{
color: #E74C3C !important;
}
.pomegranate:hover
{
    color: #7f8c8d !important;
}

.quickAddition
{
  color: #34495e !important;
}
.quickAddition:hover
{
  color: #7f8c8d !important;

}


.btn {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn:hover,
.btn:focus {
    outline: none;
    color: #ffffff;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}
.btn:active,
.btn.active {
    outline: none;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}

.login-panel{
    margin-bottom: 0;
}

.error-container{
    color:red;
}

/* Hides everything pushed outside of it */
.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* Adds a transition and the resting translate state */
.push-wrap {
    -webkit-transition: all 300ms ease 0ms;
    -moz-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Will animate the content to the right 275px revealing the hidden nav */
.show-nav .push-wrap {
    -webkit-transform: translate(275px, 0);
    -moz-transform: translate(275px, 0);
    -ms-transform: translate(275px, 0);
    -o-transform: translate(275px, 0);
    transform: translate(275px, 0);

    -webkit-transform: translate3d(275px, 0, 0);
    -moz-transform: translate3d(275px, 0, 0);
    -ms-transform: translate3d(275px, 0, 0);
    -o-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
}
/* Positions the nav fixed below the push wrapper */
nav {
    width: 275px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2c3e50;
    overflow-y:scroll;
}
a {
    transition: all 300ms ease;
}
nav ul {
    margin: 0;
    padding: 50px 20px 20px 20px;
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none !important;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
}
nav ul li a:hover {
    color: #000;
}
.view {
    /*position: relative;*/
    /*min-height: 1500px;*/
    background: #ffffff;
    /*background: #6c7a89;*/
    z-index: 9;
    width: 100%;
    overflow:auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.list-group{
    border: 1px solid #2c3e50;
    border-radius: 4px;
}
.list-group-item{
    background: transparent;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.userList {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #ffffff;
}

.userList hr {
  border-top-color: #2c3e50;
}

.modal {
  margin-top: 50px !important;
}
