.subheader
{
	font-family: arial,helvetica;
	color: Gray;
	font-size: 16px;
	font-weight: bold;
}
.foundItem{
	background-color:#CECBCE;
	text-decoration:underline;
}
.MDAInternet {
	font-family: Sans-Serif;
	font-size: 17px;
	font-style: normal;
	font-weight: bolder;
	color: 2E3540;
	line-height: 16px;
}
.DurationGuidelines {
	font-family: Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: 2E3540;
	line-height: 18px;
}
.PresleyReed {
	font-family: Sans-Serif;
	font-size: 9px;
	font-weight: bold;
	color: 2E3540;
	line-height: 12px;
}
.SiteTitleSpace {
	padding: 8px 0px 0px;
	width: 125px;
}
.ContentTitle {
	font-family: Sans-Serif;
	font-size:  large;
	font-weight: bolder;
	color: 393939;
	padding-bottom: 3.5px;
}
.ContentHeader {
	font-family: Sans-Serif;
	font-size:  medium;
	font-weight: bold;
	color: 393939;
}
.ContentSubHeader {
	font-family: Sans-Serif;
	font-size:  small;
	font-weight: bold;
	color: 393939;
}
.ContentText {
	font-family: Sans-Serif;
	font-size:  smaller;
	font-weight: normal;
	color: 393939;
}
.ContentColor {
	font-family: Sans-Serif;
	color: 393939;
}
.ContentText10pt {
	font-family: Sans-Serif;
	font-size:  10pt;
	font-weight: normal;
	color: 393939;
}
.ContentText10ptLightBold {
	font-weight: bold;
	color: a9a9a9;
}
.ContentTextXsmall {
	font-family: Sans-Serif;
	font-size: x-small;
	font-weight: normal;
	color: 393939;
}
.ContentText6pt {
	font-family: Sans-Serif;
	font-size: 6pt;
	font-weight: normal;
	color: 393939;
}
.ContentText7pt {
	font-family: Sans-Serif;
	font-size: 6pt;
	font-weight: normal;
	color: 393939;
}
.TabText {
	font-family: Sans-Serif;
	font-size:  10pt;
	font-weight: bold;
	color: 6F6E6A;
}
.Help {
	font-family: Sans-Serif;
	font-size:  smaller;
	font-weight: bold;
	color: 6F6E6A;
	text-decoration: underline;
}
.IndexText {
	font-family: Sans-Serif;
	font-size:  small;
	font-weight: normal;
	color: #393939;
	font-style: normal;
}
.SearchResults {
	font-family: Sans-Serif;
	font-size:  small;
	font-style: italic;
	font-weight: bolder;
	color: #393939;
}
.SearchResultsHeader {
	border-bottom: #6F6E6A 1px solid;
	border-top: #6F6E6A 1px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}
.TableBorder {
	border: 1px solid #6F6E6A;
}
.TableBorder1 {
	border-left: #6F6E6A 1px solid;
	border-right: #6F6E6A 1px solid;
	border-bottom: none;
	border-top: #6F6E6A 1px solid;
}
.TableBorder2 {
	border-left: #6F6E6A 1px solid;
	border-right: #6F6E6A 1px solid;
	border-bottom: #6F6E6A 1px solid;
	border-top: none;
}
.TrendsHeader {
	font-family: Arial;
	font-size:  11pt;
	font-weight: normal;
	color: 575352;
	background-color: #F2EFE8;
	height: 25px;
}
.TrendsImage {
	font-family: Arial;
	font-size:  11pt;
	font-weight: normal;
	color: 575352;
	background-color: #E0D7C6;
	height: 25px;
}
.TrendsMainHeader {
	font-family: Arial;
	font-size:  11pt;
	font-weight: normal;
	color: 575352;
	background-color: E0D7C6;
	height: 25px;
}
.TrendsValue {
	font-family: Arial;
	font-size:  11pt;
	font-weight: normal;
	color: 575352;
	background-color: #E9E3D6;
	height: 25px;
}
.rehabtable 
{
	width: 550px;
}
.rehabtablefieldleft
{
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.rehabtablefieldright
{
	border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.rehabtablefieldtop
{
	border-bottom: #000000 1px solid;
	border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-top: #000000 1px solid;
}
.DurationTable_Headers {
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFF3DF;
}
.DurationTop {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	color: #000000;
}
.DurationFactor {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}
.DurationGuidelines_Content {
	font-family: Arial;
	font-size:  10pt;
	font-weight: normal;
	color: #000000;
}
.DurationGuidelines_Content_Job {
	font-family: Arial;
	font-size:  10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFE7BF;
}
.DurationGuidelines_Content_Min {
	font-family: Arial;
	font-size:  10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFF5E6;
}
.DurationGuidelines_Content_Opt {
	font-family: Arial;
	font-size:  10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFEED2;
}
.DurationGuidelines_Content_Max {
	font-family: Arial;
	font-size:  10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFE7BF;
}
.DurationGuidelines_Content_BottomLeft {
	font-family: Arial;
	font-size:  10pt;
	font-weight: bold;
	color: 55637F;
	background-image: url(Images/DurationBottomLeft.gif);
}
.DurationGuidelines_Content_BottomRight {
	font-family: Arial;
	font-size:  10pt;
	font-weight: bold;
	color: 55637F;
	background-image: url(Images/DurationBottomRight.gif);
}
.DurationGuidelines_Content_Right 
{
	border-left: #6F6E6A 1px solid;
	font-family: Tahoma, Arial;
	font-size:  10pt;
	font-weight: bold;
	color: 55637F;
	margin-left: 3px;
}
.Required {
	font-family: Tahoma, Arial;
	color: #CC0000;
	font-size:  small;
}
.DurationInDays {
	font-family: Tahoma, Arial;
	font-size:  14pt;
	font-weight: bold;
	color: #55637f;
}
.Rehab_Title {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}
.Rehab_Content_Header
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #E1C0CC;
}
.Rehab_Content
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
}
.Rehab_Content_Right
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #F2E6EA;
	vertical-align: bottom;
}
.Rehab_Content_Left
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #E9D2DB;
	vertical-align: bottom;
}
.Rehab_Class
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #EDDBE1;
}
.RelatedTerms
{
	font-weight:bolder ;
}
.TopicFrame
{
	border-bottom: #000000 1px solid;
	border-top: #000000 1px solid;
}
A:link	{	
	text-decoration:	none;
	color:	black;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	black;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	black;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	black;
	}

ul {
padding: 0;
margin-top: 0;
margin-left: 15px;
font-family: sans-serif;
font-size: smaller;
list-style-position: inside;
}

ul.specialists {
list-style-image: url(Images/bul1.gif);
}

ul.conditions {
list-style-image: url(Images/bul2.gif);
}

ul.recovery {
list-style-image: url(Images/bul3.gif);
}

.10pxMargins 
{
 margin-left: 10px;
 margin-right: 10px;	
}
.IllustrationTable {
	border-left: #6F6E6A 1px solid;
	border-right: #6F6E6A 1px solid;
	border-bottom: #6F6E6A 1px solid;
	border-top: #6F6E6A 1px solid;
}
.ReferenceIndexWrapping
{
    MARGIN-TOP: 6pt;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 6pt;
    MARGIN-LEFT: 18pt;
    TEXT-INDENT: -17pt;
    FONT-FAMILY: Arial, sans-serif;
    TEXT-ALIGN: left;
}
.ListLabel
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
	font-size: 10pt;
	color: #ffffff;
	font-family: Verdana, Tahoma;
	background-color: Gray;
	text-align: left;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-color: gainsboro;
}
.ListItem
{
	background-color: #eff0f2;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 8pt;
	padding-bottom: 2px;
	padding-top: 2px;
	font-family: Verdana, Tahoma;
	text-align: left;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.Tablabelon
{
	width: 100%; 
	font-size: 11pt;
	font-weight: bold;
	color: Gray;
	background-color: Transparent;
}
.Tablabeloff
{
	width: 100%; 
	font-size: 11pt;
	font-weight: bold;
	color: White;
	background-color: Gray;
}

