.MDAInternet {
	font-family: Sans-Serif;
	font-size: 17px;
	font-style: normal;
	font-weight: bolder;
	color: 2E3540;
	line-height: 16px;
}
.ContentTitle {
	font-family: Sans-Serif;
	font-size:  large;
	font-weight: bolder;
	color: 393939;
	padding-bottom: 3.5px;
}
.ContentHeader {
	font-family: Sans-Serif;
	font-size:  medium;
	font-weight: bold;
	color: 393939;
}
.ContentSubHeader {
	font-family: Sans-Serif;
	font-size:  small;
	font-weight: bold;
	color: 393939;
}
.ContentText {
	font-family: Sans-Serif;
	font-size:  smaller;
	font-weight: normal;
	color: 393939;
	
}
.ContentColor {
	font-family: Sans-Serif;
	color: 393939;
}
.ContentText10pt {
	font-family: Sans-Serif;
	font-size:  10pt;
	font-weight: normal;
	color: 393939;
}


A:link	{	
	text-decoration:	none;
	color:	navy;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	gray;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	black;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	blue;
	}

ul {
padding: 0;
margin-top: 0;
margin-left: 15px;
font-family: sans-serif;
font-size: smaller;
list-style-position: inside;
}

ul.specialists {
list-style-image: url(../Images/bul1.gif);
}

ul.conditions {
list-style-image: url(../Images/bul2.gif);
}

ul.recovery {
list-style-image: url(../Images/bul3.gif);
padding: 0px;
margin-top: 0px;
margin-left: 0;
padding-left: 1em; 
text-indent: -1.5em; 

font-family: sans-serif;
font-size: small;
list-style-position: inside;
}

#base {
	border: 0px solid #000;
	margin: 1em;
	width: 80%;
	padding: 2px;
	}

#base1 {
	border: 1px solid #F0ECDA;
	margin: 0;
	width: 90%;
	padding: 5px;
	}

.ListItem
{
	background-color: #eff0f2;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 8pt;
	padding-bottom: 2px;
	padding-top: 2px;
	font-family: Verdana, Tahoma;
	text-align: left;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}


html { background-color: #F0ECDA }
body { background-color: #ffffff; padding: 1em }

<--alt border color 0E4FB8 -->