.comboTxt
{
  position: relative;
  /*width:325px; 
(put the width in view.xsl like so: <xsl:attribute name="xhtml:style">width=325px;</xsl:attribute> */
}

.comboDropDown
{
  position: absolute;
  visibility:hidden;
    /* width:340px; set combo width 15 px greater than comboTxt width*/
}