BODY {
	FONT-FAMILY: Arial; BACKGROUND-COLOR: white
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial; BORDER-RIGHT-WIDTH: 0px
}
TABLE.fulltable {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top;  WIDTH: 100%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0px
}
TABLE.innertable {
 	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0px
}
.navigation {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 20%; PADDING-TOP: 0px; BACKGROUND-COLOR: #919195; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0px
}
.navigation-shadow {
	BACKGROUND-COLOR: #6f6f6f
}
.navmenuitems-inline {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #919195
}
.navmenuitems-default {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: #919195
}
.navmenuitems-hover {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: #adaaaa
}
.navmenuitems-dynamichover {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: #659ac4
}
A.tNav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: none
}
A.tNav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: none
}
A.tNav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: underline
}
A {
	COLOR: #369; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.csc-header:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: none
}
A.csc-header:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: none
}
A.csc-header:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-DECORATION: underline
}
A.login:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
A.login:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
A.login:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.navmenuitems {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: white; FONT-FAMILY: Arial
}
.sitemappath-default {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: Arial
}
.header {
	VERTICAL-ALIGN: bottom; BACKGROUND-COLOR: #919195
}
#logo {
	MARGIN-TOP: 40px; FLOAT: left; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 0px
}
#topmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; MARGIN: 40px 0px 0px; COLOR: #fff; TEXT-INDENT: 8px; LINE-HEIGHT: 20px; HEIGHT: 25px; BACKGROUND-COLOR: #919195
}
#topmenu LI {
	PADDING-RIGHT: 9em; DISPLAY: inline; PADDING-BOTTOM: 0.09em; MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#topmenu DIV {
	PADDING-RIGHT: 34em; DISPLAY: inline; PADDING-BOTTOM: 0.09em; MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em; PADDING-TOP: 0px
}
TD.header {
	PADDING-BOTTOM: 14px; VERTICAL-ALIGN: bottom; PADDING-TOP: 7px; BACKGROUND-COLOR: #919195
}
.description-header {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: #cc0000
}
.subheader {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: white; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #7ba7c7; TEXT-ALIGN: center
}
TD.subheader {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: white; LINE-HEIGHT: 2.2em; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #7ba7c7
}
TD.banner {
	FONT-WEIGHT: bolder; FONT-SIZE: medium; WIDTH: 100%; COLOR: white; BACKGROUND-COLOR: #7ba7c7; TEXT-ALIGN: center
}
TABLE.fixedwidth {
	WIDTH: 94%
}
TD.fixedwidth {
	WIDTH: 70%
}
.table-fixedwidth {
	WIDTH: 94%
}
.cell-fixedwidth {
	WIDTH: 70%
}
TD.image-fixedwidth {
	WIDTH: 24%
}
.notice {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; FONT-FAMILY: Arial
}
.header-text {
	FONT-WEIGHT: bolder; FONT-SIZE: 18px; FONT-FAMILY: Verdana
}
.content-text {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.announcement-text {
	FONT-SIZE: 14px; COLOR: #cc0000; FONT-FAMILY: Arial
}
A.announcement-text {
	FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: Arial
}
DIV.announcement-text {
	DISPLAY: inline-block
}
.release-text {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.note-text {
	FONT-SIZE: 14px; FONT-FAMILY: Arial
}
.marqueetext {
	FONT-WEIGHT: bolder; FONT-SIZE: large; COLOR: #cc0000
}
.cscheader {
	HEIGHT: 34px; BACKGROUND-COLOR: #cc0000
}
TD.cscheader {
	PADDING-RIGHT: 52em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BACKGROUND-COLOR: #919195
}
TD.csclogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#footer {
	WIDTH: 100%; LINE-HEIGHT: 0.1em; BACKGROUND-COLOR: #919195
}
#footer-text {
	CLEAR: both; FONT-WEIGHT: bolder; FONT-SIZE: 0.7em; WIDTH: 100%; COLOR: #919195; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
#footer-text UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#footer-text UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#footer-text UL LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#footer-text UL LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#footer-text UL LI A:hover {
	TEXT-DECORATION: underline
}
.breadcrumb-links {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.breadcrumb-separator2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: left; BACKGROUND-IMAGE: url(http://www.riskmasterx.com/images/Cookie_Arrow.gif); PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
IMG.breadcrumb {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; WIDTH: 8px; PADDING-TOP: 2px; HEIGHT: 11px
}
IMG.homepage {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; WIDTH: 10px; PADDING-TOP: 2px; HEIGHT: 9px
}
UL.login {
	LIST-STYLE-TYPE: none
}
DIV.username {
	PADDING-RIGHT: 0px; DISPLAY: inline
}
DIV.password {
	PADDING-RIGHT: 8px; DISPLAY: inline
}
DIV.textbox {
	DISPLAY: inline
}
.container {
	OVERFLOW: auto
}
.container TABLE TH {
	POSITION: relative
}
.container TABLE TBODY {
	OVERFLOW: hidden
}
.ratingStar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 13px; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.filledRatingStar {
	BACKGROUND-IMAGE: url(http://www.riskmaster.com/images/FilledStar.png)
}
.emptyRatingStar {
	BACKGROUND-IMAGE: url(http://www.riskmaster.com/images/EmptyStar.png)
}
.savedRatingStar {
	BACKGROUND-IMAGE: url(http://www.riskmaster.com/images/SavedStar.png)
}
.radiobuttonlist {
	LIST-STYLE-TYPE: none
}
.BodyDiv {
	LEFT: 135px; FLOAT: left; WIDTH: 840px; POSITION: absolute; TOP: 25px
}
.HeaderDiv {
	LEFT: 10px; FLOAT: left; WIDTH: 125px; WHITE-SPACE: nowrap; TOP: 20px
}
.MainBodyDiv {
	OVERFLOW: auto; WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
.sf_newsList H2.sf_newsTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold! important; FONT-SIZE: 1.2em! important; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; LINE-HEIGHT: 1.2em! important; PADDING-TOP: 0px
}
