        
A
{
    COLOR: blue
}
A:hover
{
    COLOR: #ef2525
}
A.Bold
{
    FONT-WEIGHT: bold;
    COLOR: blue
}
A.Bold:hover
{
    FONT-WEIGHT: bold;
    COLOR: #ef2525
}
A.Black
{
    COLOR: black
}
A.Black:hover
{
    COLOR: #3300cc
}
A.Blue
{
    COLOR: blue
}
A.Blue:hover
{
    COLOR: blue
}
A.General
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
A.LightBlue
{
    FONT-WEIGHT: bold;
    COLOR: #6aade4
}
A.LightBlue:hover
{
    COLOR: #ef2525
}
A.LightBlue1
{
    COLOR: #6aade4
}
A.LightBlue1:hover
{
    COLOR: #ef2525
}
A.LightBold
{
    FONT-WEIGHT: normal;
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
A.LightNormal
{
    FONT-WEIGHT: normal;
    COLOR: #6aade4;
    TEXT-DECORATION: underline
}
A.tablink
{
    FONT-WEIGHT: normal;
    COLOR: white;
    TEXT-DECORATION: none
}
A.tablink:hover
{
    FONT-WEIGHT: normal;
    COLOR: white;
    TEXT-DECORATION: underline
}
A.light
{
    FONT-WEIGHT: bold;
    COLOR: silver;
    TEXT-DECORATION: underline
}
A.light:hover
{
    FONT-WEIGHT: bold;
    COLOR: gray;
    TEXT-DECORATION: underline
}
A.headerrow
{
    FONT-SIZE: 8pt;
    COLOR: black;
    TEXT-DECORATION: none
}
A.headerrow:hover
{
    COLOR: blue;
    TEXT-DECORATION: none
}
A.headerNavy
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: navy;
    TEXT-DECORATION: none
}
A.headerNavy:hover
{
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: navy
}
A.headerNavy1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.headerNavy1:hover
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: #FFFFFF;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: navy
}
A.headerlink
{
    COLOR: blue;
}
A.headerlink:hover
{
    COLOR: blue;
    FONT-WEIGHT: bold;
}
A.headerlink1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.headerlink2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.headerlink2:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.Selected1
{
    FONT-WEIGHT: bolder;
    /*COLOR: #eff7ff*/
	 color: #737474;
}
A.Selected
{
    /*PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;*/
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    /*PADDING-BOTTOM: 4px;*/
/*    COLOR: #073a6b;*/
	 /*color: #c3ced7;*/
	 color: #737474;
    /*PADDING-TOP: 4px;*/
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
/*    BACKGROUND-COLOR: #ffffff;*/
	 /*background-color: #6cabe4;*/
	 /*background-color: #93C1E9;*/
	 /*background-color: #c6d8dd;*/
	 background-color: #C5D2E5;
    TEXT-ALIGN: center
}
A.NotSelected1
{
    FONT-WEIGHT: bolder;
    /*COLOR: #ffffff*/
	 color: #737474
}
A.NotSelected
{
    /*PADDING-RIGHT: 4px;*/
    BORDER-TOP: #336699 1px solid;
    /*PADDING-LEFT: 4px;*/
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    /*PADDING-BOTTOM: 4px;*/
    BORDER-LEFT: #336699 1px solid;
    /*PADDING-TOP: 4px;*/
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    /*BACKGROUND-COLOR: #eff7ff;*/
	 background-color: #d6d7d7;
    TEXT-ALIGN: center
}
A.White
{
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana,Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.White:hover
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: #EF2525;
    BORDER-BOTTOM: medium none;
    TEXT-DECORATION: underline
}
BR.page
{
    PAGE-BREAK-AFTER: always
}
.divider
{
	border-right: #ffffff 1px solid;
}
INPUT.button
{
    
    display: inline; 
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button.gif);
    Border: 1px solid black; /*Jira id:7142 aravi5 */
	margin-left: 3px; /*Jira id:7142 aravi5 */
	
    /*BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #104a7b 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    
    BORDER-LEFT: #104a7b 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif*/
}
INPUT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    margin-top: 2px; /*Jira id:7144 aravi5 */
}
.Text1
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
BODY.Center
{
    TEXT-ALIGN: center
  
}

html 
{
	height: 100%;width:100%
}

BODY
{
margin-top:4px;
margin-left:4px;
margin-bottom:0px;
margin-right:0px;
width:99.5%;
height:98%;
}

H3.Blue
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 16px;
    PADDING-BOTTOM: 4px;
    COLOR: white;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #6aade4
}
TD
{
    padding:0px;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    
}
TD.Arial
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.9pt
{
    FONT-SIZE: 9pt
}
TD.Bold
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
TD.Bold1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    HEIGHT: 16px
}
TD.Bold2
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    HEIGHT: 16px
}
TD.PadLeft4
{
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
UL
{
    MARGIN-TOP: 4pt;
    PADDING-TOP: 0px
}
UL.Margin0
{
    MARGIN-TOP: 14pt
}
.BlackNormal
{
    FONT-SIZE: 11pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.clWin
{
    Z-INDEX: 2;
    VISIBILITY: hidden;
    OVERFLOW: hidden;
    POSITION: absolute;
    BACKGROUND-COLOR: blue
}
.clWindow
{
    Z-INDEX: 15;
    OVERFLOW: hidden;
    WIDTH: 200px;
    POSITION: absolute;
    BACKGROUND-COLOR: blue
}
.clWinHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    WIDTH: 200px;
    COLOR: #dff7ff;
    FONT-FAMILY: arial,arial,helvetica;
    POSITION: absolute;
    TOP: 0px;
    BACKGROUND-COLOR: transparent
}
.clText
{
    FONT-SIZE: 11px;
    Z-INDEX: 50;
    FONT-FAMILY: arial,helvetica;
    POSITION: absolute;
    BACKGROUND-COLOR: transparent
}
.clWinResize
{
    Z-INDEX: 30;
    BACKGROUND-IMAGE: url(img/resize.bmp);
    WIDTH: 30px;
    CLIP: rect(0px 30px 30px 0px);
    POSITION: absolute;
    HEIGHT: 30px;
}
.clLogo
{
    POSITION: absolute
}
.clUp
{
    Z-INDEX: 60;
    WIDTH: 12px;
    POSITION: absolute;
    HEIGHT: 12px
}
.clDown
{
    Z-INDEX: 60;
    WIDTH: 12px;
    POSITION: absolute;
    HEIGHT: 12px
}
.clWinButtons
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica;
    POSITION: absolute
}
.datah
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #cfd9f3;
    BACKGROUND-COLOR: #6375d6
}
.db
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.disabled
{
    COLOR: #787878
}
.explorer
{
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana,Helvetica, sans-serif;
    BACKGROUND-COLOR: #6375d6
}
.header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.headerNavy
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: navy
}
.headerNavy8
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: navy
}
.pagescrolldec
{
    FONT-WEIGHT: bold;
    COLOR: red
}
A.pagescroll
{
    FONT-WEIGHT: bold;
    COLOR: blue
}
A.pagescroll:hover
{
    FONT-WEIGHT: bold;
    COLOR: blue
}
.td8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.td12
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.headrow
{
    PADDING-BOTTOM: 2px;
    COLOR: #6aade4;
    BACKGROUND-COLOR: #d5cda4
}
.headertext
{
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #6aade4
}
.headertext1
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #6aade4
}
.headertext2
{
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF;
}
.headertext3
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #6aade4;
    text-align: center;
}
.required
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}

.requiredRightAligned
{
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}

.fieldRightAligned
{
    text-align: right;
}

.flatbox
{
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #104a7b 1px solid;
    BORDER-LEFT: #104a7b 1px solid;
    BORDER-BOTTOM: #104a7b 1px solid
}
.menuitem
{
    FONT-SIZE: 9pt;
    COLOR: #ef2525;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.menuheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.dayheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccc99;
    TEXT-ALIGN: center
}
A.calnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffcc;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.calnav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffcc;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.SM
{
    FONT-WEIGHT: bold;
    COLOR: white
}
A.SM:hover
{
    FONT-WEIGHT: bold;
    COLOR: orange
}
.ieday
{
    FONT-WEIGHT: bold;
    VISIBILITY: hidden;
    WIDTH: 24px;
    CURSOR: hand;
    POSITION: absolute;
    TEXT-ALIGN: right
}
.docline
{
    BACKGROUND-COLOR: #ffcc00
}
.docheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: italic;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00
}
.docitem
{
    PADDING-LEFT: 8px;
    FONT-SIZE: small;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.ctrlgroup
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #95B3D7;
    /*float: left;*/
}
.ctrlgroup1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    BORDER-LEFT: medium none;
    COLOR: #ffcc99;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #6aade4
}
.ctrlgroup2
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    BORDER-BOTTOM: medium none;
    /*BACKGROUND-COLOR: #7288ac*/
    /*BACKGROUND-COLOR: #95B3D7;*/
    background-color: #B8CCE4;
}
.ctrlgroup3
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #6aade4
}
.ctrlgroup4
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    BORDER-LEFT: medium none;
    COLOR: #ffcc99;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #6aade4
}
.warntextheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.warntext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.warnheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: #FFFFFF;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #EF2525;
    TEXT-ALIGN: left
}

.errtextheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #ef2525;
    FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.errtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ef2525;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.errtext1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.errheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ef2525;
    TEXT-ALIGN: left
}
.errheader1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: navy;
    TEXT-ALIGN: left
}
.errortext0
{
    PADDING-RIGHT: 8px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.errortext1
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 8px;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: left
}
.errortext2
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.errortext3
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN: left
}
.toolbar
{
    BORDER-RIGHT: none;
    BORDER-TOP: none;
    /*BACKGROUND-COLOR: #C9CAC8;*/
    BORDER-LEFT: none;
    BORDER-BOTTOM: none
}
.toolbarbutton
{
    BORDER-RIGHT: 2px outset;
    BORDER-TOP: 2px outset;
    BACKGROUND: #C9CAC8;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 2px outset;
    WIDTH: 24px;
    BORDER-BOTTOM: 2px outset;
    HEIGHT: 24px;
    TEXT-ALIGN: center
}
.fintotals
{
    BORDER-RIGHT: 2px inset;
    BORDER-TOP: 2px inset;
    BORDER-LEFT: 2px inset;
    BORDER-BOTTOM: 2px inset;
    BACKGROUND-COLOR: #F2F2F2;
    TEXT-ALIGN: right
}
.finlabel
{
    BACKGROUND-COLOR: #eeeeee;
    TEXT-ALIGN: right
}
.smallnote
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.cmdbutton
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.errortext
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    COLOR: #ef2525;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
.valerrheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma, arial,san-serif
}
.vspacer1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 1pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    HEIGHT: 4px;
    BACKGROUND-COLOR: silver
}
.msgheader
{
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
	color: White;
    PADDING-BOTTOM: 3px;
    MARGIN-LEFT: 0px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #95B3D7;
}
.msgheader2
{
    BACKGROUND-COLOR: #95B3D7;
    width: 100%;
    color: White;
    position:absolute;
    TOP: 47px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    padding: 3px 3px 3px 3px;
}
.msgheader1
{
    MARGIN-TOP: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 4px;
    MARGIN-LEFT: 4px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}

.data
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.data2
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #E7F0FB;
}
.data1
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.data3
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5f5
}
.customItemContainer
{
    position:absolute;
    top: 69px;  
    width: 100%;
}
.datatd
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
.datatd1
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #E7F0FB;
    TEXT-ALIGN: left
}
.customLeftColumn
{
float: left;
width:25%;
}
.customShowColumn
{
margin-left: 25%;
width:10%;
}
.customLabelColumn
{
margin-left: 35%;
width:10%;
}
.summarytd
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: left
}
.singleborder
{
    BORDER-RIGHT: navy 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: navy 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: navy 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: navy 1px solid;
    font-size:10px;
}
.singletopborder
{
    BORDER-RIGHT: right;
    PADDING-RIGHT: 0px;
    BORDER-TOP:#eeeeee 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: none;
    PADDING-TOP: inherit;
    BORDER-BOTTOM:#ffffff 1px solid;
    overflow-x: hidden;
   /* overflow-y:auto;*/ /* aravi5 Jira Id: 7106 */
    overflow:auto; /*sbhatnagar21 for Jira RMA 10356*/
    height:73.7%;
    position:absolute; 
    width:99.5%;
    
}
/*Jira Id: RMA-10274*/
.topborder
{
    BORDER-RIGHT: right;
    PADDING-RIGHT: 0px;
    BORDER-TOP:#eeeeee 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: none;
    PADDING-TOP: 8px;
    BORDER-BOTTOM:#ffffff 1px solid;
    /*overflow-x: hidden;
    overflow-y:auto;*/ /* aravi5 Jira Id: 7106 */
    /*height:70%;*/
    position:relative; 
    width:95%;
    
}
.gridtopborder
{
    BORDER-RIGHT: right;
    PADDING-RIGHT: 0px;
    BORDER-TOP:#eeeeee 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: none;
    PADDING-TOP: 8px;
    BORDER-BOTTOM:#ffffff 1px solid;
    overflow:auto;
    height:70%;
    position:relative; 
    width:99%;
}

.gridpopupborder
{
    BORDER-RIGHT: right;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: none;
    PADDING-TOP: 8px;
    BORDER-BOTTOM: #ffffff 1px solid;
    overflow: hidden;
    position:relative; 
}
.tabheader
{
    BORDER-RIGHT: #99ccff 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 6px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 6px;
    BORDER-LEFT: #99ccff 1px solid;
    COLOR: #f0f8ff;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #3d577a
}
.tabheaderleft
{
    BORDER-RIGHT: #85a6d2 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 6px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 6px;
    BORDER-LEFT: medium none;
    COLOR: #f0f8ff;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #3d577a
}
.tabheaderright
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 6px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 6px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 6px;
    BORDER-LEFT: #85a6d2 1px solid;
    COLOR: #f0f8ff;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #3d577a
}
.tabheadersel
{
    BORDER-RIGHT: #000066 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #99ccff 1px solid;
    PADDING-LEFT: 6px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 6px;
    BORDER-LEFT: #99ccff 1px solid;
    COLOR: white;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #85a6d2
}
.tabline
{
    BORDER-RIGHT: #000066 1px solid;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #99ccff 1px solid;
    COLOR: #f0f8ff;
    BORDER-BOTTOM: #000066 2px solid;
    BACKGROUND-COLOR: #85a6d2
}
.grayline
{
    BACKGROUND-COLOR: #f0f0f0
}
.grayline2
{
    BACKGROUND-COLOR: #d3d3d3
}
.toolbardrift
{
    LEFT: 10px;
    TOP: 7px;
    HEIGHT: 32px;
}
.formtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.caption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #EF2525;
    BACKGROUND-COLOR: #f0f0f0
}
.rowcell
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 80%;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.rowcelllast
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: medium none;
    FONT-SIZE: 80%;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.colheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
}
.colheader1
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    BORDER-LEFT: black 1px;
    BORDER-BOTTOM: black 1px;
    BACKGROUND-COLOR: #bbbbbb;
}
.colheader2
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small
}
.colheader3
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BACKGROUND-COLOR: #B8CCE4;
}
.colheader4
{
    FONT-WEIGHT: bold
}
.colheader5
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: lighter;
    BORDER-LEFT: black 1px solid;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #B8CCE4;
}
.colheader6
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    COLOR: #ffffff;
    BORDER-BOTTOM: black 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #B8CCE4;
    TEXT-DECORATION: none
}
.colheader7
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.colheaderlast
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.rowlight
{
    LINE-HEIGHT: normal;
    BACKGROUND-COLOR: #ffffff;
}
.rowdark
{
    LINE-HEIGHT: normal;
    BACKGROUND-COLOR: #E7F0FB;
}
.rowdark1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #E7F0FB;
}
.rowlight1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #dddddd
}
.rowdark2
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #E7F0FB;
    PADDING-BOTTOM: 2px;
    PADDING-top: 2px;
}
.rowlight2
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    PADDING-BOTTOM: 2px;
    PADDING-top: 2px;
}
.tableheader
{
    BORDER-RIGHT: gray 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: gray 1px solid;
    BACKGROUND-COLOR: #eff7ff;
    TEXT-DECORATION: none
}
.tdsmall
{
    FONT-SIZE: small
}
.shade
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma, Arial,Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5f5
}
.shadesmall
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Arial,Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5f5
}
.small
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Arial,Verdana, Helvetica, sans-serif
}
.small7
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Tahoma, Arial,Verdana, Helvetica, sans-serif
}
.group
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #6aade4
}
#toolbar
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BACKGROUND: #e0e0e0;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid
}
.Selected1
{
    FONT-WEIGHT: bolder;
    /*COLOR: #eff7ff;*/
	 color: #737474;
}
.Selected
{
    /*PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;*/
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    /*PADDING-BOTTOM: 2px;*/
    /*COLOR: #073a6b;*/
	 /*color: #c3ced7;*/ 
	 color: #737474;
    /*PADDING-TOP: 2px;*/
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	 /*background-color: #93c1e9;*/
    /*BACKGROUND-COLOR: #ffffff;*/
	 /*background-color: #6cabe4;*/
	 /*background-color: #c6d8dd;*/
	 background-color: #C5D2E5;
	 BORDER:none;
    TEXT-ALIGN: center;
    float:left;
    height:20px;
}
#gvFormData
{
    border:1px solid black;
}
.GridHeader
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
	color: #737474;
    PADDING-TOP: 2px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	background-color: #C5D2E5;
	/*BORDER:1px solid black;*/
    TEXT-ALIGN: center;
    /*float:left;*/ /* bkuzhanthaim : Jira Id: 8420 :FormData in Unit Information screen of Policy is not getting loaded */
}

.NotSelected1
{
    FONT-WEIGHT: bolder;
    /*COLOR: #ffffff;*/
	 color: #737474;
    FONT-SIZE: 10pt;
}
.NotSelected
{
	padding: 2px 4px;
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	/*BACKGROUND-COLOR: #B8CCE4;*/
	background-color: #d6d7d7;
	TEXT-ALIGN: center;
	float:left;
	height: 16px;
}

.NotEnabled
{
    PADDING-RIGHT: 4px;
    BORDER-TOP: #336699 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #336699 1px solid;
    COLOR: black;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: gray;
    TEXT-ALIGN: center
}
.Background
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: #336699
}
.NotEnabledBackground
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: gray
}
.formsubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt
}
A.headerlink1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue
}
.divScroll
{
    BORDER-RIGHT: darkblue 1px solid;
    BORDER-TOP: darkblue 1px solid;
    OVERFLOW: auto;
    BORDER-LEFT: darkblue 1px solid;
    WIDTH: 99%;
    BORDER-BOTTOM: darkblue 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.SMSelected
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: center
}
.SMNotSelected
{
    PADDING-RIGHT: 4px;
    BORDER-TOP: #336699 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #336699 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: gray;
    TEXT-ALIGN: center
}
.divScrollportal
{
    BORDER-RIGHT: #20abcb 1px solid;
    BORDER-TOP: #20abcb 1px solid;
    OVERFLOW: auto;
    BORDER-LEFT: #20abcb 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #20abcb 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.portalgroup
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BACKGROUND-COLOR: #20abcb
}
.portalheader
{
    FONT-WEIGHT: lighter;
    COLOR: white;
    BACKGROUND-COLOR: #6AADE4
}

.AutoDiarySetupTitleBig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24pt;
    FONT-FAMILY: Times New Roman;
}
.AutoDiarySetupTitleSmall
{
    FONT-SIZE: 14pt;
    FONT-FAMILY: Times New Roman;
}
.LinkBoldBlue
{
	font-weight: bold;
	color: blue;
	text-decoration: underline;
	CURSOR: hand;
}
.CodeLookupControl
{
    /*BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #104a7b 1px solid;
    BORDER-LEFT: #104a7b 1px solid;
    BORDER-BOTTOM: #104a7b 1px solid; */
	 BORDER: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_lookup_active.png);
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
 	 background-repeat: no-repeat;
	 background-position: center;
	 width: 20px;
	 height: 20px;
	 cursor: pointer;
}
.DateLookupControl
{
    /*BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #104a7b 1px solid;
    BORDER-LEFT: #104a7b 1px solid;
    BORDER-BOTTOM: #104a7b 1px solid; */
	 BORDER: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_calendar_active.png);
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
 	 background-repeat: no-repeat;
	 background-position: center;
	 width: 20px;
	 height: 20px;
	 cursor: pointer;
}
.InstructionControl
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_claiminstruct_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}
.BtnRemove
{
	BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_remove_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}
	
.ClaimStatusButton
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_claimstatus_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}

.PolicyButton
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_policy_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}
.MemoButton
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_text_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}
/*spahariya MITS 30426 */
.EntityNevButton
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_policy_active.png);
    width: 20px;
	height: 20px;
	cursor: pointer;
}
.EllipsisControl 
{
    /*BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #104a7b 1px solid;
    BORDER-LEFT: #104a7b 1px solid;
    BORDER-BOTTOM: #104a7b 1px solid; */
	 BORDER: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/button_elepsis_active.png);
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
 	 background-repeat: no-repeat;
	 background-position: center;
	 width: 20px;
	 height: 20px;
	 cursor: pointer;
}
 
        div.half
        {
            float:left;
            width: 49%;
            margin-top: 1px; /*aravi5 Jira Id: 7141 */
        }
        /*no need to add Extra space in ie full mode.*/
        div.half span.label:before {
        /*content: '\0000a0';*/ /* aravi5 Jira Id: 7159 */
}
        div.popuprow span.label:before {
    content: '\0000a0';
}
        div.completerow span.label:before {
    content: '\0000a0';
}
        div.half span.label {
            float: left;
            width: 34%;
            text-align: left;
            left: 1%;
            padding-right: 1%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            margin-top: 3px; /*Jira id:7144 aravi5 */
        }

        div.half span.required {
            float: left;
            width: 34%;
            text-align: left;
            left: 1%;
            padding-right: 1%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.half span.formw {
            float: left;
            width: 64%;
            text-align: left;
            left:31%;
            margin-top: 2px; /*aravi5 Jira Id: 7141*/
        }
        div.half span.formw input[type="text"] 
        {
			width:70%;
        }
        
        div.half span.formw select{
            font-family: Tahoma, Arial, Helvetica, sans-serif;
			font-size: 10pt; 
			margin-top: 3px; /* aravi5 Jira Id: 7144 */
		}
        
        div.completerow
        {
            float:left;
            width: 98%;
        }
        div.completerow span.label {
            float: left;
            width: 17%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.completerow span.required {
            float: left;
            width: 17%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.completerow span.formw {
            float: left;
            width: 32%;
            text-align: left;
            margin-top: 3px; /*aravi5 Jira Id: 7141*/
        }
        
        div.completerow span.formw input[type="text"] 
        {
			width:70%;
        }
        div.completerow span.formw span.radiolabel{
            float: left;
            width: 65%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }
             
       div.completerow span.formw select{
            font-family: Tahoma, Arial, Helvetica, sans-serif;
			font-size: 10pt; 
		}
        
        div.popuprow
        {
            float:left;
            width: 100%;
            margin-top:3px; /*Jira id:7144 aravi5 */
        }
        div.popuprow span.label {
            float: left;
            width: 35%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.popuprow span.required {
            float: left;
            width: 35%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.popuprow span.formw {
            float: left;
            width: 45%;
            text-align: left;
        }
		
		div.popuprow span.formw input[type="text"] 
        {
			width:80%;
        }
        
       div.popuprow span.formw select{
            font-family: Tahoma, Arial, Helvetica, sans-serif;
			font-size: 10pt; 
		}
     
        div.threecontrols
        {
            float:left;
            width: 31%;
        }
        
        div.oneThird
        {
            float:left;
            width: 20%;
        }
        
        div.oneThirdBlank
        {
        	
            float:left;
            width: 20%;
            color:White;
        }
         div.oneThirdAppLbl
        {
        	
            float:left;
            width: 17%;
            color:White;
           
        }
         div.oneThirdApptxt
        {
        	
            float:left;
            width: 23%;
           
        }
        div.twoThirdComm
        {
            float:left;
            width: 80%;
        }

         div.oneThirdResolution
        {
            float:left;
            width: 19.5%;
        }
          div.oneThirdApp
        {
            float:left;
            width: 14%;
        }
      
     
       
        div.twoThirdCodeLookup
        {
            float:left;
            width: 58%;
        }

		div.oneThirdLabel
        {
            float:left;
            width: 24%;
	    font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }
        
        div.twoThird
        {
            float:left;
            width: 59.9%;
        }
       div.twoThirdM
        {
            float:left;
            width:80%;
        }
        div.threecontrols span.label {
            float: left;
            width: 25%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.threecontrols span.required {
            float: left;
            width: 32%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.threecontrols span.formw {
            float: left;
            width: 30%;
            text-align: left;
            left:15%;
        }
		
		div.sentinel
        {
            float:left;
			width: 100%;
        }
        div.sentinel span.label {
            float: left;
            width: 65%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.sentinel span.required {
            float: left;
            width: 65%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.sentinel span.formw {
            float: left;
            width: 30%;
            text-align: left;
            left:35%;
        }
        
        div.almostfull
        {
            float:left;
			width: 98%;
        }        
		
        div.almostfull span.label {
            float: left;
            width: 65%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.almostfull span.required {
            float: left;
            width: 65%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.almostfull span.formw {
            float: left;
            width: 30%;
            text-align: left;
            left:35%;
        }
        
        div.full
        {
            float:left;
            width: 98%;
        }
        div.full span.label {
           float: left;
            width: 17%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.full span.required {
            float: left;
            width: 17%;
            text-align: left;
            left: 1%;
            padding-right: 0.5%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.full span.formw {
            float: left;
            width: 32%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }
        div.full span.formw input[type="text"] 
        {
			width:70%;
        }
        div.full span.formw select{
            font-family: Tahoma, Arial, Helvetica, sans-serif;
			font-size: 10pt; 
		}
        div.row
        {
            float:left;
            width: 100%;
        }
        div.row span.label {
            float: left;
            width: 12%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333
        }

        div.row span.required {
            float: left;
            width: 12%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
            text-decoration: underline;
        }

        div.row span.formw {
            float: left;
            width: 63%;
            text-align: left;
            left:35%;
        }
          
       div.onecontrol
        {
        	float:left;
        }
        
           div.partial
        {
            float:left;
            width: 80%;
        }
       div.image
       {
       	    float:left;
       	    width:28;
       	    height:32;
       }
       
       div.tab
       {
       	    width:50;
       }
       
       div.formButton
       {
            float:left;
            padding-top :5px;
       }

       div.formButtonTopDown
       {
            float:left;
            padding-top : 15px;
            padding-bottom : 15px;
       }

       div.tabSpace
       {
            float:left;
            width:0.5%;
       }
       
       div.tabGroup
       {
            /*padding:0px 0px 30px 0px;*/
              height:40px;
       }
       
       div.formButtonGroup
       {
            position:relative; left:1%;
       }

       div.toolBarButton
       {
            float:left;
       }

       div.admin
        {
            float: left;
            width: 28%;
            text-align: right;
        }

       div.admin span.label
        {
            float: left;
            width: 30%;
            text-align: left;
            left: 1%;
            padding-right: 2%;
            font-size: 10pt;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            color: #333333;
        }
        
        div.admin span.formw
        {
            float: left;
            width: 65%;
            text-align: left;
            left: 35%;
        }
        
        .hiderowcol
    {
        display:none;
    }
        .GridViewHeader, .GridViewHeader a:link, .GridViewHeader
		a:active, .GridViewHeader a:visited, .GridViewHeader a:hover
		{
			 BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: medium none;
    
    PADDING-TOP: 3px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #6aade4;
    /*float: left;*/
			
		font-weight: bold;
		color: #ffffff;
		text-decoration: underline;
		}
    .visiblerowcol
    {
    	display:table-cell;
    }
    
    .gridHdColover
    {
	background: #a7adc5;
	color: White;
	}
	
	.grdColHdActive
	{
		background: #4183b5;
		color  : White;
	}
		
	.gridCelover
    {
	background: #fff0e8;
	color: White;
	}
	
	.grdCelActive
	{
		background: #f2f3f8;
		color  : White;
	}
	
/*BEGIN: Header styles*/ 
/*#banner
{
   background-color: #6AADE4;
   height: 44px;
	width: 100%;
	width: 97%;
	background-image: url(/RiskmasterUI/Images/rmx_logo.gif);
   background-repeat: no-repeat;  
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 3px;
}
*/
/*RMA-13498*/
.banner
{
   background-color: #6AADE4;
   height: 44px;
	/*width: 100%;*/
	width: 99.4%;
	background-image: url(/RiskmasterUI/Images/rmx_logo.gif);
   background-repeat: no-repeat;  
	margin-bottom: 1.5px;
	margin-top: 5px;
	margin-left: .4%;
}
/*RMA-13498*/

#header-menu
{
	background-color: white;
	margin-top: 7%;
	margin-left: 20%;
	height: 40px;
	padding-top: 7%;
}
   
   .ChangePwdlblStatus
	{
		color:green;
		FONT-SIZE: 10pt;
		FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
	}
/*END: Header styles*/
/*BEGIN: Login styles*/
ul.login
{
	list-style: none;
	margin-left: 50%;
}

div.login-label
{
	display: inline;
	text-align: left;
	font-weight: bold;
	margin-right: 1.5em;
	
}

div.login-control
{
	display: inline;
	line-height: 1.5em;
}

div.center-login-control
{
	text-align: center;
	position: absolute;
	left: 40%;
	border-style: solid;
	border-width: 1px;
	border-color:#6AADE4;
	margin-top: 100px;
	padding: 5px;
}

td.statusLabel
{
	color: #025A82;
	text-align: right;
	/*text-decoration: underline;*/
	font-weight: bold;
}

.center-text
{
    text-align: center;
}

/*END: Login styles*/

/*BEGIN: Status styles*/
.label-status
{
    width: 50%;
    float: left;
    text-align: right;
    display: block;
    font-weight: bold;
    margin-right: 0px;
    padding-right: 0px;
}


.control-status
{
    width: 15%;
	margin-left: 0px;
	margin-right: 20%;
	padding-left: 0px;
}

/*END: Status styles*/

#loginInfo
{
	/*background-color: #000000;*/
	width: 200px;
	margin-top: -5px;
	margin-left: 0px;
	left: 0px;
/*	margin-top: 0px;*/
	position: absolute;
}

.loginOuter
{
	/*background-color: #6AADE4;*/
	position: absolute;
	top: 0;
	margin-bottom: 10px;
	margin-top: 5px;
	/*left: 67%;*/
	left: 67%;
	height: 44px;
	width: 30%;  	
}

.loginInner 
{
	/*background-color: #6AADE4;*/
	position: absolute;
	height: 44px;
	right: 0;
	font:11px Arial, Sans-Serif; 
	/*color:#025A82; */
	font-weight:bold;
	
}

.loginLabel
{
	text-align: right;
}

.loginButton
{
	vertical-align: middle;
}

table.loginControls
{
	width: 300px;
	margin-top: 3px;
	border-collapse: collapse;
	border-spacing: 1px;
}

.loginTextBox
{
	font-size: 10px;
	width: 120px;
	height: 12px;
}

#loginRemember
{
	position: absolute;
	left: 80.5%;
	margin-top: 55px;
	margin-bottom: 20px;
	top: 0;
}
/*RMA-13498*/
.Homepage
{
	left: .5%;
	width: 98.7%;
	height: 91%;
	/*margin-top: 20px;*/
	border-color: #6AADE4;
	border-style: solid;
	border-width: 1px;
	position: absolute;
}
.CustompleaseWaitFrame 
{
	background-color:Transparent;
	position:absolute;
	top:35%;
	left:40%;
    display:none;
	/*-moz-opacity: 0.99;     
	filter: alpha(opacity=99); */    
}

.FailureText
{
	position: absolute;
	left: 65%;
	color: red;
}

#aboutRMXLogo
{
	position: absolute;
	left: 5%;
	top: 5%;
}

#aboutVersion
{
    position: absolute;
	left: 5%;
	top: 20%;
}

#aboutSupportLogo
{
    position: absolute;
	left: 5%;
	top: 45%;
}

#aboutContact
{
    position: absolute;
	left: 5%;
	top: 50%;
}

#aboutCopyright
{
    position: absolute;
	left: 5%;
	top: 90%;
	font:11px Arial, Sans-Serif; color:#666666;
}

.aboutTitle
{
    font:12px Arial, Sans-Serif; color:#666666;
}

.aboutTitleWhite
{
    font:12px Arial, Sans-Serif; color:White;
}

.aboutText
{
    font:12px Arial, Sans-Serif; color:#454343;
}
.popupdiv{
    position: absolute;
    width: 200px;
    padding: 5px;
    background: #64ACE1;
    border: 1px solid #ccc;
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #000;
}
.popupdiv #b{
	font-weight: bold;
}
.SelectedItem
{
    background: none repeat scroll 0 0 #6699FF !important;
}
.PolicyDownloadButton
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/tb_policydownload_active.png);
    width: 20px;
	height: 22px;
	cursor: pointer;
}
.OpenMediaView
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/tb_mediaview_open.png);
    width: 20px;
	height: 22px;
	cursor: pointer;
}
/*akaushik5 Added for MITS 32148 Starts*/
.pclass p, p.pclass
{
    margin: 0px;
    padding: 0px;
}
/*akaushik5 Added for MITS 32148 Ends*/
.OpenPointPolicy
{
    BORDER: 0px;
    BACKGROUND-IMAGE: url(/RiskmasterUI/Images/tb_pointpolicy_open.png);
    width: 20px;
	height: 22px;
	cursor: pointer;
}
/* agupta298 - JIRA 4691 */
.BoldUnderline 
{
    FONT-WEIGHT: bold;
    text-decoration: underline;
}
/* agupta298 - JIRA 4691 */