.RadMenu_CssGrey {
	BACKGROUND: #dedede
}
.RadMenu_CssGrey .link {
	BORDER-TOP: #dedede 3px solid; FONT-WEIGHT: bolder; COLOR: black; LINE-HEIGHT: 20px; BORDER-BOTTOM: #dedede 2px solid; TEXT-DECORATION: none
}
.RadMenu_CssGrey .link .text {
	PADDING-RIGHT: 20px
}
.RadMenu_CssGrey .link:hover {
	BORDER-TOP: #828282 1px solid; FONT-WEIGHT: bolder; BACKGROUND: #7ba7c7; COLOR: white; BORDER-BOTTOM: #ef2626 3px solid
}
.RadMenu_CssGrey .focused {
	BORDER-TOP: #828282 1px solid; FONT-WEIGHT: bolder; BACKGROUND: #7ba7c7; COLOR: white; BORDER-BOTTOM: #ef2626 3px solid
}
.RadMenu_CssGrey .expanded {
	BORDER-TOP: #828282 1px solid; FONT-WEIGHT: bolder; BACKGROUND: #7ba7c7; COLOR: white; BORDER-BOTTOM: #ef2626 3px solid
}
.RadMenu_CssGrey .link:hover .text {
	BORDER-TOP: #b8b8b8 1px solid
}
.RadMenu_CssGrey .focused .text {
	BORDER-TOP: #b8b8b8 1px solid
}
.RadMenu_CssGrey .expanded .text {
	BORDER-TOP: #b8b8b8 1px solid
}
.RadMenu_CssGrey .rootGroup .disabled:hover {
	BORDER-TOP: #dedede 2px solid; BACKGROUND: #dedede; BORDER-BOTTOM: #dedede 2px solid
}
.RadMenu_CssGrey .rootGroup .disabled:hover .text {
	BORDER-TOP: #dedede 1px solid
}
.RadMenu_CssGrey .text {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.RadMenu_CssGrey .group {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.RadMenu_CssGrey .group .link {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: white 1px solid; BACKGROUND: #f1f1f1; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid; TEXT-ALIGN: left
}
.RadMenu_CssGrey .group .text {
	PADDING-RIGHT: 40px; PADDING-LEFT: 6px
}
.RadMenu_CssGrey .group .link:hover .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssGrey .group .focused .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssGrey .group .expanded .text {
	BORDER-TOP-WIDTH: 0px
}
.RadMenu_CssGrey .group .link:hover {
	BORDER-TOP: white 1px solid; FONT-WEIGHT: normal; BACKGROUND: #fafafa; BORDER-BOTTOM: #ef2626 1px solid
}
.RadMenu_CssGrey .group .focused {
	BORDER-TOP: white 1px solid; FONT-WEIGHT: normal; BACKGROUND: #fafafa; BORDER-BOTTOM: #ef2626 1px solid
}
.RadMenu_CssGrey .group .expanded {
	BORDER-TOP: white 1px solid; FONT-WEIGHT: normal; BACKGROUND: #fafafa; BORDER-BOTTOM: #ef2626 1px solid
}
.RadMenu_CssGrey .leftArrow {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .rightArrow {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .topArrow {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .bottomArrow {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .leftArrowDisabled {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .rightArrowDisabled {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .topArrowDisabled {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .bottomArrowDisabled {
	BORDER-RIGHT: #d1d1d1 1px solid; BACKGROUND: url(img/left.gif) #f1f1f1 no-repeat center center; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px
}
.RadMenu_CssGrey .topArrow {
	BACKGROUND-IMAGE: url(img/top.gif); WIDTH: 100%
}
.RadMenu_CssGrey .topArrowDisabled {
	BACKGROUND-IMAGE: url(img/top.gif); WIDTH: 100%
}
.RadMenu_CssGrey .bottomArrow {
	BACKGROUND-IMAGE: url(img/bottom.gif); WIDTH: 100%
}
.RadMenu_CssGrey .bottomArrowDisabled {
	BACKGROUND-IMAGE: url(img/bottom.gif); WIDTH: 100%
}
.RadMenu_CssGrey .rightArrow {
	HEIGHT: 100%
}
.RadMenu_CssGrey .leftArrow {
	HEIGHT: 100%
}
.RadMenu_CssGrey .rightArrow {
	BACKGROUND-IMAGE: url(img/right.gif)
}
.RadMenu_CssGrey .rightArrowDisabled {
	BACKGROUND-IMAGE: url(img/right.gif)
}
.RadMenu_CssGrey .vertical .separator .text {
	BORDER-RIGHT: #d1d1d1 1px solid; FONT-SIZE: 1px; BACKGROUND: #eaeaea; BORDER-LEFT: #d1d1d1 1px solid; PADDING-TOP: 2px
}
.RadMenu_CssGrey .expandLeft {
	BACKGROUND: url(img/groupImage.gif) no-repeat right center; MARGIN: 0px 3px
}
.RadMenu_CssGrey .expandRight {
	BACKGROUND: url(img/groupImage.gif) no-repeat right center; MARGIN: 0px 3px
}
.RadMenu_CssGrey .link:hover .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey .link:hover .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey .focused .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey .focused .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey .expanded .expandLeft {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey .expanded .expandRight {
	BACKGROUND: url(img/invertedGroupImage.gif) no-repeat right center
}
.RadMenu_CssGrey_rtl .group .link:hover .expandLeft {
	PADDING-LEFT: 8px; BACKGROUND: url(img/left.gif) no-repeat left center; MARGIN: 0px 1px
}
.RadMenu_CssGrey_rtl .group .link:hover .expandRight {
	PADDING-LEFT: 8px; BACKGROUND: url(img/left.gif) no-repeat left center; MARGIN: 0px 1px
}
.RadMenu_CssGrey_rtl .expandLeft {
	BACKGROUND: url(img/groupImageRTL.gif) no-repeat left center
}
.RadMenu_CssGrey_rtl .expandRight {
	BACKGROUND: url(img/groupImageRTL.gif) no-repeat left center
}
/*rsushilaggar MITS 36233*/
.overlay {
    background-color: #ccc;
    z-index: 999;
    position: fixed;/*RMA-6871*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    filter: alpha(opacity=40);
    /*opacity:0.4;*/
    opacity:0.3; /* for transparancy */
}
