<%@ Page Language="C#" AutoEventWireup="true" CodeFile="main.aspx.cs" Inherits="Riskmaster.RmxPortal._main" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head runat="server">
    <link href="images/default.css" type="text/css" rel="stylesheet">
    <link media="print, projection, screen" href="images/ui.tabs.css" type="text/css" rel="stylesheet">    
</head>
<body bgcolor="#0d4c7d">
  <form runat="server" >
    <script src="images/jquery-1.2.6.js" type="text/javascript"></script>
    <script src="images/ui.core.js" type="text/javascript"></script>
    <script src="images/ui.tabs.js" type="text/javascript"></script>
 
    <script type="text/javascript">
    
      $(function() {
                $('#rmxportal-container ul').tabs();
            });
//      var navDuration = 150; //time in miliseconds
//      var navJumpHeight = "0.45em";

//      $('#container-1 ul').hover(function() {
//          $(this).animate({ top : "-="+navJumpHeight }, navDuration);            
//      }, function() {
//          $(this).animate({ top : "15px" }, navDuration);
//      });

    </script>
    

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr valign="middle">
                                    <td align="left" valign="top">
                                        <img height="54" src="images/weblogox4.gif"></td><!--style="width: 536px; height: 65px;"-->
                                    <td style="background-repeat: repeat-x; background-position: center top;" align="center"
                                        background="images/welcome_tile.gif" valign="top" width="100%">
                                    </td>
                                    <td align="center">
                                                  </td>
                                    <td align="right" valign="bottom" width="30%">
                                        <form style="margin: 0pt;" method="post" action="pass-thru.jsp" enctype="application/x-www-form-urlencoded">
                                          
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:left;height:600px">
        <tbody>
            <tr>
                <td>
                    <div>
                        <%--<center>--%>
                       
                        <asp:Label ID="lblStatus" runat="server"  ForeColor="White"></asp:Label>
                       
                        <asp:Literal ID="TabsPlaceHolder" runat="server"  ></asp:Literal>
                       
                            <%--style="top:103;margin:10px;"--%>
    <%--<div id="container-1">
        <ul>
            <li><a href="#fragment-1"><span>t 1</span></a> </li>
            <li><a href="#fragment-2"><span>t 2</span></a> </li>
            <li><a href="#fragment-3"><span>t 3</span></a> </li>
        </ul>        
        <div id="fragment-1"  >
            <pre>
            111111111
            asdasd
            asda
            asdad
            asdasd</pre>
        </div>
        <div id="fragment-2">
            222222222
        </div>
        <div id="fragment-3">
            3333333333
        </div>
    </div>--%>
                        
        <br />
                            <br />
                            <br />
       
                            <%--<table border="1" cellpadding="2" cellspacing="0" width="50%">
                                <tbody>
                                    <tr>
                                        <td colspan="3" class="INPUTFORMTITLE" align="center">
                                            Account Login
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="INPUTFORM">
                                            <p>
                                                <b>Invalid user name and/or password. Please reenter your credentials.</b></p>
                                            <form method="post" action="pass-thru.jsp" enctype="application/x-www-form-urlencoded">
                                                <!--<input name="action" value="JCSCLoginUser" type="hidden">-->
                                                <center>
                                                    <table border="0" cellpadding="1" cellspacing="2">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Username:</td>
                                                                <td>
                                                                    <input size="12" value="" name="loginname" maxlength="25" type="text"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Password:</td>
                                                                <td>
                                                                    <input size="12" value="" name="password" maxlength="25" type="password"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" align="center">
                                                                    <input name="submit" value="Login" type="submit">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" align="center">
                                                                    &nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </center>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>--%>
                            <br />
                            <br />
                            <br />
                        <%--</center>--%>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="#ffffff" valign="bottom">

                </td>
            </tr>
        </tbody>
    </table>
  </form>
</body>
</html>
