﻿<%@ Page Language="C#" AutoEventWireup="true"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
     <!--RMA-9127 : Replaced frameset as table -->
     <!--<frameset name="topFS" noresize="noresize" rows="75,*" frameborder="0" framespacing="0" border="0" onload="parent.MDIScreenLoaded();">
            <frame name="frm_Top_Menu" noresize="noresize" src="TableMaintTop.aspx" scrolling="no" frameborder="1" marginwidth="0" border="1">
            <frameset name="bottomFS" noresize="noresize" cols="30%,*" frameborder="1" marginheight="0" marginwidth="0" border="1">
                    <frame name="frm_Tables" noresize="noresize" src="TableList.aspx" scrolling="auto" marginheight="0" marginwidth="0" border="1">
                    <frame name="frm_Code_Detail" noresize="noresize" src="CodeList.aspx" scrolling="no" frameborder="1" marginheight="0" marginwidth="0" border="1">
            </frameset>
        </frameset>-->
    <body  onload="parent.MDIScreenLoaded();" style="overflow:hidden;">
        <table width="100%">
            <tr>
                <td colspan="2"><iframe name="frm_Top_Menu" width="100%" src="TableMaintTop.aspx" scrolling="no" frameborder="1" marginwidth="0" style="height: 80px;" ></iframe></td>
            </tr>
            <tr>
                <td style="width:20%;"><iframe name="frm_Tables" width="100%" src="TableList.aspx" scrolling="yes" marginheight="0" marginwidth="0" frameborder="1" style="height: 320px;"></iframe></td>
                <td style="width:50%;" ><iframe name="frm_Code_Detail" width="100%" src="CodeList.aspx" scrolling="yes" frameborder="1" marginheight="0" marginwidth="0" style="height: 320px;"></iframe></td>
            </tr>
        </table>
    </body>
</html>
