/* 26990 */ 
/*46378 web-safe colors, combined styles, added ; where needed and lowered case */
/* 111360 global font-family */
*{
	font-family:Arial;
}
BODY
{
    font-size: 10pt;
    background: #4C81B1; 
    color: #000000;
    font-style: normal;
    margin-left: 0px; 
    margin-top: 0px;
    margin-right: 0px;
}
.fLabel
{
    color: white;
    font-size: 10pt; 
    font-weight: bold;
    text-decoration: none;
}
/* home page verbiage */
.REFTITLE
{
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
}
.fLabel12ptWhite
{
    color: #ffffff; 
    font-size: 12pt;
}
.fLabelWhite
{
    color: #ffffff;
    font-size: 9pt;
}
