﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrintCheckDownload.aspx.cs" Inherits="Riskmaster.UI.PrintChecks.PrintCheckDownload"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register src="~/UI/Shared/Controls/CommonTasks.ascx" Tagname="CommonTasks" tagprefix="uc4" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Print Check</title>
    <uc4:CommonTasks ID="CommonTasks1" runat="server" />
    <script  type="text/javascript" language="javascript" src='<%#Page.ResolveUrl("~/Scripts/PrintChecks.js")%>'></script>
    <script language="javascript">
     
    </script>
</head>
<body onload="createdynamicClose()">
    <form id="form1" runat="server" >
    <rmcontrol:ErrorControl ID="ErrorControl1" Runat="server" />  
    </form>
</body>
</html>
