<%@ Page LANGUAGE="C#" %>
<%@ Assembly Name="CrystalDecisions.Enterprise.Web,Version=11.5.3300.0,Culture=neutral,PublicKeyToken=692fbea5521e1304" %>
<%@ Import Namespace="CrystalDecisions.Enterprise" %>
<%@ Import Namespace="CrystalDecisions.Enterprise.WebControls" %>

<%


//if (CanAuthenticate(ref TokenFromAnotherApp, ref userName))
//            {

	String sUserID =(String)Session["user_ss"];
	String sPWD = (String) Session["pass_ss"];
	

        SessionMgr sess = new SessionMgr();
        TrustedPrincipal tp = sess.CreateTrustedPrincipal(sUserID, "CSCWEBAUS016:6400");
        EnterpriseSession esess = sess.LogonTrustedPrincipal(tp);
        CrystalDecisions.Enterprise.WebControls.Identity ident =
          new CrystalDecisions.Enterprise.WebControls.Identity();
        ident.EnterpriseSession = esess;

//NOTE: use "MyIdentityCookie" for XI and "IdentityCookie" for XIr2
        HttpCookie identCookie = new HttpCookie("IdentityCookie", ident.GetToken());
        identCookie.Path = "/";
        Response.Cookies.Add(identCookie);
        // Redirect the user to the main page
        Response.Redirect("main.aspx");
//      }
%>