<%@ Page aspcompat=true LANGUAGE="JSCRIPT" %>
<%
	var o, sUserID, sPWD;

	o = Server.CreateObject("RMBIS.CBISSSO");
	sUserID = o.GetUserID(Request("connectstr"));
	sPWD = o.GetPWD(Request("connectstr"));

	Session("user_ss") = sUserID;
	Session("pass_ss") = sPWD;
	Response.Redirect("rmxLogin.aspx");

//Response.Write("BIS INTEGRATION: " + Request("connectstr") + "USerID = " + sUserID + " AND PWD = " + sPWD);
//Response.End();

%>
<html>
<head>
<title>BIS Authentication Gateway</title>
 <script>
  window.location.href="rmxLogin.aspx";
 </script>
</head>

<body>
 <noscript>
  <p>
   Click <a href="rmxLogin.aspx">here</a>
   to access the service you requested.
  </p>
 </noscript>
</body>

</html>