/*@import url("layouts/layout-3d.css");*/
/*RMA-13498 not required this css file dont exist was extra overhead*/
.calendar {
  border-color: #fff #000 #000 #fff;
  background-color: Window;
  color: WindowText;
}

.calendar table {
  border-color: #fff #000 #000 #fff;
  background-color: Window;
  color: WindowText;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  background-color: ButtonFace;
}

.calendar .nav {
  background-color: ButtonFace;
}

.calendar thead .title { /* This holds the current "month, year" */
  border-color: #000;
  background-color: ActiveCaption;
  color: CaptionText;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-color: ButtonShadow;
  background-color: ButtonFace;
  color: ButtonText;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  border-color: ButtonShadow;
  background-color: ButtonFace;
  color: ButtonText;
}

.calendar tbody .rowhilite td {
  background-color: Highlight;
  color: HighlightText;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  border-color: #fff #000 #000 #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.calendar tbody td.selected { /* Cell showing selected date */
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
  background-color: ButtonFace;
  color: ButtonText;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  color: #00f;
}

.calendar tbody td.disabled { color: GrayText; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background-color: ButtonFace;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
  color: ButtonText;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-color: #fff #000 #000 #fff;
  background-color: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  border-color: #000 #fff #fff #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  background-color: Menu;
  color: MenuText;
}

.calendar .combo .active {
  border-color: #000;
}

.calendar .combo .hilite {
  background-color: Highlight;
  color: HighlightText;
}

/* time */

.calendar tfoot tr.time td { border-color: ButtonShadow; background-color: ButtonFace; }
.calendar tfoot tr.time td.hour,
.calendar tfoot tr.time td.minute { border-color: ButtonShadow; }
.calendar tfoot tr.time td.hilite { background-color: Highlight; color: HighlightText; }
.calendar tfoot tr.time td.active { background-color: Highlight; color: HighlightText; }
.calendar-time-scroller { border-color: ButtonShadow; }
