.igwtMainSilver2k7 {
	background-color: #D0D4DD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4C535C;
	padding-right: 12px;
	padding-left: 12px;
	
	border: 1px solid #8D8E90;
	

}	

.igwtTabNormalSilver2k7 {

	font-size: 11px;
	background-image:url(../Office2007Black/WebTab/igwt_tab_normal.jpeg);
	background-repeat: repeat-x;
	color: #4C535C;



}

.igwtTabHoverSilver2k7 {
	font-size: 11px;
	background-image:url(../Office2007Black/WebTab/igwt_tab_hover_mid.jpeg);
	background-repeat: repeat-x;
	
}

.igwtTabSelectedSilver2k7 {
	font-size: 11px;
	color: #4C535C;
	background-color: #F1F4F8;
	
}

.igwtSeparatorSilver2k7 {
	width: 20px;
	
}