﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MonthView.aspx.cs" Inherits="Riskmaster.UI.Diaries.DiaryCalendar.MonthView" EnableViewState="true" %>
<%@ Register TagPrefix="uc1" TagName="ErrorControl" Src="~/UI/Shared/Controls/ErrorControl.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Diary Calendar Month View</title>
    <script src="../../../Scripts/DairyCalender.js" type="text/javascript"></script>  
    <script src="../../../Scripts/jquery/jquery-1.8.0.js" type="text/javascript" >        { var i; }  </script>


    <link rel="stylesheet" href="../../../Scripts/jquery/themes/cupertino/jquery.ui.all.css" />
    <link rel="stylesheet" href="../../../Scripts/jquery/demos.css" />
    <script type="text/javascript" src="../../../Scripts/jquery/jquery-1.8.0.js">        { var i; }  </script>
    <script type="text/javascript" src="../../../Scripts/jquery/ui/jquery.ui.core.js">        { var i; } </script>
    <script type="text/javascript" src="../../../Scripts/jquery/ui/jquery.ui.datepicker.js">        { var i; } </script>
    <script language="javascript">

        function WebScheduleMonthView_NavigatePrev(oScheduleInfo, oEvent, oDialog, oActivity) {
            document.getElementById('divDiaryDisplay').style.display = 'none';
            $('#btnPrev').click();
            return true;
        }

        function WebScheduleMonthView_NavigateNext(oScheduleInfo, oEvent, oDialog, oActivity) {
            document.getElementById('divDiaryDisplay').style.display = 'none';
            $('#btnNext').click();
            return true;
        }

        function MouseDown() {
            document.getElementById('divDiaryDisplay').style.display = 'none';
        }
        function CloseWindow() {
            if ($('#txtDate').val() != "")
                window.parent.opener.document.getElementById('CompleteDate_date').value = $('#txtDate').val();
            parent.close();
            return false;
        }
        function DateSelected() {
            $('#hdnserverdate').val($('#txtDate').val());
            $('#btnSelectDate').click();
        }
        function CheckMDIScreenLoaded() {
            try {
                parent.MDIScreenLoaded();
            }
            catch (e) { }
        }
    </script>
</head>
<body  onload="CheckMDIScreenLoaded()">
    <form id="form1" runat="server" style="overflow: hidden">
    <uc1:ErrorControl runat="server" ID="ErrorControl"></uc1:ErrorControl>   
    <div id="progressIndicatorTemplate"></div> 
        <table>
            <tr style="vertical-align: middle;">
                <td>
                    <asp:Label ID="Label1" CssClass="data1" runat="server" Text="<%$ Resources:lblSelectDate %>"></asp:Label>
                    <asp:Button ID="btnSelectDate" runat="server" OnClick="btnSelectDate_Click" Style="display: none;" />

                </td>
                <td>
                    <asp:TextBox runat="server" ID="txtDate" Style="display: none;" onChange="DateSelected()" />
                    <script type="text/javascript">
                        $(function () {
                            $("#txtDate").datepicker({
                                showOn: "button",
                                buttonImage: "../../../Images/calendar.gif",
                                buttonImageOnly: true,
                                showOtherMonths: true,
                                selectOtherMonths: true,
                                changeYear: true
                            });
                        });
                    </script>
                </td>
                <td>
                    <input id="btnSetDate" type="button" value="Set Due Date" onclick="CloseWindow();" class="button" runat="server" visible="false" />

                </td>
            </tr>
        </table>

         
                                <igsch:WebMonthView    ID="DiaryMonthView"  runat="server"  EnableViewState="true" EnableAutoActivityDialog="false"   
                                    WebScheduleInfoID="MonthViewWebScheduleInfo" EnableKeyboardNavigation ="true"  WeekendDisplayFormat="full"
                                    style="top: 0px; left: 1px; width:98%; " 
                                    StyleSheetFileName="../../../Content/DiaryCalendar/Aero/ig_webmonthview.css">
                                    <ClientEvents Click ="WebSchedule_Click" /> 
                                    <ClientEvents NavigateNext ="WebScheduleMonthView_NavigateNext" /> 
                                    <ClientEvents NavigatePrevious ="WebScheduleMonthView_NavigatePrev" />      
                                    <ClientEvents MouseDown = "MouseDown" /> 
                                    <ClientEvents  Initialize="setupSchedPI" />
                                </igsch:WebMonthView>
                            
                     <igsch:WebScheduleInfo ID="MonthViewWebScheduleInfo"   
                        EnableSmartCallbacks="true" runat="server"  EnableViewState="true" 
                        EnableProgressIndicator="true" ActiveDayClientSynchronization="always" 
                        onactivedaychanging="MonthViewWebScheduleInfo_ActiveDayChanging" >
                    </igsch:WebScheduleInfo>
                
        
        <asp:hiddenfield ID="hdnserverdate" runat="server"></asp:hiddenfield>
        <asp:Button ID="btnPrev"  runat="server" OnClick="btnPrev_Click" style="display: none;"/>
        <asp:Button ID="btnNext" runat="server" OnClick="btnNext_Click" style="display: none;"/>
        <div id="divDiaryDisplay" style="display: none;width: 97%;background-color: #FFFFFF;">
        </div>
    </form>
</body>
</html>