body {
   margin: 0 0 0 0;
}

  #banner
  {
   background-color: #6AADE4;
   position:absolute;   
   height: 44px;
   width: 67%;
   top:0;
   left:0;   
  }
  
  #loginInfoOuter
  {
  	background-color: #6AADE4;
  	position: relative;
  	top: 0;
  	left: 67%;
  	height: 44px;
  	width: 30%;  	
  }

#loginInfoInner 
{
	background-color: #6AADE4;
	position: absolute;
    height: 44px;
    right: 0;
    top: 0;
	font:11px Arial, Sans-Serif; color:#025A82; font-weight:bold;
	padding-right: 5px;
}
.loginValue
{
	font:11px Arial, Sans-Serif; color:White;
}

#tabMenu {
background-color: #ffffff;
height: 28px;
width: 80%;
position:absolute;
top:44px;
left: 17%;
margin-top: 7px;
/*margin-left: 5px*/
}
   
#RMXTab 
{
   	background-color: White;
   	position: fixed;
   	overflow: visible;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 92%;
}
 /*RMA-13498*/  
#menuBar {
background-color: #7288AC;
position:relative;
overflow:hidden;
width: 83.3%;
height: 28px;
top: 0;
left: 0.5%;
}
#scrollingFrame
{
background-color:#ffffff;
overflow: hidden;
width: 83.3%;
height: 99.5%;
position: relative;
top:3.5%;
left: 0.5%;
}
#breadcrumb 
{
   display:block;   	
   background-color: #ffffff;
   overflow:auto;
   width: 78%;
   height: 20px;
   position:absolute;
   top:28px;
   left: 16.8%;
   vertical-align:middle;
}

#navTreeOuter {
    background-color:#f5f5f5;
	overflow: auto;
    width: 16%;
    height: 99%;
    position:relative;
    top: 0;
    left:0;
	font: small;
	padding-bottom: 48px;
    float:left;
	/*display:none;*/
    border:1px solid #ccc;
}
/*RMA-13498*/
	.breadcrumbDelimiter
    {
		font:13px Arial, Sans-Serif; color:#005172; font-weight:bold;
		cursor:default;
    }
    
    .breadcrumbSolidItem
    {
		font:11px Arial, Sans-Serif; color:#005172;
		cursor:default;		
    } 
    
	.breadcrumbLinkItem
    {
		font:11px Arial, Sans-Serif; color:#005172;
		cursor:pointer;		
    }
    
   #reloadButton
   {
   display:block;
   background-color:White;
   direction: rtl;
   width: 2%;
   height: 16px;
   position: absolute;
   top: 28px;
   left: 96%;
   padding: 2px 2px 2px 0px;
   cursor:pointer;
   }     
   
   #closeButton
   {
   display:block;
   background-color:White;
   direction: ltr;
   width: 2%;
   height: 16px;
   position: absolute;
   top: 28px;
   left: 98%;
   padding: 2px 2px 2px 2px;
   cursor:pointer;
   } 
   
  

#navTreeInner {
    background-color:Transparent;
    position: relative;
	overflow:visible;
	top: 0;
    left:0;	
}

#MDIMeter {
    background-color:White;
    position:fixed;
	overflow:hidden;
	width:15px;
	height:20px;
	top: 0;
    left:0;
    cursor:default;
}

.iFrameScreen
{
	border-width:thin;
	border-color:Black;
}

	
        .nodeLevel1
        {
            font:4em Arial,Sans-Serif;
        }
        .nodeLevel2
        {
            font:2em Arial,Sans-Serif;
        }
        .nodes
        {
            font:1.1em Arial,Sans-Serif; color:#003C64;
        }        
        .close
        {
            font:1.3em Verdana; color:Black; font-weight:bolder;
        }


#menu li {
   position:relative;
   left:5%;
   top:2%;
   }


.smallpara {
   width:30%;
   }

.nodemenuitemhigh {
   border: dotted 1px;	
   background-color: #ABC0E7;
   font:11px Arial,Sans-Serif;
   color:#000000;
   margin: 2px 2px 2px 2px;
   cursor: pointer;
   }
   
.nodemenuidleitemhigh {
   border: dotted 1px;	
   background-color: #ffffff;
   font:11px Arial,Sans-Serif;
   color:#000000;
   margin: 2px 2px 2px 2px;
   cursor: auto;
   }   
   
.nodemenuitem 
{
   border: dotted 1px;
   border-color: #ffffff;
   background-color: #ffffff;
   font:11px Arial,Sans-Serif;
   color:#000000;
   margin: 2px 2px 2px 2px;
   cursor: auto;
}

.nodemenu {
    border: solid 1px;
	border-color:#000000;
	background-color:#ffffff;
	display:none;
	position:relative;
	Width:14px;
	height:10px;
	padding: 5px 5px 5px 5px;
}		

.t1
{
   background-image: url(/RiskmasterUI/Images/greybuttonflat.gif);
   background-color: #ffffff;
   /*position:float;*/
   font:13px Arial,Sans-Serif;
   color:#696969;
   Width:89px;
   font-weight: bold;
   cursor: default;
   /*border: solid 1px;
   border-color:Blue;*/
   
}

.notSaved
{
   background-image: url(/RiskmasterUI/Images/not_saved.jpg);
   width: 15px;
   height: 15px;
}

.rootTreeNode
{
   background-image: url(/RiskmasterUI/Images/greybuttonflat.gif);
   background-color: #ffffff;
   /*position:float;*/
   font:13px Arial,Sans-Serif;
   color:#696969;
   Width:89px;
   font-weight: bold;
   cursor: pointer;
}

.parentTreeNode
{
	font:0.7em Arial, Verdana; color:#005172; font-weight:bold;
}

.treeNode
{
	font:0.7em Arial, Verdana; color:#000000;
	padding: 5px 0px 0px 0px;
}

.selectedTreeNode
{
	text-decoration: underline;
	padding: 0px 0px 0px 0px;
}	

.hoverTreeNode
{
	text-decoration: none;
}

.idleTreeNode
{	
    font:0.7em Arial, Verdana; color:#005172; font-weight:bold;
	text-decoration: none;
	cursor: pointer;
}

.idleTreeLeaf
{	
    font:0.7em Arial, Verdana; color:#000000; font-weight:normal;
	text-decoration: none;
	cursor: pointer;
}

.handleUnsaved
{
 white-space:nowrap
	/*border: 1 1 1;
   background-image: url(greybuttonflat.gif);
   background-color: #ffffff;
   position:float;
   font:13px Arial,Sans-Serif;
   color:#696969;
   Width:89px;
   font-weight: bold;
   border: solid 1px;
   border-color:Blue;*/
   
}

/*.bpleasewait
{
   background-image: url(bluenavbutton1.gif);
   background-color: #ffffff;
   position:absolute;
   z-index:5;
   top:70%;
   left:40%;
   visibility:hidden;
   font:17px Arial,Sans-Serif;
   color:#000000;
   Width:250px;
   Height:100px;
   border: solid 1px;
   border-color:Blue;
   opacity:0.3;
   filter:alpha(opacity: 0.3);
}*/

#pleaseWaitFrame 
{
	background-color:Transparent;
	position:absolute;
	top:50%;
	left:50%;
    display:none;
	/*-moz-opacity: 0.99;     
	filter: alpha(opacity=99); */    
}