﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EventExplorerTree.aspx.cs" Inherits="Riskmaster.UI.EventExplorer.EventExplorerTree" %>
<%@ Register src="~/UI/Shared/Controls/ErrorControl.ascx" Tagname="ErrorControl" tagprefix="uc3" %>



<%@ Register src="~/UI/Shared/Controls/CommonTasks.ascx" Tagname="CommonTasks" tagprefix="uc4" %>

      <uc4:CommonTasks ID="CommonTasks1" runat="server" />
       <script  type="text/javascript" language="javascript" src='<%=Page.ResolveUrl("./Scripts/eventexplorer.js")%>'></script>
 <uc3:ErrorControl ID="ErrorControl1" runat="server" />

    <html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xhtml="http://www.w3.org/1999/xhtml"  >
    <head runat="server">
				<title>Event Explorer</title>
			</head>
    <%= Display%>
</html>
  

