﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestEventExplorer.aspx.cs" Inherits="Riskmaster.UI.EventExplorer.TestEventExplorer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
     <a href="EventExplorer.aspx?EventId=2&Lob=0&ClaimId=2">Start Event Explorer</a>
    </div>
    </form>
</body>
</html>
