<div class="row" ng-show="signedIn()" ng-swipe-left="left()">
    <div class="col-xs-12">
        <div class="panel panel-primary" ng-show="error">
            <div class="panel-heading text-center">
                Claims Status : Failed
            </div>
            <div class="panel-footer" >
                Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
                Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
                Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}
            </div>
        </div>

    </div>
    <div class="col-xs-12" ng-hide="loading">
        <div class="form-group">
                <input ng-model="Data.message" type="text" class="form-control text-center" placeholder="Claim Search" />
        </div>
    </div>

    <div class="col-xs-12 text-center" ng-show="loading">
        <div ng-include="'views/loading.html'"></div>
    </div>

    <div class="col-xs-12" ng-repeat="claim in formattedClaims | filter: Data.message" ng-hide="loading">
        <div class="panel panel-primary">
           <div class="panel-heading text-center"><a href='#/claims/{{claim["Claim Number"]}}' class="fullWidth">Claim :{{claim["Claim Number"]}}</a></div>
            <div class="panel-body">
                <strong>Claimant :</strong>{{claim["Claimant First Name"]}}{{claim["Claimant Last Name"]}} <br />
                <strong>Event No :</strong> {{claim["Event Number"]}} <br />
                <strong>Event Date :</strong> {{claim["Event Date"]["formatedtext"]}}<br/>
                <hr>
                {{claim["Event Description"]}}
            </div>
        </div>

    </div>
    <div ng-hide="loading">
        <div class="col-xs-12" ng-if='formattedClaims.length==0'>
            <h3 class="btn btn-default btn-block">You are not assigned to any claim.</h3>
        </div>
    </div>
</div>
