﻿<!--Modals-->
<div id="myNotes" class="modal fade" role="dialog" aria-labelledby="myNotesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text-center" id="myNotesLabel">Attach Notes</h4>
      </div>
      <div class="modal-body">
        <form name="note_form" novalidate ng-submit="submitNote()">
          <div class="form-group">
            <select name="noteType" ng-model="note.NoteTypeCode"
                    ng-options="note.ShortCode+' '+note.Desc for note in noteTypes.Codes"
                    class="form-control" required>
              <option ng-hide="note.noteTypeCode" value="" required>Select Note Type</option>
            </select>

            <div class="error-container"
                 ng-show="(note_form.noteType.$dirty && note_form.noteType.$invalid)||note_form.submitted">
              <small class="error" ng-show="note_form.noteType.$error.required">
                Note Type is
                required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="activity date"
                   name="activityDate"
                   ng-model="note.DateEntered"
                   onfocus="(this.type='date')"
                   required/>

            <div class="error-container"
                 ng-show="(note_form.activityDate.$dirty && note_form.activityDate.$invalid)||note_form.submitted">
              <small class="error" ng-show="note_form.noteType.$error.required">
                Date is required
              </small>
            </div>
          </div>
          <div class="form-group">
                                    <textarea class="form-control" placeholder="note content" name="noteContent"
                                              ng-model="note.NoteMemo" rows="8" required></textarea>

            <div class="error-container"
                 ng-show="(note_form.noteContent.$dirty && note_form.noteContent.$invalid)||note_form.submitted">
              <small class="error" ng-show="note_form.noteContent.$error.required">
                Content is
                required
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="myTasks" class="modal fade" role="dialog" aria-labelledby="myTasksLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text-center" id="myTasksLabel">Attach Task</h4>
      </div>
      <div class="panel-body">
        <!--New Task Form-->
        <form name="task_form" novalidate ng-submit="submitTask()">
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="name"
                   name="name"
                   ng-model="task.name"
                   required autofocus="true"/>

            <div class="error-container"
                 ng-show="(task_form.name.$dirty && task_form.name.$invalid)||task_form.submitted">
              <small class="error" ng-show="task_form.name.$error.required">Name is required</small>
            </div>
          </div>
          <div class="form-group">
            <select class="form-control"
                    ng-model="taskEntered"
                    ng-options="task.ShortCode+' '+task.Desc for task in taskTypes.Codes">
              <option ng-hide="taskEntered" value="">Select Task Type</option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="Due Date"
                   ng-model="task.dueDate"
                   onfocus="(this.type='date')"/>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="Time Due"
                   ng-model="task.dueTime"
                   onfocus="(this.type='time')"/>
          </div>
          <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="description"
                                          ng-model="task.description"
                                          rows="8"/>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
        <!--new task ends-->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="myCamera" class="modal fade" role="dialog" aria-labelledby="myCameraLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text-center" id="myCameraLabel">Attach Picture</h4>
      </div>
      <div class="modal-body">
        <form name="attachment_form" novalidate ng-submit="attach('image')">
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="title"
                   name="title"
                   ng-model="attachment.title"
                   required autofocus="true"/>

            <div class="error-container"
                 ng-show="(attachment_form.title.$dirty && attachment_form.title.$invalid)||attachment_form.submitted">
              <small class="error" ng-show="attachment_form.title.$error.required">
                Title is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="subject"
                   ng-model="attachment.subject"/>
          </div>
          <div class="form-group">
                                <textarea class="form-control"
                                          rows="3"
                                          placeholder="notes"
                                          ng-model="attachment.notes"/>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-block" ng-click="gallery()">Gallery</button>
          <button type="button" class="btn btn-primary btn-block" ng-click="attach('image')">Upload</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="myVideo" class="modal fade" role="dialog" aria-labelledby="myVideoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text-center" id="myVideoLabel">Attach Video</h4>
      </div>
      <div class="modal-body">
        <form name="attachment_form" novalidate ng-submit="attach('video')">
          <div class="form-group">
            <br/>
            <input class="form-control"
                   type="text"
                   placeholder="title"
                   name="title"
                   ng-model="attachment.title"
                   required autofocus="true"/>

            <div class="error-container"
                 ng-show="(attachment_form.title.$dirty && attachment_form.title.$invalid)||attachment_form.submitted">
              <small class="error" ng-show="attachment_form.title.$error.required">
                Title is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="subject"
                   ng-model="attachment.subject"/>
          </div>
          <div class="form-group">
                                <textarea class="form-control"
                                          rows="3"
                                          placeholder="notes"
                                          ng-model="attachment.notes"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" ng-click="attach('video')">Upload</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="myAudio" class="modal fade" role="dialog" aria-labelledby="myAudioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text-center" id="myAudioLabel">Attach Audio</h4>
      </div>

      <div class="modal-body">
        <form name="attachment_form" novalidate ng-submit="attach('audio')">
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="title"
                   name="title"
                   ng-model="attachment.title"
                   required autofocus="true"/>

            <div class="error-container"
                 ng-show="(attachment_form.title.$dirty && attachment_form.title.$invalid)||attachment_form.submitted">
              <small class="error" ng-show="attachment_form.title.$error.required">
                Title is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   placeholder="subject"
                   ng-model="attachment.subject"/>
          </div>
          <div class="form-group">
                                <textarea class="form-control"
                                          rows="3"
                                          placeholder="notes"
                                          ng-model="attachment.notes"/>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" ng-click="attach('audio')">Upload</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--ActionBar-->
<div class="row" ng-swipe-left="left()">
  <div class="col-xs-12" ng-show="toggle">
    <p class="alert alert-success text-center">
      <span ng-show="pinned">Pinned to </span><span ng-hide="pinned">Unpinned from</span>home!
    </p>
  </div>
  <!--Media Menu-->
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        {{claimNo}}
                <span class="pull-right">
                    <img src="images/pin.png" ng-click="pin()" ng-hide="pinned" class="img-circle"
                         style="background: white"/>
                    <img src="images/unpin.png" ng-click="unPin()" ng-show="pinned" class="img-circle"
                         style="background: white"/>
                </span>
      </div>
      <div class="panel-body" ng-hide="error">
                <span class="pomegranate" data-toggle="modal" ng-click="showMyNote()">
                    <i class="fa fa-file-text fa-2x col-xs-2"></i>
                </span>
        <a class="pomegranate" data-toggle="modal" ng-click="click()">
          <i class="fa fa-camera fa-2x col-xs-2"></i>
        </a>
        <a class="pomegranate" data-toggle="modal" ng-click="gallery()">
          <i class="fa fa-picture-o fa-2x col-xs-2"></i>
        </a>
        <a class="pomegranate" data-toggle="modal" ng-click="recordVideo()">
          <i class="fa fa-video-camera fa-2x col-xs-2"></i>
        </a>
        <a class="pomegranate" data-toggle="modal" ng-click="recordAudio()">
          <i class="fa fa-microphone fa-2x col-xs-2"></i>
        </a>
        <a class="pomegranate" data-toggle="modal" ng-click="showMyTask()">
          <i class="fa fa-file-text-o fa-2x col-xs-2"></i>
        </a>
        <span class="col-xs-2" style="font-size: 10px;">Note</span>
        <span class="col-xs-2" style="font-size: 10px;">Camera</span>
        <span class="col-xs-2" style="font-size: 10px;">Gallery</span>
        <span class="col-xs-2" style="font-size: 10px;">Video</span>
        <span class="col-xs-2" style="font-size: 10px;">Audio</span>
        <span class="col-xs-2" style="font-size: 10px;">Task</span>
      </div>
      <!--Error-->
      <div class="panel-body" ng-show="error">
        <div ng-hide="serverError">
          <strong> Extended Msg Type </strong> : {{errorMessage['ExtendedMsgType']}}<br>
          <strong> Extended Status Code</strong> : {{errorMessage['ExtendedStatusCd']}}<br>
          <strong> Extended Status Desc </strong>: {{errorMessage['ExtendedStatusDesc']}}
        </div>
        <div ng-show="serverError" class="text-center">
          {{serverError}}
        </div>
      </div>
      <div class="panel-footer text-center" ng-show="error">Status : {{status}}</div>
    </div>
  </div>
  <!--Claim Info-->
  <div class="col-xs-12" ng-hide="error">
    <div class="panel panel-primary" ng-hide="loading">
      <div class="panel-body">
        <div>
                    <span class="col-xs-12 col-sm-6">
                        <strong>Event : </strong><a href='#/events/{{claimInfo["EventNumber"]}}' class="text-info">{{claimInfo["EventNumber"]}}</a>&nbsp;&nbsp;<i
                      class="fa fa-share-square-o"></i>
                    </span>
          <span class="col-xs-12 col-sm-6"><strong>Date Of Event : </strong>{{claimInfo["DateOfEvent"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Time Of Event
            : </strong>{{ claimInfo.TimeOfEvent | rmaTimeFilter}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Event Date Reported : </strong>{{claimInfo["EventDateRptd"]}}</span>
          <hr class="fullWidth"/>
          <span class="col-xs-12 col-sm-6"><strong>Date Of Claim : </strong>{{claimInfo["DateOfClaim"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Time Of Claim : </strong>{{claimInfo["TimeOfClaim"] | rmaTimeFilter}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Claim Status : </strong>{{claimInfo["ClaimStatus"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Claim Type : </strong>{{claimInfo["ClaimType"]}}</span>
          <hr class="fullWidth"/>
          <span class="col-xs-12 col-sm-6"><strong>File No. : </strong>{{claimInfo["FileNumber"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Policy Name : </strong>{{claimInfo["PolicyName"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Company : </strong>{{claimInfo["Company"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Department : </strong>{{claimInfo["Department"]}}</span>
          <hr class="fullWidth"/>
          <span class="col-xs-12 col-sm-6"><strong>Estimated Collection : </strong>{{claimInfo["EstCollection"]| currency}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Loss Description : </strong>{{claimInfo["LossDescription"]}}</span>
                    <span class="col-xs-12 col-sm-6">
                        <strong>Payment Frozen : </strong><span ng-if="claimInfo['PaymentsFrozen']=='1'">Yes</span><span
                      ng-if="claimInfo['PaymentsFrozen']=='0'">No</span>
                    </span>
          <span class="col-xs-12 col-sm-6"><strong>Service Code : </strong>{{claimInfo["ServiceCode"]}}</span>
          <hr class="fullWidth"/>
          <span class="col-xs-12 col-sm-6"><strong>Record Last Updated :</strong> {{claimInfo["DateTimeRcdLastUpdated"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Close Method : </strong>{{claimInfo["CloseMethod"]}}</span>
          <span class="col-xs-12 col-sm-6"><strong>Date Closed :</strong> {{claimInfo["DateClosed"]}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="loading">
  <div ng-include="'views/loading.html'"></div>
</div>

<!--Executive Summary-->
<div class="row" ng-hide="loading">
  <div class="col-xs-12 col-md-12 col-lg-12" ng-hide="error">
    <div class="panel panel-group" id="accordion">
      <!--Adjuster-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#adjusterInformation" class="fullWidth">Adjuster
              Information</a>
          </h4>
        </div>
        <div id="adjusterInformation" class="panel-collapse collapse">
          <div ng-hide="adjusterInformation.length">
            <div class="panel-body">
              No Adjuster assigned!
            </div>
          </div>
          <div class="panel-body" ng-repeat="adjuster in adjusterInformation">
            <span class="col-xs-2 col-sm-1"><i class="fa fa-user"/></span>
            <span class="col-xs-10 col-sm-11">&nbsp;{{adjuster["AdjusterName"]}}</span>
            <!--<span class="col-xs-12">Current Adjuster :  <span ng-if='adjuster["CurrentAdjuster"]==1'>Yes</span><span ng-if='adjuster["CurrentAdjuster"]==0'>No</span></span>-->
            <span class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1"
                  ng-if='adjuster["CurrentAdjuster"]== -1'><strong>&nbsp;( Current Adjuster )</strong> </span>
            </span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-home"/></span>
                        <span class="col-xs-10 col-sm-11">
                            &nbsp;{{adjuster["Address"]}}<span ng-if="adjuster['City']">, </span>{{adjuster["City"]}}
                            <span ng-if="adjuster['State']">, </span>{{adjuster["State"]}}
                            <span ng-if="adjuster['ZipCode']">, </span>{{adjuster["ZipCode"]}}
                            <span ng-if="adjuster['Country']">, </span>{{adjuster["Country"]}}
                        </span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-phone"/></span><span class="col-xs-10 col-sm-11">&nbsp;Home : {{adjuster["HomePhone"]}}</span>
            <span
              class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1">&nbsp;Office : {{adjuster["OfficePhone"]}}</span>

          </div>
        </div>
      </div>

      <!--Claimant-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#claimantsInformation" class="fullWidth">
              Claimant
              Information
            </a>
          </h4>
        </div>
        <div id="claimantsInformation" class="panel-collapse collapse">
          <div ng-show='emptyCase'>
            <div class="panel-body">
              No Claimant assigned!
            </div>
          </div>
          <!--when WC claim-->
          <div class="panel-body" ng-show='employeeInformation'>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-user"/></span><span class="col-xs-10 col-sm-11">&nbsp;{{employeeInformation.EmployeeName}}</span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-home"></i></span>
                        <span class="col-xs-10 col-sm-11">&nbsp;
                            {{employeeInformation.Address}}
                            <span ng-if='employeeInformation.City'>, </span>{{employeeInformation.City}}
                            <span ng-if='employeeInformation.State'>, </span>{{employeeInformation.State}}
                            <span ng-if='employeeInformation.ZipCode'>, </span>{{employeeInformation.ZipCode}}
                        </span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-phone"/></span><span class="col-xs-10 col-sm-11">&nbsp;Home : {{employeeInformation.HomePhone}}</span>
            <span class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1">&nbsp;Office : {{employeeInformation.OfficePhone}}</span>
            <!--<span class="col-xs-2"><strong>Sex </strong></span><span class="col-xs-10">{{employeeInformation["Sex"]}}</span>-->
            <!--<span class="col-xs-2 col-sm-1"><strong>DOB </strong></span><span class="col-xs-10">{{employeeInformation["DateOfBirth"]}}</span>-->
            <span class="col-xs-2 col-sm-1"><strong>SSN </strong></span><span class="col-xs-10 col-sm-11">&nbsp;{{employeeInformation["SocialSecNo"]}}</span>
            <!--<span class="col-xs-12"><strong>Damage Description </strong><br/>{{employeeInformation["DamageDescription"]}}</span>-->
            <!--<span class="col-xs-12"><strong>InjuryDescription </strong><br/>{{employeeInformation["InjuryDescription"]["whitespace"]}}</span>-->
            <!--<span class="col-xs-2"><strong>Insurer </strong></span><span class="col-xs-10">{{employeeInformation["Insurer"]}}</span>-->
          </div>
          <!--other cases-->
          <div class="panel-body" ng-repeat="claimant in claimantsInformation.Claimants"
               ng-if='employeeInformation.length==0'>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-user"/></span><span class="col-xs-10 col-sm-11">&nbsp;{{claimant["ClaimantName"]}}</span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-home"></i></span>
                        <span class="col-xs-10 col-sm-11">
                            &nbsp;{{claimant["Address"]}}
                            <span ng-if="claimant['City']">, </span>{{claimant["City"]}}
                            <span ng-if="claimant['State']">, </span>{{claimant["State"]}}
                            <span ng-if="claimant['ZipCode']">, </span>{{claimant["ZipCode"]}}
                        </span>
            <span class="col-xs-2 col-sm-1"><i class="fa fa-phone"/></span><span class="col-xs-10 col-sm-11">&nbsp;{{claimant["HomePhone"]}}</span>
            <span class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1">&nbsp;{{claimant["OfficePhone"]}}</span>
            <!--<span class="col-xs-2"><strong>Sex </strong></span><span class="col-xs-10">{{claimant["Sex"]}}</span>-->
            <span class="col-xs-2 col-sm-1"><strong>SSN </strong></span><span class="col-xs-10 col-sm-11">&nbsp;{{claimant["SocialSecNo"]}}</span>
            <!--<span class="col-xs-2"><strong>DOB </strong></span><span class="col-xs-10">{{claimant["DateOfBirth"]}}</span>-->
            <!--<span class="col-xs-12"><strong>Damage Description </strong><br/> {{claimant["DamageDescription"]}}</span>-->
            <!--<span class="col-xs-12"><strong>InjuryDescription </strong><br/> {{claimant["InjuryDescription"]["whitespace"]}}</span>-->
            <!--<span class="col-xs-2"><strong>Insurer</strong></span><span class="col-xs-10">{{claimant["Insurer"]}}</span>-->
            <!--<span class="col-xs-12">SOLDate : {{claimant["SOLDate"]}}</span>-->

          </div>
        </div>
      </div>

      <!--Persons-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#personsInvolved" class="fullWidth">
              Persons
              Involved
            </a>
          </h4>
        </div>

        <div id="personsInvolved" class="panel-collapse collapse">
          <div class="panel-body" ng-hide="personsInvolved.length">
            No person involved!
          </div>
          <div class="panel-body" ng-repeat="p  in personsInvolved ">
            <div class="col-xs-12">
              <span class="col-xs-2 col-sm-1"><i class="fa fa-user"></i></span>
                                <span class="col-xs-10 col-sm-11">
                                    &nbsp;{{p["Name"]}}
                                </span>
                                <span class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1">&nbsp;
                                    <span ng-show='p["EntityType"]'>( {{p["EntityType"]}} )</span>
                                    <span ng-hide='p["EntityType"]'>( {{p["Type"]}} )</span>
                                </span>
              <span class="col-xs-2 col-sm-1"><i class="fa fa-home"/></span>
                                <span class="col-xs-10 col-sm-11">
                                    &nbsp;{{p["AddressInformation"]["Address1"]["Addr1"]}}
                                <span ng-if='p["AddressInformation"]["Address1"]["Addr2"]'>, </span>{{p["AddressInformation"]["Address1"]["Addr2"]}}
                                </span>
              <span class="col-xs-2 col-sm-1"><i class="fa fa-phone fa-1x"></i></span>
              <span class="col-xs-10 col-sm-11">&nbsp;Home : {{p["HomePhone"]}}</span>
              <span
                class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1">&nbsp;Office : {{p["OfficePhone"]}}</span>
            </div>
          </div>
        </div>
      </div>

      <!--Payment-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#paymentHistory" class="fullWidth">
              Payment
              History
            </a>
          </h4>
        </div>
        <div id="paymentHistory" class="panel-collapse collapse">
          <div class="panel-body">
            <div ng-show="paymentDetailError" class="alert-danger">
              <div ng-hide="serverError" class="col-xs-12">
                <strong> Extended Msg Type </strong> : {{paymentDetailMessage['ExtendedMsgType']}}<br>
                <strong> Extended Status Code</strong> : {{paymentDetailMessage['ExtendedStatusCd']}}<br>
                <strong>Extended Status Desc </strong>: {{paymentDetailMessage['ExtendedStatusDesc']}}
              </div>
              <div ng-show="serverError" class="col-xs-12  text-center">
                {{serverError}}
              </div>
            </div>

            <div ng-hide="paymentDetailError">

              <span class="col-xs-12"><strong>Policy : </strong>{{claimInfo.PolicyName}} </span>
              <hr class="col-xs-12">
                            <span class="col-xs-12">
                                <strong>Policy Holder : </strong>
                                {{claimantsInformation.Claimants["Claimant1"]["ClaimantName"]}} &nbsp;&nbsp; {{employeeInformation.EmployeeName}}
                            </span>

              <hr class="fullWidth"/>

              <span class="col-xs-12"><strong>Payment Summary</strong> </span>
              <span class="col-xs-12">Total Payments : {{paymentHistory.TotalPay | currency}}</span>
              <span class="col-xs-12">Total Collections : {{paymentHistory.TotalCollect | currency}}  </span>
              <span class="col-xs-12">Net Total : {{paymentHistory.TotalAll | currency}}</span>
              <span class="col-xs-12">Total Voids : {{paymentHistory.TotalVoid | currency}}</span>

              <hr class="fullWidth"/>

              <div class="visible-xs">
                <div class="dropdown">
                  <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button"
                          id="dropdownMenuPaymentXS" data-toggle="dropdown">
                    Payment Type
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu col-xs-12" role="menu" aria-labelledby="dropdownMenuPaymentXS">
                    <li role="presentation"
                        ng-repeat="p in payments | unique:'PaymentTypes'">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter(p.PaymentTypes)">{{p.PaymentTypes}}</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter('')">All</a>
                    </li>
                  </ul>
                </div>
                <br>

                <div class="dropdown">
                  <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button"
                          id="dropdownMenuStatusXS" data-toggle="dropdown">
                    Status
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu col-xs-12" role="menu" aria-labelledby="dropdownMenuStatusXS">
                    <li role="presentation"
                        ng-repeat="p in payments | unique:'CheckStatus'">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter(p.CheckStatus)">{{p.CheckStatus}}</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter('')">All</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hidden-xs">
                <div class="dropdown col-xs-6">
                  <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button"
                          id="dropdownMenuPayment" data-toggle="dropdown">
                    Payment Type
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu col-xs-12" role="menu" aria-labelledby="dropdownMenuPayment">
                    <li role="presentation"
                        ng-repeat="p in payments | unique:'PaymentTypes'">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter(p.PaymentTypes)">{{p.PaymentTypes}}</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter('')">All</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown col-xs-6">
                  <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button"
                          id="dropdownMenuStatus" data-toggle="dropdown">
                    Status
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu col-xs-12" role="menu" aria-labelledby="dropdownMenuStatus">
                    <li role="presentation"
                        ng-repeat="p in payments | unique:'CheckStatus'">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter(p.CheckStatus)">{{p.CheckStatus}}</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1"
                         ng-click="paymentFilter('')">All</a>
                    </li>
                  </ul>
                </div>
              </div>


              <hr class="fullWidth"/>

              <div class="form-group">
                <input ng-model="Data.message" type="text" class="form-control" placeholder="Search Payment"/>
              </div>

              <hr class="fullWidth"/>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Control No</th>
                    <th>Check No</th>
                    <th>Trans Date</th>
                    <th>Type</th>
                    <th>Cleared</th>
                    <th>Void</th>
                    <th>Status</th>
                    <th>Payee</th>
                    <th>Check Amount</th>
                    <th>Invoice No</th>
                    <th>Payment Type</th>
                  </tr>
                  <tr ng-repeat="payment in payments | filter: paymentFilterType|| Data.message">
                    <td>{{payment.ControlNumber}}</td>
                    <td>{{payment.CheckNumber}}</td>
                    <td>{{payment.TransactionDate}}</td>
                    <td>{{payment.PaymentOrCollection}}</td>
                    <td>{{payment.Cleared}}</td>
                    <td>{{payment.Void}}</td>
                    <td>{{payment.CheckStatus}}</td>
                    <td>{{payment.Name}}</td>
                    <td>{{payment.Invoiceamount | currency}}</td>
                    <td>{{payment.InvoiceNumber}}</td>
                    <td>{{payment.PaymentTypes}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Tasks -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#diaryEntryDetail" class="fullWidth2">
              Tasks
            </a><span class="pull-right">
                            ({{tasks.length || 0}})
                            <a data-toggle="modal" ng-click="showMyTask()">
                              <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
          </h4>
        </div>
        <div id="diaryEntryDetail" class="panel-collapse collapse">
          <div class="panel-body" ng-hide="tasks.length">
            No diary assigned! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
          </div>
          <!--Print Tasks-->
          <div class="panel-body">
            <div ng-show="tasks.length">
              <input ng-model="Data.task" type="text" class="form-control" placeholder="Search in tasks"/>
            </div>
          </div>

          <div class="panel-body" ng-show="tasks.length">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="activeDiary=!activeDiary">
              Only Active Diaries<span ng-show="activeDiary" style="color:red"> (Filter Active)</span>
            </button>
          </div>
          <div class="panel-body" ng-repeat="task in tasks | active:activeDiary">
            <span class="col-xs-12 col-sm-2"><strong>Task Name : </strong></span><span class="col-xs-12 col-sm-10"> {{task.taskSubject}}</span>
            <hr class="fullWidth"/>
            <span class="col-xs-12"><strong>Entry Notes : </strong><br/> {{task.entryNotes}}</span>
            <hr class="fullWidth"/>
            <span class="col-xs-12 col-sm-2"><strong>Due Date/Time : </strong></span><span class="col-xs-12 col-sm-10">{{task.completeDate}} {{task.completeTime}}</span>
            <hr class="fullWidth"/>
            <span class="col-xs-12 col-sm-2"><strong>Work Activity : </strong></span><span class="col-xs-12 col-sm-10">{{task.workActivity}}</span>
            <hr class="fullWidth"/>
          </div>
          <!--Printing ends-->
        </div>
      </div>

      <!--Notes-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#notes" class="fullWidth2">
              Notes
            </a>
                        <span class="pull-right">
                            ({{notes.length ||0}})
                            <a data-toggle="modal" ng-click="showMyNote()">
                              <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
          </h4>
        </div>
        <div id="notes" class="panel-collapse collapse">
          <div class="panel-body">
            <div ng-hide="notes.length">
              No note assigned! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
            </div>
            <div ng-show="notes.length">
              <input ng-model="Data.note" type="text" class="form-control" placeholder="Search Notes"/>
            </div>
            <div ng-repeat="note in notes | filter:Data.note">
              <hr class="fullWidth"/>
              <span class="col-xs-12 col-sm-2"><strong>Type : </strong></span><span class="col-xs-12 col-sm-10">{{note["NoteType"]}}</span>
              <span class="col-xs-12"><strong>Subject : </strong></span><span
              class="col-xs-12">{{note["Subject"]}}</span>
              <span class="col-xs-12"><strong>Text : </strong></span><span class="col-xs-12">{{note["NoteText"]}}</span>
              <span class="col-xs-12 col-sm-2"><strong>Creation : </strong></span><span class="col-xs-12 col-sm-10">
                                {{note["DateCreated"]}} &nbsp;{{note["TimeCreated"] | rmaTimeFilter}}
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Added For Proper Spacing -->
    <div class="ghost"/>
  </div>

</div>
