<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="dropdown" ng-show="signedIn()">
            <div class="alert alert-danger text-center" ng-show="error">
                <strong>{{message}}</strong>
            </div>
            <div class="alert alert-danger text-center" ng-show="dsnError">
                <strong>{{message}}</strong>
            </div>
            <div ng-show="dsnLoading">
                <div ng-include="'views/loading.html'"/>
            </div>
            <div ng-hide="dsnLoading">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownDSN" data-toggle="dropdown">
                    Select DSN
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="dropdownDSN" style="margin-bottom: 50px">
                    <li role="presentation" ng-repeat="dsn in userDSNs">
                        <a role="menuitem" tabindex="-1" ng-click="goo(dsn)">{{dsn.Key}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>