<div class="row" ng-show="signedIn()" ng-swipe-left="left()">
    <div class="col-xs-12">
        <div class="panel panel-primary" ng-show="error">
            <div class="panel-heading text-center">
                Event  Status : Error
            </div>
            <div class="panel-footer">
              <h4>
                Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
                Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
                Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}
              </h4>
            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-hide="loading">
        <div class="form-group">
             <input ng-model="Data.message" type="text" class="form-control text-center" placeholder="Event Search" />
        </div>
    </div>

    <div class="col-xs-12 text-center" ng-show="Event.loading">
        <div ng-include="'views/loading.html'"></div>
    </div>

    <div class="col-xs-12" ng-repeat="e in formattedEvents | filter: Data.message" ng-hide="loading">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <a href='#/events/{{e["Event Number"]}}' class="fullWidth">Event : {{e["Event Number"]}}</a>
            </div>
            <div class="panel-body">
                <i class="fa fa-tag"></i>   {{e["Event Date"]["formatedtext"]}}<span ng-if="e['Loc.: State']">,</span>{{e["Loc.: State"]}}
                <hr>

                <p>
                    {{e["Event Description"]}}
                </p>
                <hr>
                <span class="pull-right">Claim :{{e["Number of Claims"] || 0}}, Task :{{e["Number of Tasks"] ||0}}</span>
            </div>

        </div>
    </div>
    <div ng-hide="loading">
        <div class="col-xs-12" ng-if='formattedEvents.length==0'>
            <h3 class="btn btn-default btn-block">You are not assigned to any event.</h3>
        </div>
    </div>
</div>




