<div class="row" ng-show="signedIn()">
    <div class="col-xs-12" ng-show="toggle">
        <p class="alert alert-info text-center">Thanks for you valuable feedback</p>
    </div>
     <div class="col-xs-12">
         <div class="panel panel-primary">
             <div class="panel-heading">
                 <h6>Send Us A Message</h6>
                 <p>We Would Love To Hear From You</p>
             </div>
             <div class="panel-body">
                 <form name="feedbackForm" novalidate role="form" ng-submit="submit()">
                 <div class="col-xs-12 form-group">
                     <textarea name="text" ng-model="user.feedback" placeholder="message" class="form-control" rows="8" required style="resize:vertical"/>
                     <div class="error-container"
                          ng-show="(feedbackForm.text.$dirty && feedbackForm.text.$invalid)||feedbackForm.submitted">
                         <small class="error" ng-show="feedbackForm.text.$error.required">
                             Message is required
                         </small>
                     </div>
                 </div>
                 <div class="col-xs-12">
                       <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
                 </div>
                 </form>
             </div>

         </div>
    </div>
</div>
