<div class="row">
    <div class="col-xs-12">
        <div class="logoBorder">
            <a href="#">  <img src="images/riskyNew.png" class="img-responsive"></a>
        </div>
    </div>
    <span class="col-xs-4 text-center btn belizeHole">Events</span>
    <span class="col-xs-4 text-center btn belizeHole">Claims</span>
    <span class="col-xs-4 text-center btn belizeHole">Tasks</span>

    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/home"><span class="glyphicon glyphicon-home fa-5x"></span></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/login"><i class="fa fa-database fa-5x"></i></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/home" ng-click="reload()"><span class="glyphicon glyphicon-refresh fa-5x"></span></a>
    </div>

    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/feedback"><span class="glyphicon glyphicon-comment fa-5x"></span></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/about"><i class="fa fa-info-circle fa-5x"></i></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="#/settings"><span class="fui-gear fa-5x"></span></a>
    </div>
</div>