<div class="row">
    <img src="images/background.jpg" class="bg" ng-hide="signedIn();repaint()"/>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" ng-hide="signedIn()">
        <span ng-hide="loginLoading" class="text-center">
            <img src="images/login.png" class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3"/>
        </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div ng-hide="signedIn()">
            <div class="alert alert-danger text-center" ng-show="error">
                <strong>{{message}}</strong>
            </div>
            <div ng-hide="loginLoading">
                <form  name="login_form" novalidate ng-submit="loginForm()" style="opacity: .8;">
                    <fieldset>
                        <div class="form-group">
                            <input ng-model="server.name" placeholder="server" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input  class="form-control"
                                    type="text"
                                    placeholder="username"
                                    name="username"
                                    ng-model="user.UserName"
                                    required  />
                            <div class="error-container" ng-show="(login_form.username.$dirty && login_form.username.$invalid)||login_form.submitted">
                                <small class="error" ng-show="login_form.username.$error.required">Username is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input  class="form-control"
                                    type="password"
                                    placeholder="password"
                                    name="password"
                                    ng-model="user.Password"
                                    required  />
                            <div class="error-container" ng-show="(login_form.password.$dirty && login_form.username.$invalid)||login_form.submitted">
                                <small class="error" ng-show="login_form.password.$error.required">Password is required</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"  >Submit</button>
                    </fieldset>
                    </fieldset>
                </form>

            </div>
            <div ng-show="loginLoading" class="text-center">
                <div ng-include="'views/loading.html'"></div>
            </div>
        </div>

        <div class="dropdown" ng-show="signedIn()">
            <div class="alert alert-danger text-center" ng-show="error">
                <strong>{{message}}</strong>
            </div>
            <div class="alert alert-danger text-center" ng-show="dsnError">
                <strong>{{message}}</strong>
            </div>
            <div ng-show="dsnLoading">
                <div ng-include="'views/loading.html'"/>
            </div>
            <div ng-hide="dsnLoading">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownDSN" data-toggle="dropdown">
                    Select DSN
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="dropdownDSN" style="margin-bottom: 50px">
                    <li role="presentation" ng-repeat="dsn in userDSNs">
                        <a role="menuitem" tabindex="-1" ng-click="goo(dsn)">{{dsn.Key}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
