<div ng-show="loading">
  <div class="row">
    <span class="col-xs-12 text-center"><strong>Fetching Users</strong></span>
  </div>
  <div ng-include="'views/loading.html'"></div>
</div>
<div class="row" ng-hide="loading" ng-swipe-left="left()">
  <div class="col-xs-12" ng-hide="error">
    <div class="form-group">
      <input ng-model="search.text" type="text" class="form-control" placeholder="Search Users" />
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Select user to view diaries
      </div>
      <div class="panel-body">

        <div class="btn btn-default btn-block" ng-click="fetchDiaries(user.loginName)" ng-repeat="user in users | filter:search.text track by $index" >
          {{user.userName}} &nbsp; ({{user.loginName}})
        </div>

      </div>
    </div>
  </div>
  <div class="col-xs-12 text-center" ng-show="error">
    <br>
    <p>{{errorMessage}}</p>
  </div>
</div>
