<!--signedIn()-->
<div class="row" ng-show="signedIn()">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                Security
            </div>
            <div class="panel-body">
                <div ng-show="passwordError" class="form-group">
                    <div class="alert alert-danger fade in" role="alert" style="opacity: 1;">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <strong>{{errorMessage}}</strong>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block col-xs-6" type="button" ng-click="changeDSN()">
                        Change DSN
                    </button>
                    <button class="btn btn-primary btn-lg btn-block col-xs-6" type="button"
                            ng-click="passwordDiv=!passwordDiv">Change Password
                    </button>
                    <span ng-show="passwordDiv" class="panel panel-default">
                        <form name="passwordForm" novalidate ng-submit="validate()">
                            <div class="form-group">
                                <input class="form-control" ng-model="password.currentPassword" name="currentPassword" placeholder="current password" required/>
                                <span class="error-container" ng-show="(passwordForm.currentPassword.$dirty && passwordForm.currentPassword.$invalid)||passwordForm.submitted">
                                    <small class="error" ng-show="passwordForm.currentPassword.$error.required">enter current password</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="password.newPassword" name="newPassword" placeholder="new password" required/>
                                <span class="error-container" ng-show="(passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid)||passwordForm.submitted">
                                    <small class="error" ng-show="passwordForm.newPassword.$error.required">enter new password</small>
                                </span>
                                <span class="error-container" ng-show="(passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid)||passwordForm.submitted">
                                    <small class="error" ng-show="passwordForm.same">new and old passwords are same</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="password.confirmPassword" name="confirmPassword" placeholder="confirm password" required/>
                                <span class="error-container" ng-show="(passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid)||passwordForm.submitted">
                                    <small class="error" ng-show="passwordForm.confirmPassword.$error.required">confirm new password</small>
                                </span>
                                <span class="error-container"ng-show="(passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid)||passwordForm.submitted">
                                    <small class="error"  ng-show="passwordForm.mismatch">new and confirm passwords don't match</small>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </form>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>





