<div class="row" ng-show="signedIn()" ng-swipe-left="left()">

  <!--Task Modal Popup-->
    <div id="myTasks" class="modal fade" role="dialog" aria-labelledby="myTaskLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
            <h4 class="modal-title text-center" id="myTaskLabel">Attach Task</h4>
          </div>
          <div class="panel-body">
            <form name="task_form" novalidate ng-submit="submitTask()">
              <div class="form-group">
                <input class="form-control"
                       type="text"
                       placeholder="name"
                       name="name"
                       ng-model="task.name"
                       required autofocus="true"/>

                <div class="error-container"
                     ng-show="(task_form.name.$dirty && task_form.name.$invalid)||task_form.submitted">
                  <small class="error" ng-show="task_form.name.$error.required">Name is required</small>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control"
                        ng-model="taskEntered"
                        ng-options="task.ShortCode+' '+task.Desc for task in taskTypes.Codes">

                  <option ng-hide="taskEntered" value="">Select Task Type</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control"
                       type="text"
                       placeholder="Due Date"
                       ng-model="task.dueDate"
                       onfocus="(this.type='date')"/>
              </div>
              <div class="form-group">
                <input class="form-control"
                       type="text"
                       placeholder="Time Due"
                       ng-model="task.dueTime"
                       onfocus="(this.type='time')"/>
              </div>
              <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="description"
                                          ng-model="task.description"
                                          rows="4"/>
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


  <div class="col-xs-12" ng-show="error">
    <div class="panel panel-primary">
      <div class="panel-heading text-center ">
        Tasks Status : Error
      </div>
    </div>
    <div class="panel-footer">
      Extended Msg Type : {{errorMessage['ExtendedMsgType']}}<br>
      Extended Status Code : {{errorMessage['ExtendedStatusCd']}}<br>
      Extended Status Desc : {{errorMessage['ExtendedStatusDesc']}}
    </div>
  </div>

  <div class="col-xs-12" ng-hide="loading">
    <div class="form-group">
      <input ng-model="Data.message" type="text" class="form-control text-center" placeholder="Search Tasks"/>
    </div>
  </div>

  <div class="col-xs-12" ng-hide="loading">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="row">
          <a  class="pomegranate" ng-click="showMyTask()">
            <i class="fa fa-file-text-o fa-2x col-xs-3 col-xs-offset-3"></i>
          </a>
          <a  class="pomegranate" ng-click="peek()">
            <i class="fa fa-file fa-2x col-xs-3"></i>
          </a>
        </div>
        <div class="row">
          <span class="col-xs-3 col-xs-offset-3" style="font-size: 10px;">&nbsp;New</span>
          <span class="col-xs-3" style="font-size: 10px;">&nbsp;Peek</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 text-center" ng-show="loading">
    <div ng-include="'views/loading.html'"></div>
  </div>

  <div class="col-xs-12" ng-hide="loading">
    <div class="panel panel-primary" ng-repeat="d in formattedTasks | filter: Data.message track by $index">
      <div class="panel-heading">
        <strong> Subject : </strong>{{d.taskSubject}}
      </div>
      <div class="panel-body">
                <span class="col-xs-12"><strong>Entry Notes : </strong>
                {{d.entryNotes}}
                </span>
        <hr class="fullWidth">
                <span class="col-xs-12">
                <strong>Due on : </strong> {{d.completeDate}} {{d.completeTime}}
                </span>
        <!--<hr class="fullWidth">-->
                <span class="col-xs-12"><strong>Work Activity : </strong>
                    {{d.workActivity}}
                </span>
        <!--<hr class="fullWidth">-->
                <span class="col-xs-12" ng-if='d.attachments.length>2'>
                    <strong ng-show='d.linked'> Attach To : </strong><br/>
                <span ng-show='d.linked'>
                <span ng-if="d.type=='C'"><a href='#/claims/{{d["linked"]}}' class="text-info">{{d["linked"]}}</a> &nbsp;&nbsp;<i
                  class="fa fa-share-square-o"></i></span>
                <span ng-if="d.type=='E'"><a href='#/events/{{d["linked"]}}' class="text-info">{{d["linked"]}}</a> &nbsp;&nbsp;<i
                  class="fa fa-share-square-o"></i></span>
                </span>
                </span>
      </div>

    </div>
  </div>
  <div ng-hide="loading">
    <div class="col-xs-12" ng-if='formattedTasks.length==0'>
      <h3 class="btn btn-default btn-block">You do not have any task assigned.</h3>
    </div>
  </div>
</div>

<div class="ghost"/>

<!--Server Response Messages & Status-->
<!--sending-->
<!--<div class="navbar navbar-fixed-bottom text-center" ng-show="sending">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="alert alert-success fade in" role="alert" style="opacity: .5;">-->
      <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>-->
      <!--</button>-->
      <!--<strong>Sending..</strong>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="navbar navbar-fixed-bottom text-center" ng-show="taskError">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="alert alert-danger fade in" role="alert" style="opacity: 1;">-->
      <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>-->
      <!--</button>-->
      <!--<strong>Failed..Try Again</strong>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="navbar navbar-fixed-bottom text-center" ng-show="server">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="alert alert-danger fade in" role="alert" style="opacity: 1;">-->
      <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>-->
      <!--</button>-->
      <!--<strong>Server not reachable..Check your internet connection</strong>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="navbar navbar-fixed-bottom text-center" ng-show="taskAdded">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="alert alert-success fade in" role="alert" style="opacity: 1;">-->
      <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>-->
      <!--</button>-->
      <!--<strong>Task Added!</strong>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

