/*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

@import "skins.css";
        {background:  white}
        BODY  {font-family: "Verdana"; font-size: 9pt; color: 000000; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px}
        TD  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        TR  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        I  {font-family: "Verdana"; font-size: 9pt; color: 000000;font-style: italic}
        BIG  {font-family: "Verdana"; font-size: 13pt; color: 000000;font-weight: bold}
        TH  {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: bold}
        A:link {font-family: "Verdana"; font-size: 10pt; color: NAVY;font-weight: bold}
        A:visited {font-family: "Verdana"; font-size: 10pt; color: NAVY;font-weight: bold}
        A:hover {font-family: "Verdana"; font-size: 10pt; color: BLUE;font-weight: bold}
        H1 {font-family: "Arial"; font-size: 30pt; color: navy;}
        STRONG {font-family: "Verdana"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        H2 {font-family: "Verdana"; font-size: 12pt; color: 000000;text-decoration: none; margin-left=0}
        H3 {font-family: "Verdana"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        PRE {font-family: "Verdana"; font-size: 9pt; color: 000000}
        P {font-family: "Verdana"; font-size: 9pt; color: 000000}
        BLOCKQUOTE {font-family: "Verdana, Arial, Helvetica"; font-size:9pt; color: 000000}
        .WELCOMETITLE {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:link {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:visited {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .TOOLBAR {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:link {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:visited {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TITLEBAR {font-family: "Verdana"; font-size: 9pt; color: FFFFFF; background: navy;font-weight: bold}
        .MESSAGE {font-family: "Verdana"; font-size: 8pt; color: 000000;font-weight: normal}
        .MESSAGE:link {font-family: "Verdana"; font-size: 8pt; color: NAVY;font-weight: normal}
        .MESSAGE:visited {font-family: "Verdana"; font-size: 8pt; color: BLACK;font-weight: normal}
        .MESSAGENEW {font-family: "Verdana"; font-size: 8pt; color: 000000;font-weight: bold}
        .MESSAGENEW:link {font-family: "Verdana"; font-size: 8pt; color: NAVY;font-weight: bold}
        .MESSAGENEW:visited {font-family: "Verdana"; font-size: 8pt; color: BLACK;font-weight: bold}

        .BorderedContent
        {
          background-color: white;
          border: thin gray solid;
          color: black;
          font-weight: normal;
          padding: 1;
        }

        .BorderedController
        {
          background-color: white;
          border: thin gray solid;
          font: normal;
          color: black;
          padding: 1;
        }

        .BorderedPortlet
        {
          background-color: white;
          border: thin gray solid;
          font: normal;
          color: black;
          padding: 1;
        }

        .BorderedTitle
        {
          background-color: gray;
          border: thin gray solid;
          color: black;
          font-weight: bold;
          padding: 1;
        }

        .ControllerStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 2;
        }

        .PortletStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }

        .TabStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: bold;
          padding: 0;
        }

        .TitleStyleClass
        {
          background-color: gray;
          border-style: none;
          color: black;
          font-weight: bold;
          padding: 0;
        }

        .HighlightTitleStyleClass
        {
          background-color: black;
          border-style: none;
          color: white;
          font-weight: bold;
          padding: 0;
        }

        .TabTitleStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }

        .ContentStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }

        .TabContentStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }

        .listCellHead
        {
          text-decoration:underline;
          background-color:#6868AB;
          layer-background-color:#CCCCFF;
          border-style:outset;
          border-width:2px;
          border-left-color:white;
          border-top-color:white;
          border-bottom-color:black;
          border-right-color:black;
          cursor:hand;
          FONT-SIZE:8pt;
          FONT-WEIGHT:bold;
          COLOR: white;
          ; font-family: Verdana, Arial, Helvetica, sans-serif
        }

        .listCellHeadNoLink
        {
          background-color:#6868AB;
          layer-background-color:#6868AB;
          border-style:solid;
          border-width:2px;
          border-left-color:#6868AB;
          border-top-color:#6868AB;
          border-bottom-color:#6868AB;
          border-right-color:#6868AB;
          FONT-SIZE:7pt;
          FONT-WEIGHT:normal;
          COLOR: white;
          ; font-family: Verdana, Arial, Helvetica, sans-serif
        }

        .listCell
        {
          background-color:#ECECEC;
          layer-background-color: #FCFE52;
          FONT-SIZE:7pt;
          FONT-WEIGHT:normal;
        }


.UPPERCASE {
  text-transform: uppercase;
}


.WELCOME {
  font-size: 12pt;
  font-color: #000000;
  font-weight: 900;
  font-stretch: wider;
}


.MENUBAR {
           font-family: arial,helvetica;
           background: #F5F5F5;
           color: #000000;
           font-size: 11pt;
           font-weight: bold;

           border-top: 1px solid #B0B0B0;
           border-left: 1px solid #B0B0B0;
           border-right: 1px solid #FAFAFA;
           border-bottom: 1px solid #FAFAFA;
         }

.INPUTFORM {
           font-family: arial,helvetica;
           background: #F0F0F0;
           color: #000000;
           font-size: 11pt;
           font-weight: bold;

           border-top: 1px solid #A0A0A0;
           border-left: 1px solid #A0A0A0;
           border-right: 1px solid #FFFFFF;
           border-bottom: 1px solid #FFFFFF;
         }

.INPUTFORMTITLE {
           font-family: arial,helvetica;
           background: #FAFAFA;
           color: #000000;
           font-size: 13pt;
           font-weight: bold;

           border-top: 1px solid #FFFFFF;
           border-left: 1px solid #FFFFFF;
           border-right: 1px solid #0A0A0A;
           border-bottom: 1px solid #0A0A0A;
         }

.MENUBUTTON {
           font-family: arial,helvetica;
           background: #E0E0E0;
           color: #808080;
           font-size: 10pt;
           font-weight: bold;

           border-top: 1px solid #FFFFFF;
           border-left: 1px solid #FFFFFF;
           border-right: 1px solid #A0A0A0;
           border-bottom: 1px solid #A0A0A0;
         }

.PANETITLE {
           background: #FAFAFA;
           font-weight: bold;
         }

.BUTON
{
  font-family: arial,helvetica;
  background: #E0E0E0;
  color: NAVY;
  font-size: 10pt;
  font-weight: bold;
  border-color: #050505;
  border-top: 1pt double #FFFFFF;
  border-left: 1pt double #FFFFFF;
  border-right: 1pt double #A0A0A0;
  border-bottom: 1pt double #A0A0A0;
}
.bluebuttonsmall
{
        background-color: #CCCCCC;
        border-style: none;
        color: Black;
        display: block;
        font-weight: normal;
        padding: 0;
        font-family : Arial, Helvetica, sans-serif;
        font-size : 8pt;
        border-top: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #0A0A0A;
        border-bottom: 1px solid #0A0A0A;
        width : 65px;
}

.UserBrowserUserDisabled
{
    background-color: red;
    text-decoration: line-through;
}

.UserBrowserUserConfirmed
{
    background-color: yellow;
    font-style: italic;
}
