﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RiskMaster.aspx.cs" Inherits="Riskmaster.UI.UI.Home.RiskMaster" StylesheetTheme="RMX_MDI" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1" runat="server">
    <title>Welcome to Riskmaster.com! </title>
    <link href="http://www.csc.com/csc.ico" rel="SHORTCUT ICON" />
    <link href="App_Themes/RiskmastercomTheme/RiskmastercomStyles.css" type="text/css" rel="stylesheet" />

    <style type="text/css">
    .style1
    {
        float: none;
        width: 13%;
        background-color: #919195;
        border-right: Solid 1px black;
        padding-right: 0px;
        padding-left: 0px;
        border-right-width : 0px; 
    }
   
    .fulltable
    {
        width:100%;
    }
    </style>

    <script type="text/javascript">
        function ImgResize() {
            var obj = document.getElementById("imgCSC");
       
            //obj.height = screen.height -380;
        }
    </script>
</head>

<body onload="ImgResize();" onresize="ImgResize();" bgcolor="#919195">
    <form name="aspnetForm" method="post" action="RISKMASTER.aspx" id="aspnetForm">
    <script type="text/javascript"></script>
    <table cellspacing="0" class="fulltable" >
        <tr>
            <td class="style1" valign="top" rowspan="22"></td>
            <td valign="top" bgcolor="White">
                <img alt="CSC Home Page" id="imgCSC" src="../../Images/RM_BG copy.jpg" height="442" width="630" />
            </td>
            <td class="style1" valign="top" rowspan="22"></td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White" >
                      &nbsp;&nbsp;For more information about RISKMASTER and other CSC products, visit us at <a href="http://www.csc.com">www.csc.com</a>
            </td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style =" font:15px Arial" bgcolor="White">&nbsp;</td>
        </tr>
    </table>
    </form>
</body>
</html>
