﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="showreport.aspx.cs" Inherits="Riskmaster.UI.BankAccount.showreport" %>
<%@ Register Src="~/UI/Shared/Controls/ErrorControl.ascx" TagName="ErrorControl"
    TagPrefix="uc3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Show Report</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

     <table border="0" align="center"> 
        <tr>
      <td colspan="2">
        <uc3:ErrorControl ID="ErrorControl1" runat="server" />
       </td>
    </tr>        
    </table>            
    <asp:textbox ID="accountid" style="display:none" RMXRef="Instance/Document/AccountId" runat="server" />
    <asp:textbox ID="reporttype" style="display:none" RMXRef="Instance/Document/AccountId" runat="server" />
    </div>
    </form>
</body>
</html>
