﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewImage.aspx.cs" Inherits="Riskmaster.UI.BankAccount.ViewImage" %>
<%@ Register Src="~/UI/Shared/Controls/ErrorControl.ascx" TagName="ErrorControl"
    TagPrefix="uc3" %> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>View Image</title>
</head>
<body>
    <form id="frmData" runat="server">
    <table>
     <tr>
     <td>
     <uc3:ErrorControl ID="ErrorControl1" runat="server" />
     </td>
     </tr>
     </table>
     
    <div>    
    </div>
    </form>
</body>
</html>
