<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="whatsnew.aspx.cs" Inherits="Riskmaster.UI.UI.Help.Whatsnew" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat=server>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>What's New</title>
<script src="../../Scripts/form.js" type="text/javascript"></script>
<style type="text/css">
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #4C81B1;
	font-weight: bold;
}
.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4C81B1; font-weight: bold; }
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #4C81B1; font-weight: bold; }
</style>
</head>

<body onload="tryMDIScreenLoaded();">
<object width="100%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0">
<param name="movie" value="../../Images/WelcomePage.swf">
<embed src="../../Images/WelcomePage.swf" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" width="100%" height="100%">
</embed>
</object>
</body>
</html>

