/**
 * Zapatec Grid theme.
 *
 * Copyright (c) 2004-2007 by Zapatec, Inc.
 * http://www.zapatec.com
 * 1700 MLK Way, Berkeley, California,
 * 94709, U.S.A.
 * All rights reserved.
 */

/* $Id: lightblue.css 7597 2007-07-25 08:32:55Z alex $ */

/*
	Root class name is formed from zpGrid + Lightblue file name with first character
	in upper case and following characters in lower case.
*/

.zpGridLightblue {
	border-collapse: collapse;
	border: 0px;
}

.zpGridLightblue .zpGridTable {
	padding: 0px;
}

.zpGridLightblue .zpGridTableTable {
	border-collapse: collapse;
}

.zpGridLightblue .zpGridTable .zpGridCell {
	border: 1px solid #ccc;
	border-top: 0px;
	padding: 3px 5px;
	font: 11px Tahoma, Arial, sans-serif;
	cursor: default;
}

.zpGridLightblue .zpGridTable .zpGridDiv {
	overflow: hidden;
}

/* Alignment depending from type */

.zpGridLightblue .zpGridTypeInt,
.zpGridLightblue .zpGridTypeIntGerman,
.zpGridLightblue .zpGridTypeFloat,
.zpGridLightblue .zpGridTypeFloatGerman
{
	text-align: right;
}

.zpGridLightblue .zpGridCell0 .zpGridTypeInt,
.zpGridLightblue .zpGridCell0 .zpGridTypeIntGerman
{
	text-align: center;
}

.zpGridLightblue .zpGridTypeBoolean,
.zpGridLightblue .zpGridTypeBooleanTF {
	text-align: center;
}

/* Alignment horizontal */

.zpGridLightblue .zpGridCol .zpGridField .zpGridDiv {
	text-align: left;
}

/* Header */

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridCell {
	background:#4183b5  repeat-x top ;
	border-top: 1px solid #ccc;
	border-right: none;
	border-left: none;
	padding: 5px 5px 3px 6px;
	vertical-align: top;
	font: bold 11px Tahoma, Arial, sans-serif;
	color: white;  
	cursor: pointer;
}

.zpGridLightblue .zpGridTable .zpGridField0 {
	border-left: 1px solid #ccc;
}

.zpGridLightblue .zpGridField .zpGridSpan {
	display: block;
	padding-right: 10px;
	height: 100%;
	overflow: hidden;
}

/* Header horizontal */

.zpGridLightblue .zpGridTable .zpGridCol .zpGridField {
	background: url(lightblue/headbg.jpg) repeat-x top #CDD8EB;
	border-top: 1px solid #ccc;
	border-right: none;
	border-left: none;
	padding: 5px 5px 3px 6px;
	vertical-align: top;
	font: bold 11px Tahoma, Arial, sans-serif;
	color: #000;  
	cursor: pointer;
}

/* Active header */

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridCellActive {
	background: url(lightblue/headbgsel.jpg) repeat-x top #ACB5CD;
}

/* Active header horizontal */

.zpGridLightblue .zpGridTable .zpGridCol .zpGridFieldActive {
	background: url(lightblue/headbgsel.jpg) repeat-x top #ACB5CD;
}

/* Sorted header */

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedAsc .zpGridDiv {
	background: url(lightblue/sortedasc.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedAscActive .zpGridDiv {
	background: url(lightblue/sortedasc.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedDesc .zpGridDiv {
	background: url(lightblue/sorteddesc.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedDescActive .zpGridDiv {
	background: url(lightblue/sorteddesc.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedAsc .zpGridDiv .zpGridSpan,
.zpGridLightblue .zpGridTable tr.zpGridRow0 .zpGridSortedDesc .zpGridDiv .zpGridSpan
{
	display: block;
	padding-right: 10px;
}

/* Sorted header horizontal */

.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedAsc .zpGridDiv {
	background: url(lightblue/sortedasch.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedAscActive .zpGridDiv {
	background: url(lightblue/sortedasch.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedDesc .zpGridDiv {
	background: url(lightblue/sorteddesch.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedDescActive .zpGridDiv {
	background: url(lightblue/sorteddesch.gif) no-repeat right center;
}

.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedAsc .zpGridDiv .zpGridSpan,
.zpGridLightblue .zpGridTable .zpGridCol .zpGridSortedDesc .zpGridDiv .zpGridSpan
{
	display: block;
	padding-right: 10px;
}

/* Data */

.zpGridLightblue .zpGridTable .zpGridRow {
	background: #FFF;
}

.zpGridLightblue .zpGridTable .zpGridRowOdd  {
	background: #F7F9FF;
}

.zpGridLightblue .zpGridTable .zpGridRowLast .zpGridCell {
	border-bottom: solid 2px #CCC;
}

.zpGridLightblue .zpGridTable .zpGridCell0 {
	background: url(lightblue/bgleft.jpg) repeat-y left #FFF;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #CCC;
	color: #000;
}

.zpGridLightblue .zpGridTable .zpGridCellLast {
	border-right: 0px;
	background: url(lightblue/bgright.jpg) repeat-y right #FFF;
}

.zpGridLightblue .zpGridTable .zpGridRowOdd .zpGridCell0 {
	background: url(lightblue/oddbgleft.jpg) repeat-y left #F7F9FF;
	border-right: 0px;
}

.zpGridLightblue .zpGridTable .zpGridRowOdd .zpGridCellLast {
	background: url(lightblue/oddbgright.jpg) repeat-y right #F7F9FF;
	border-right: 0px;
}

/* Data horizontal */

.zpGridLightblue .zpGridCol  {
	background: #FFF;
}

.zpGridLightblue .zpGridColOdd  {
	background: #F7F9FF;
}

.zpGridLightblue .zpGridCol0 .zpGridCell {
	border-top: solid 1px #CCC;
}

.zpGridLightblue .zpGridColLast .zpGridCell {
	border-bottom: solid 2px #CCC;
}

.zpGridLightblue .zpGridColOdd .zpGridCell0 {
	background: url(lightblue/oddbgleft.jpg) repeat-y left #F7F9FF;
	border-right: 0px;
}

.zpGridLightblue .zpGridColOdd .zpGridCellLast {
	background: url(lightblue/oddbgright.jpg) repeat-y right #F7F9FF;
	border-right: 0px;
}

/* Active row and cell */

.zpGridLightblue .zpGridTable .zpGridRowActive {
	background: #FFF0E8;
}

.zpGridLightblue .zpGridTable .zpGridRowActive .zpGridCell0 {
	background: url(lightblue/selbgleft.jpg) repeat-y left #FFF0E8;
}

.zpGridLightblue .zpGridTable .zpGridRowActive .zpGridCellLast {
	background: url(lightblue/selbgright.jpg) repeat-y right #FFF0E8;
}

/* Active cell horizontal */

.zpGridLightblue .zpGridCol .zpGridCellDataActive {
	background: #FFF0E8;
}

.zpGridLightblue .zpGridCol .zpGridCellDataActive0 {
	background: url(lightblue/selbgleft.jpg) repeat-y left #FFF0E8;
}

.zpGridLightblue .zpGridCol .zpGridCellDataActiveLast {
	background: url(lightblue/selbgright.jpg) repeat-y right #FFF0E8;
}

/* Selected row and cell */

.zpGridLightblue .zpGridTable .zpGridRowSelected .zpGridCell {
	background: #e90;
}

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellSelected {
	background: #e60;
}

/* Selected cell horizontal */

.zpGridLightblue .zpGridCol .zpGridCellSelected {
	background: #e60;
}

/* Editable row and cell */

.zpGridLightblue .zpGridTable .zpGridRowEditableOdd .zpGridCell {
	background: #F7F9FF;
}

.zpGridLightblue .zpGridTable .zpGridRowEditableOdd .zpGridCell0 {
	background: url(lightblue/oddbgleft.jpg) repeat-y left #F7F9FF !important;
}

.zpGridLightblue .zpGridTable .zpGridRowEditableOdd .zpGridCellLast {
	background: url(lightblue/oddbgright.jpg) repeat-y right #F7F9FF !important;
}

.zpGridLightblue .zpGridTable .zpGridRowEditableEven .zpGridCell {
	background: #FFF;
}

.zpGridLightblue .zpGridTable .zpGridRowEditableEven .zpGridCell0 {
	background: url(lightblue/bgleft.jpg) repeat-y left #fff !important;
}

.zpGridLightblue .zpGridTable .zpGridRowEditableEven .zpGridCellLast {
	background: url(lightblue/bgright.jpg) repeat-y right #fff !important;
}

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellEditable {
	text-align: left !important;
}

/* Editable cell horizontal */

.zpGridLightblue .zpGridCol .zpGridCellEditableOdd {
	background: #F7F9FF;
}

.zpGridLightblue .zpGridColEditableOdd .zpGridCell0 {
	background: url(lightblue/oddbgleft.jpg) repeat-y left #F7F9FF !important;
}

.zpGridLightblue .zpGridColEditableOdd .zpGridCellLast {
	background: url(lightblue/oddbgright.jpg) repeat-y right #F7F9FF !important;
}

.zpGridLightblue .zpGridCol .zpGridCellEditableEven {
	background: #FFF;
}

.zpGridLightblue .zpGridColEditableEven .zpGridCell0 {
	background: url(lightblue/bgleft.jpg) repeat-y left #fff !important;
}

.zpGridLightblue .zpGridColEditableEven .zpGridCellLast {
	background: url(lightblue/bgright.jpg) repeat-y right #fff !important;
}

.zpGridLightblue .zpGridCol .zpGridCellEditable {
	text-align: left !important;
}

/* Editable grid textarea and selectbox */

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellEditable .zpGridTextarea,
.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellEditable .zpGridSelect,
.zpGridLightblue .zpGridCol .zpGridCellEditable .zpGridTextarea,
.zpGridLightblue .zpGridCol .zpGridCellEditable .zpGridSelect
{
	background: #ebebeb;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font: 11px Tahoma, Arial, sans-serif;
	overflow: hidden;
}

/* Editable grid checkbox */

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellEditable .zpGridInput,
.zpGridLightblue .zpGridCol .zpGridCellEditable .zpGridInput
{
	height: 13px;
	width: 13px;
	margin: 0px;
}

/* Invalid row and cell */

.zpGridLightblue .zpGridTable .zpGridRowInvalid .zpGridCell {
}

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellInvalid,
.zpGridLightblue .zpGridCol .zpGridCellInvalid
{
	background: #f00;
	color: #FFF;
}

/* Saved cell */

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellSaved,
.zpGridLightblue .zpGridCol .zpGridCellSaved
{
	background: #090;
	color: #FFF;
}

/* Not saved cell */

.zpGridLightblue .zpGridTable .zpGridRow .zpGridCellNotSaved,
.zpGridLightblue .zpGridCol .zpGridCellNotSaved
{
	background: #F00;
	color: #FFF;
}

/* Resizable column */

.zpGridLightblue .zpGridColMargin {
	position: absolute;
	right: -8px;
	/* Needed for IE in non standards compliant mode */
	left: expression(this.parentNode.offsetWidth + 2 + 'px');
	background: url(lightblue/headsepbg.gif) repeat-y center;
	width: 6px;
	height: 100%;
	/* Needed for IE 6 */
	height: expression(this.parentNode.offsetHeight + 'px');
}

.zpGridLightblue .zpGridColResize,
.zpGridLightblueColResize
{
	position: absolute;
	z-index: 100;
	right: -8px;
	/* Needed for IE in non standards compliant mode */
	left: expression(this.parentNode.offsetWidth + 2 + 'px');
	background: url(lightblue/resizemargin.gif) repeat-y center top;
	width: 6px;
	height: 100%;
	/* Needed for IE 6 */
	height: expression(this.parentNode.offsetHeight + 'px');
	cursor: e-resize;
}

.zpGridLightblue .zpGridColResizeHidden,
.zpGridLightblueColResizeHidden
{
	position: absolute;
	right: -8px;
	/* Needed for IE in non standards compliant mode */
	left: expression(this.parentNode.offsetWidth + 2 + 'px');
	background: url(lightblue/headsepbg.gif) repeat-y center;
	width: 6px;
	height: 100%;
	/* Needed for IE 6 */
	height: expression(this.parentNode.offsetHeight + 'px');
	cursor: e-resize;
}

/* Pagination */

.zpGridLightblue .zpGridPagination {
	font: 12px Arial, sans-serif;
	color: #000;
	text-align: center;
	padding-top:5px;
	color: #6D788B;
}

.zpGridLightblue .zpGridPagination .zpGridPage {
	text-decoration: underline;
	cursor: pointer;
}

.zpGridLightblue .zpGridPagination .zpGridNextPage,
.zpGridLightblue .zpGridPagination .zpGridPrevPage {
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	color: #ADB8CB;
}

.zpGridLightblue .zpGridPagination .zpGridNextPage:hover, 
.zpGridLightblue .zpGridPagination .zpGridPrevPage:hover {
	color: #CD989B; 
}

.zpGridLightblue .zpGridPagination .zpGridFirstPage,
.zpGridLightblue .zpGridPagination .zpGridLastPage {
	cursor: pointer;
	font-weight: bold;
	color: #ADB8CB;
}

.zpGridLightblue .zpGridPagination .zpGridFirstPage:hover, 
.zpGridLightblue .zpGridPagination .zpGridLastPage:hover {
	color: #CD989B; 
}

.zpGridLightblue .zpGridPagination .zpGridCurrentPage {
	font-weight: bold;
}

.zpGridLightblueMouseSelection {
	border: 1px dotted #000;
}
