#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#set ( $filter = $data.getRequest().getParameter("filter_value") )
#set ( $filter_type = $data.getRequest().getParameter("filter_type") )
#set ( $regexp = $data.getRequest().getParameter("filter_regexp") )

<form method="post">
<b>Filter string:</b> <input type="Text" name="filter_value" value="$!filter"/>
<select name="filter_type">
  <option value="filter_type_user" #if ($filter_type == "filter_type_user") selected #end>User</option>
  <option value="filter_type_role" #if ($filter_type == "filter_type_role") selected #end>Role</option>  
  <option value="filter_type_group" #if ($filter_type == "filter_type_group") selected #end>Group</option>    
</select>
<input type="submit" name="eventSubmit_doFilter" value="Filter"/>
<INPUT TYPE="CHECKBOX" NAME="filter_regexp" #if($!regexp) checked #end/> Use regular expressions
</form>
<form method="post">
<input type="submit" name="eventSubmit_doRefresh" value="Refresh"/>
</form>
<table width=100%" border="1" cellpadding="0" cellspacing="0">
<tr>
    <td colspan="5"><img src="images/blank.gif" width="20%" height="1" border="0"></td>
    <td><img src="images/blank.gif" width="80%" height="1" border="0"></td>
</tr>

#foreach ( $entry in $psml )

    #if($!entry.GroupName)
        #set ($category = "Group")
        #set ($catName = $!entry.GroupName)
        #set ($link1 = $jslink.setGroup($catName))
    #elseif($!entry.RoleName)
        #set ($category = "Role")
        #set ($catName = $!entry.RoleName)
        #set ($link1 = $jslink.setRole($catName))
    #elseif($!entry.UserName)
        #set ($category = "User")
        #set ($catName = $!entry.UserName)
        #set ($link1 = $jslink.setUser($catName))
    #else
        #set ($category = "null")
        #set ($catName = "null")
    #end

    #if ($!entry.MediaType)
        #set ($mediaType = $entry.MediaType)
    #else
        #set ($mediaType = "null")
    #end

    #if ($!entry.Language)
        #set ($language = $!entry.Language)
    #else
        #set ($language = "null")
    #end

    #if ($!entry.Country)
        #set ($country = $!entry.Country)
    #else
        #set ($country = "null")
    #end

    #set ($blank = 1)

    #if($!entry.GroupName)
        #set ($link1 = $jslink.setGroup($catName,$entry.Name))
    #elseif($!entry.RoleName)
        #set ($link1 = $jslink.setRole($catName,$entry.Name))
    #elseif($!entry.UserName)
        #set ($link1 = $jslink.setUser($catName,$entry.Name))
    #end

    #if ($category != "null")
        #if ($prevCategory == $category)
        #else
            <tr>
                <td style="font-size:10">$!category</td>
                <td colspan=5><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($catName != "null")
        #if($prevCatName == $catName)
        #else
            <tr>
                <td><img src="images/blank.gif"height="1" border="0"></td>
                <td style="font-size:10">$!catName</td>
                <td colspan=4><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($mediaType != "null")
        #set ($link1 = $link1.addPathInfo("mtype",$mediaType))
        #set ($link1 = $link1.addPathInfo("reset","on"))
        #set ($blank = $blank + 1 )
        #if($prevMediaType == $mediaType)
            #if($prevCatName == $catName)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td><img src="images/blank.gif" height="1" border="0"></td>
                #end
                <td style="font-size:10">$mediaType</td>
                <td colspan="3"><img src="images/blank.gif" height="1" border="0"></td>
        </tr>
            #end
        #else
            <tr>
                #foreach ($index in [1..$blank])
                <td><img src="images/blank.gif" height="1" border="0"></td>
                #end
                <td style="font-size:10">$mediaType</td>
                <td colspan="3"><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($language != "null")
        #set ($link1 = $link1.addPathInfo("language",$language))
        #set ($blank = $blank + 1 )
        #if($prevLanguage == $language)
            #if ($prevMediaType == $mediaType)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td style="font-size:10">&nbsp;</td>
                #end
                <td style="font-size:10">$language</td>
                <td colspan="2"><img src="images/blank.gif"height="1" border="0"></td>
            </tr>
            #end
        #else
        <tr>
            #foreach ($index in [1..$blank])
                <td style="font-size:10">&nbsp;</td>
            #end
                <td style="font-size:10">$language</td>
                <td colspan="2"><img src="images/blank.gif"height="1" border="0"></td>
        </tr>
        #end
    #else
        #set ($link1 = $link1.addPathInfo("language","-1"))
    #end

    #if ($country!= "null")
        #set ($link1 = $link1.addPathInfo("country",$country))
        #set ($blank = $blank + 1 )
        #if($prevCountry == $country)
            #if($prevLanguage == $language)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td style="font-size:10">&nbsp;</td>
                #end
                <td style="font-size:10">$country</td>
                <td><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
            #end
        #else
        <tr>
            #foreach ($index in [1..$blank])
                <td style="font-size:10">&nbsp;</td>
            #end
                <td style="font-size:10">$country</td>
                <td><img src="images/blank.gif" height="1" border="0"></td>
        </tr>
        #end
    #end

    #set ($link1 = $link1.setAction("controls.Customize"))
    <tr>
        #set ($blank = $blank + 1 )
        #foreach ($index in [1..$blank])
                <td><img src="images/blank.gif"height="1" border="0"></td>
        #end
        #set ($number = 6 - $blank)
        <td colspan=$number>
        <table width="100%" border=0 cellpadding=0 cellspacing=0>
            <tr>
                <td align=left>
                    <a style="font-size:10" href="$link1">$!entry.Name </a>&nbsp;&nbsp;
                </td>
                <td align=right>
                    #set ($link2 = $jslink.setPaneByName("PsmlForm").addQueryData("mode","delete").addQueryData("entityid", $!entry.Path))
                    <a style="font-size:10" href='$link2'>Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    #set ($link3 = $jslink.setPaneByName("PsmlForm").addQueryData("mode","insert").addQueryData("entityid", $!entry.Path))
                    <a style="font-size:10" href='$link3'>Clone</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    #set ($link4 = $jslink.setPaneByName("PsmlForm").addQueryData("mode","export").addQueryData("entityid", $!entry.Path))
                    <a style="font-size:10" href='$link4'>Export</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    #set ($link5 = $jslink.setPaneByName("PsmlForm").addQueryData("mode","import").addQueryData("entityid", $!entry.Path))
                    <a style="font-size:10" href='$link5'>Import</a>
                </td>
            </tr>
        </table>
        </td>
        
    </tr>

    #set ($prevCategory = $category)
    #set ($prevCatName = $catName)
    #set ($prevMediaType = $mediaType)
    #set ($prevLanguage = $language)
    #set ($prevCountry = $country)

#end
<tr/>
<tr>
    #set ($link4 = $jslink.setPaneByName("PsmlForm").addQueryData("mode","insert"))
    #set ($exportAll = $jslink.setPaneByName("PsmlForm").addQueryData("mode","export_all")) 
    #set ($importAll = $jslink.setPaneByName("PsmlForm").addQueryData("mode","import_all"))       
    #set ($import = $jslink.setPaneByName("PsmlForm").addQueryData("mode","import"))           
    <td colspan=6 align="left">
        <a style="font-size:10" href='$link4'>Add</a>&nbsp;&nbsp;&nbsp;&nbsp;    
        <a style="font-size:10" href='$exportAll'>Export All</a>&nbsp;&nbsp;&nbsp;&nbsp;    
        <a style="font-size:10" href='$import'>Import</a>&nbsp;&nbsp;&nbsp;&nbsp;            
        <a style="font-size:10" href='$importAll'>Import All</a>        
    </td>
</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right" width="50%">
#if ($prev)
<form action="$jslink" method="post">
       <input type="submit" value="&lt; &lt; Previous">
      <input type="hidden" name="start" value="$prev">
</form>
#end
    </td>
    <td align="left" width="50%">
#if ($next)
<form action="$jslink" method="post">
       <input type="submit" value="Next &gt; &gt;">
      <input type="hidden" name="start" value="$next">
</form>
#end
    </td>
  </tr>
</table>
