#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#set ($mtype = $!data.Parameters.getString("mtype"))
#if ($!mtype) 
    <form action="$jslink.Template.addQueryData('mtype', $mtype)" method="post">
#else
    <form action="$jslink.Template" method="post">
#end
  #if ($action) <input name="$jslink.ActionKey" type="hidden" value="$action" > #end 

<table width=100%" border="1" cellpadding="0" cellspacing="0">
<tr>
    <td colspan="5"><img src="images/blank.gif" width="20%" height="1" border="0"></td>
    <td><img src="images/blank.gif" width="80%" height="1" border="0"></td>
</tr>

#foreach ( $entry in $psml )

    #if($!entry.GroupName)
        #set ($category = "Group")
        #set ($catName = $!entry.GroupName)
        #set ($link1 = $jslink.setGroup($catName))
    #elseif($!entry.RoleName)
        #set ($category = "Role")
        #set ($catName = $!entry.RoleName)
        #set ($link1 = $jslink.setRole($catName))
    #elseif($!entry.UserName)
        #set ($category = "User")
        #set ($catName = $!entry.UserName)
        #set ($link1 = $jslink.setUser($catName))
    #else
        #set ($category = "null")
        #set ($catName = "null")
    #end

    #if ($!entry.MediaType)
        #set ($mediaType = $entry.MediaType)
    #else
        #set ($mediaType = "null")
    #end

    #if ($!entry.Language)
        #set ($language = $!entry.Language)
    #else
        #set ($language = "null")
    #end

    #if ($!entry.Country)
        #set ($country = $!entry.Country)
    #else
        #set ($country = "null")
    #end

    #set ($blank = 1)

    #if($!entry.GroupName)
        #set ($link1 = $jslink.setGroup($catName,$entry.Name))
    #elseif($!entry.RoleName)
        #set ($link1 = $jslink.setRole($catName,$entry.Name))
    #elseif($!entry.UserName)
        #set ($link1 = $jslink.setUser($catName,$entry.Name))
    #end

    #if ($category != "null")
        #if ($prevCategory == $category)
        #else
            <tr>
                <td style="font-size:10">$!category</td>
                <td colspan=5><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($catName != "null")
        #if($prevCatName == $catName)
        #else
            <tr>
                <td><img src="images/blank.gif"height="1" border="0"></td>
                <td style="font-size:10">$!catName</td>
                <td colspan=4><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($mediaType != "null")
        #set ($link1 = $link1.addPathInfo("mtype",$mediaType))
        #set ($link1 = $link1.addPathInfo("reset","on"))
        #set ($blank = $blank + 1 )
        #if($prevMediaType == $mediaType)
            #if($prevCatName == $catName)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td><img src="images/blank.gif" height="1" border="0"></td>
                #end
                <td style="font-size:10">$mediaType</td>
                <td colspan="3"><img src="images/blank.gif" height="1" border="0"></td>
        </tr>
            #end
        #else
            <tr>
                #foreach ($index in [1..$blank])
                <td><img src="images/blank.gif" height="1" border="0"></td>
                #end
                <td style="font-size:10">$mediaType</td>
                <td colspan="3"><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
        #end
    #end

    #if ($language != "null")
        #set ($link1 = $link1.addPathInfo("language",$language))
        #set ($blank = $blank + 1 )
        #if($prevLanguage == $language)
            #if ($prevMediaType == $mediaType)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td style="font-size:10">&nbsp;</td>
                #end
                <td style="font-size:10">$language</td>
                <td colspan="2"><img src="images/blank.gif"height="1" border="0"></td>
            </tr>
            #end
        #else
        <tr>
            #foreach ($index in [1..$blank])
                <td style="font-size:10">&nbsp;</td>
            #end
                <td style="font-size:10">$language</td>
                <td colspan="2"><img src="images/blank.gif"height="1" border="0"></td>
        </tr>
        #end
    #else
        #set ($link1 = $link1.addPathInfo("language","-1"))
    #end

    #if ($country!= "null")
        #set ($link1 = $link1.addPathInfo("country",$country))
        #set ($blank = $blank + 1 )
        #if($prevCountry == $country)
            #if($prevLanguage == $language)
            #else
            <tr>
                #foreach ($index in [1..$blank])
                    <td style="font-size:10">&nbsp;</td>
                #end
                <td style="font-size:10">$country</td>
                <td><img src="images/blank.gif" height="1" border="0"></td>
            </tr>
            #end
        #else
        <tr>
            #foreach ($index in [1..$blank])
                <td style="font-size:10">&nbsp;</td>
            #end
                <td style="font-size:10">$country</td>
                <td><img src="images/blank.gif" height="1" border="0"></td>
        </tr>
        #end
    #end

    #set ($link1 = $link1.setAction("controls.Customize"))
    <tr>
        #set ($blank = $blank + 1 )
        #foreach ($index in [1..$blank])
                <td><img src="images/blank.gif"height="1" border="0"></td>
        #end
        #set ($number = 6 - $blank)
        <td colspan=$number>
        <table width="100%" border=0 cellpadding=0 cellspacing=0>
            <tr>
                <td align=left>
                    $!entry.Name
                </td>
                <td align=right>
                   Add Reference &nbsp;&nbsp;<input type="checkbox" name="refname" value="$entry.path" >
                </td>
            </tr>
        </table>
        </td>
        
    </tr>

    #set ($prevCategory = $category)
    #set ($prevCatName = $catName)
    #set ($prevMediaType = $mediaType)
    #set ($prevLanguage = $language)
    #set ($prevCountry = $country)

#end
<tr/>
</table>
<center>
  <table cellspacing="2">
    <tr>
      <td>
        #if ($prev)
          #set ($mtype = $!data.Parameters.getString("mtype"))
          #if ($!mtype) 
            <a href="$jslink.setTemplate("Customize").addPathInfo("start",$prev).addQueryData('mtype', $mtype)">$l10n.CUSTOMIZER_PREVIOUSBTN</a>
          #else
            <a href="$jslink.setTemplate("Customize").addPathInfo("start",$prev)">$l10n.CUSTOMIZER_PREVIOUSBTN</a>
          #end

        #else
        &nbsp;
        #end
      </td>
      <td>
        <input type="submit" name="eventSubmit_doAddRef" value="$l10n.CUSTOMIZER_APPLY">
      </td>
      <td>
        <input type="submit" name="eventSubmit_doCancel" value="$l10n.CUSTOMIZER_CANCEL">
      </td>
      <td>
        #if ($next)
          #set ($mtype = $!data.Parameters.getString("mtype"))
          #if ($!mtype) 
          <a href="$jslink.setTemplate("Customize").addPathInfo("start",$next).addQueryData('mtype', $mtype)">$l10n.CUSTOMIZER_NEXTBTN</a>
          #else
          <a href="$jslink.setTemplate("Customize").addPathInfo("start",$next)">$l10n.CUSTOMIZER_NEXTBTN</a>
          #end
        #else
        &nbsp;
        #end
        </td>
      </tr>
    </table>
  </center>

</form>
  
