#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: database-browser-customize.vm,v 1.4 2004/03/17 19:19:02 jford Exp $
<br /><input name="sql" value="$sql" size="200" />

*#

<form action="$jslink" method="post">
<p>Please Enter the new query for this database browser portlet:
<br/>
<textarea name="sql" rows="5" cols="75">$sql</textarea>
<p>Please Enter the new window size for this database browser portlet:
<input name="windowSize" value="$windowSize" size="2" />
<br/>
<input type="submit" name="eventSubmit_doUpdate" value="Update" />
<input type="hidden" name="js_peid" value="$portlet.ID">
<br/>
</p>
</form>
