#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#if (!$text)
#set ( $text = "HelloWorld" )
#end
<form action="$jslink.Template" method="post">
  <font color="$!{skin.Color}">
    <h2>$text</h2>
#if ($message)
    <b>$message</b>
    <br>
#end
    <p>If you want to change this text, please enter it below :
      <br>
      <input name="text" value="$text" size="30">
      <input type="submit" name="eventSubmit_doUpdate" value="Update">
    </p>
  </font>
</form>
