#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

Display the details of a role.

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: role-form.vm,v 1.4 2004/03/17 19:19:02 jford Exp $

*#
<form method="post" action="$jslink.getPaneByName("RoleBrowser").addPathInfo($jslink.ActionKey,"portlets.security.RoleUpdateAction")">
  <div align="left">
    <table bgcolor="#ffffff" cellpadding="5">

      #if ($errorTemplate)
      <tr>
        <td colspan="2">
          <table bgcolor="#ffffff">
            <tr>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end

      <tr>
        #if (!$role)
            #set ($rname = "")
        #else
            #set ($rname = $role.Name)
        #end
        #formCell ("Role Name" "name" $rname)
      </tr>
      <tr>
        <td align="$ui.buttonAlignment" bgcolor="$!{skin.TitleBackgroundColor}">
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#            

          #if ($mode == "update")
            <input type="submit" name="eventSubmit_doUpdate" value="Update Role"/>
          #elseif ($mode == "delete")
            <input type="submit" name="eventSubmit_doDelete" value="Confirm Deletion"/>
          #else
            <input type="submit" name="eventSubmit_doInsert" value="Add Role"/>
          #end
      </td>
      <td>
         $!msg         
      </td>
    </tr>
  </table>
    
  <input type="hidden" name="entityid" value="$!role.Name"/>
</div>
</form>