﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ExecSummary.aspx.cs" Inherits="Riskmaster.UI.NonFDMCWS.ExecSummary" EnableViewState="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Executive summary</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <%--color to be made red here--%>
    <%--<asp:textbox style="display: none;" runat="server" id="error" rmxref="Instance/Document/ExecutiveSummaryReport/EventId" Text="15" rmxtype="hidden" />--%>
    </div>
	<asp:textbox style="display: none;" runat="server" id="eventid" rmxref="Instance/Document/ExecutiveSummaryReport/EventId" Text="" rmxtype="hidden" />
	<asp:textbox style="display: none;" runat="server" id="claimid" rmxref="Instance/Document/ExecutiveSummaryReport/ClaimId" Text="15" rmxtype="hidden" />
	<asp:textbox style="display: none;" runat="server" id="recordid" rmxref="Instance/Document/ExecutiveSummaryReport/RecordId" Text="15" rmxtype="hidden" />
	<asp:textbox style="display: none;" runat="server" id="File" rmxref="Instance/Document/ExecutiveSummaryReport/File" Text="" rmxtype="hidden" />
	
    </form>
</body>
</html>
