﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SM-Redirect.aspx.cs" Inherits="Riskmaster.UI.SortMaster.SM_Redirect" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Sortmaster</title>
</head>
<body onload="parent.MDIScreenLoaded();if(document.getElementById('sUrl').value != '') window.location.href = document.getElementById('sUrl').value;">
    <form id="form1" runat="server">
    <div>
        <asp:HiddenField ID="sUrl" runat="server" />
    </div>
    </form>
</body>
</html>
