﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="edit-dcc-filter.aspx.cs" Inherits="Riskmaster.UI.Reports.Other_Reports.edit_dcc_filter" %>
<%@ Register TagPrefix="uc1" TagName="ErrorControl"  Src="~/UI/Shared/Controls/ErrorControl.ascx"%>
<%@ Register src="~/UI/Shared/Controls/PleaseWaitDialog.ascx" tagname="PleaseWaitDialog" tagprefix="uc" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>DCC Filter</title>
    <link rel="stylesheet" href="../../../Content/rmnet.css" type="text/css" />
    <link rel="stylesheet" href="../../../Content/system.css" type="text/css" />
    
    <script type ="text/javascript" language="JavaScript" src="../../../Scripts/WaitDialog.js">{var i;} </script>
    
    <script type="text/javascript">    
        function ShowPleaseWait()
        {
            pleaseWait.Show();
            return true;
        }
    </script> 
</head>
<body>
    <form id="frmData" runat="server" method="post">
    
    <uc1:ErrorControl ID="ErrorControl1" runat="server" />
    <uc:PleaseWaitDialog ID="PleaseWaitDialog1" runat="server" CustomMessage="" />
    
    <p align="center">
    <table cellspacing="2" cellpadding="2" class="singleborder">
     <tr>
      <td colspan="2" class="ctrlgroup">Edit Filter</td>
     </tr>
     <tr>
      <td class="datatd"><b>Name:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="filterName" type="text"  size="50" rmxref="Instance/Document/DCC/NewFilterName" /></td>
     </tr>
     <tr>
      <td class="datatd"><b>Type:</b></td>
      <td class="datatd"><asp:DropDownList runat="server" ID="sqlType" rmxref="Instance/Document/DCC/FilterType">
        <asp:ListItem value="0">None</asp:ListItem>
        <asp:ListItem value="1">CheckBox</asp:ListItem>
        <asp:ListItem value="2">List</asp:ListItem>
        <asp:ListItem value="3">TopX</asp:ListItem>
        <asp:ListItem value="4">ComboBox</asp:ListItem>
        <asp:ListItem value="5">Spin</asp:ListItem>
        <asp:ListItem value="6">Date</asp:ListItem></asp:DropDownList></td>
     </tr>
     <tr>
      <td class="datatd"><b>SQL:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="sql" type="text"  size="50" rmxref="Instance/Document/DCC/SQL" /></td>
     </tr>
     <tr>
      <td class="datatd"><b>SQL From:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="sqlFrom" type="text"  size="50" rmxref="Instance/Document/DCC/From" /></td>
     </tr>
     <tr>
      <td class="datatd"><b>SQL Where:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="sqlWhere" type="text" size="50" rmxref="Instance/Document/DCC/Where" /></td>
     </tr>
     <tr>
      <td class="datatd"><b>SQL Parameter:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="sqlParameter" type="text" size="50" rmxref="Instance/Document/DCC/Parameter" /></td>
     </tr>
     <tr>
      <td class="datatd"><b>Order By:</b></td>
      <td class="datatd"><asp:TextBox runat="server" ID="sqlOrderBy" type="text" size="50" rmxref="Instance/Document/DCC/OrderBy" /></td>
     </tr>
     <tr>
      <td colspan="2" align="center">
      <asp:Button runat="server" ID="btnSave" type="submit" Text="Save" class="button" OnClick="Save" OnClientClick ="return ShowPleaseWait();"/>  
      <asp:Button runat="server" ID="btnCancel" type="submit" Text="Cancel" class="button" OnClick="Cancel" />
      </td>
     </tr>
    </table>
   </p>
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenName" rmxref="Instance/Document/filter/@name" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenType" rmxref="Instance/Document/filter/@type" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenSQL" rmxref="Instance/Document/filter/sql" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenSqlFrom" rmxref="Instance/Document/filter/sqlfrom" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenSqlWhere" rmxref="Instance/Document/filter/sqlwhere" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenParameter" rmxref="Instance/Document/filter/parameter" />
   <asp:TextBox style="display:none" runat="server" ID="filterHiddenOrderBy" rmxref="Instance/Document/filter/orderby" />
   
   <asp:TextBox style="display:none" runat="server" ID="templateid" rmxref="Instance/Document/DCC/TemplateId" />
   <asp:TextBox style="display:none" runat="server" ID="initialFilterName" rmxref="Instance/Document/DCC/FilterName" />
   <asp:TextBox style="display:none" runat="server" ID="OldFilterName" rmxref="Instance/Document/DCC/OldFilterName" />
    </form>
</body>
</html>
