﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="vehicle.aspx.cs" Inherits="Riskmaster.UI.FDM.vehicle" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
 <!-- asatishchand Mits 25241 starts-->
         <asp:TextBox style="display:none" runat="server" id="htmlDuplicatevehicleId" RMXRef="/Instance/UI/FormVariables/SysExData/htmlDuplicatevehicleId" RMXType="hidden" Text="" xmlns:mc="remove" />
		 <!-- asatishchand Mits 25241 ends-->
    </form>
</body>
</html>
