/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.white{
    color: #ffffff;
}
.red{
    background-color: #E74C3C;
    color: #ffffff;
}
.belizeHole{
    background-color: #2980B9;
 }
.peterRiver{
    background-color: #3498db;
    color: #ffffff;
}

.orange {
    background-color: #e67e22;
}
.nephritis{
    background-color:#27AE60 ;
}

.homeBack
{
    background-color: #f5f5f5;
}

/* This parent can be any width and height */
.block {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height:100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;

}
.ghost{
    content:'';
    margin-top: 200px;
    vertical-align: middle;
}
.getStarted{
    color: #34495e;
}
.heady{
    padding-top: 2px;
    padding-bottom: 2px;
}
.banner{
    background-color: #6AADE4;
}
.silver{
    background-color: #BDC3C7;
}

/* event claim task panels*/

.panel-events {
    border-color: #d6e9c6;
}

.panel-events > .panel-heading {
    color: #ffffff;
    background-color: #3498db;
    border-color: #d6e9c6;
}

.panel-events > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-events > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}


.panel-claims {
    border-color: #d6e9c6;
}

.panel-claims > .panel-heading {
    color: #ffffff;
    background-color: #27ae60;
    border-color: #d6e9c6;
}

.panel-claims > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-claims > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

.panel-tasks {
    border-color: #d6e9c6;
}

.panel-tasks > .panel-heading {
    color: #ffffff;
    background-color: #e67e22;
    border-color: #d6e9c6;
}

.panel-tasks > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-tasks > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

/*ends */
#master{
    color:#34495e ;
}
.logo{
    background-color: #3498db ;
    color: #ffffff;
}
.logoBorder {
    border: 4px solid #3498db;
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
    margin: 2px 0 2px 0;
    background-color: #ffffff;
}
.navBackground{
    background-color: #ffffff;
}

.fullWidth {
    width: 100% !important;
    display: inline-block;
}

.someDefault
{
    background: #edeff1;
    color: #E74C3C;
}
.pomegranate
{
color: #E74C3C !important;
}
.pomegranate:hover
{
    color: #7f8c8d !important;

}
.angular-google-map-container { height: 400px; }



/*Loading*/

#circle4 {
    border: 20px solid black;
    width:50px;
    height:50px;
    border-top-color:transparent;
    border-left-color:transparent;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:Absolute;
    top:75px;
    left:75px;
    animation: c1 2s infinite alternate;
    -webkit-animation: c1 2s infinite alternate ;



    border-bottom-color:#F28D09;
    border-right-color:#F28D09;
}

#circle3 {
    border: 20px solid black;
    width:100px;
    height:100px;
    border-top-color:transparent;
    border-left-color:transparent;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    top:50px;
    left:50px;
    animation: c1 2s infinite alternate;
    -webkit-animation: c1 2s infinite alternate ;
    border-bottom-color:#7DEE7D;
    border-right-color:#7DEE7D;
}

#circle2 {
    border: 20px solid black;
    width:150px;
    height:150px;

    border-top-color:transparent;
    border-left-color:transparent;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    top:25px;
    left:25px;
    animation: c1 2s infinite alternate;
    -webkit-animation: c1 2s infinite alternate ;

    border-bottom-color:#035468;
    border-right-color:#035468;
}

#circle1 {
    border: 20px solid black;
    width:200px;
    height:200px;

    border-top-color:transparent;
    border-left-color:transparent;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);

    animation: c1 2s infinite alternate;
    -webkit-animation: c1 2s infinite alternate ;
    position:relative;

    border-bottom-color:#3498db;
    border-right-color:#3498db;

}

@-webkit-keyframes c1 {
    50%{border-bottom-color:gray;
        border-right-color:white;
        border-radius:250px;
        -webkit-transform:rotate(50deg)}
    100% {-webkit-transform:rotate(408deg);

    }
}

@keyframes c1 {
    50%{border-bottom-color:gray;
        border-right-color:white;
        border-radius:250px;
        transform:rotate(50deg)}
    100% {transform:rotate(408deg);

    }
}



#allthethings {
    width:250px;
    height:250px;
    position:relative;
    top:0px;

    margin:auto;
    -webkit-transform:scale(0.7);

}


.login-form {
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}
.login-form:before {
    content: '';
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent ;
    height: 0;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg);
}
.login-form .control-group {
    margin-bottom: 6px;
    position: relative;
}
.login-form .login-field {
    border-color: transparent;
    font-size: 18px;
    text-indent: 3px;
}
.login-form .login-field:focus {
    border-color: #ffffff;
}
.login-form .login-field:focus + .login-field-icon {
    color: #ffffff;
}
.login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 3px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.login-link {
    color: #bfc9ca;
    display: block;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}


.btn {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn:hover,
.btn:focus {
    outline: none;
    color: #ffffff;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}
.btn:active,
.btn.active {
    outline: none;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}