<HTML>
  <HEAD>
    <TITLE><%=jspTitle%></TITLE>
    <META name="GENERATOR" content="IBM WebSphere Studio">
  </HEAD>
  <LINK href="<%=cssURL%>" type=text/css rel=stylesheet>
  <BODY BGCOLOR="#C0C0C0">
    <script language="JavaScript">
    var lastSearchPos = 0;
    var lastSearchText = "";
    /*----------------------------------------------------*/
    /* Find a text string in a text area                  */
    /*----------------------------------------------------*/
    function findTextAreaString(searchForm, searchTextArea)
    {
        var searchText;
        if (searchForm.searchTextInput)
            searchText = searchForm.searchTextInput.value;
        else
            searchText = prompt("Please enter search text:",lastSearchText);
        if (!searchText)
        {
            alert("No search text specified");
            return;
        }
        if (searchText != lastSearchText)
        {
            lastSearchText = searchText;
            lastSearchPos = 0;
        }
        var data = searchTextArea.value;
        searchText = searchText.toLowerCase();
        data = data.toLowerCase();
        var datasubstr = data.substring(lastSearchPos);
        var pos = datasubstr.search(searchText);
        if (pos < 0)
        {
            alert("Search text not found");
            lastSearchPos = 0;
            return;
        }
        pos += lastSearchPos;
        var count = 0;
        for (var i = 0; i < pos; i++)
        {
            if (data.charAt(i) == '\r') 
                count++; 
        }
        if (searchTextArea.createTextRange)
        {
            var rng = searchTextArea.createTextRange();
            if (rng)
            {
                //alert("Current search Pos: " + pos);
                if (false) //if (false == rng.findText(searchText,lastSearchPos))
                    alert("Search text not found");
                else
                {
                    rng.moveStart("character", pos - count);
                    rng.collapse();
                    rng.select();
                }
            }
            
        }
        lastSearchPos = pos + searchText.length;
    }
    </script>

    <DIV ALIGN="Center" ID="HtmlDiv1">
    <TABLE>
      <TR>
        <TD  >

          <TABLE CELLSPACING="10">
            <TR ALIGN="Center">
             <TD ALIGN="Center"  >
              <TABLE CELLSPACING="15">

                <TR>
                  <TD WIDTH="100%"  >
                    <H4 ALIGN="CENTER"><%=jspHeader%></H4>
                  </TD>
                </TR>
<%
        String FUNC_RELOADFROMDISK   = "Reload From Disk";
        String FUNC_RESET            = "Reset";
        String FUNC_RESETXSLCACHE    = "Reset XSL Cache";
        String FUNC_RESETXMLCACHE    = "Reset XML Cache";
        String FUNC_RESETRECORDCACHE = "Reset Record Cache";
        String FUNC_CACHEDETAILLIST  = "Cache Detail List";
        String FUNC_PURGETRACELOG    = "Purge Trace Log Files";
        String FUNC_PURGESYSERRORLOG = "Purge System Error Files";
        String FUNC_DELETEXSLCLASSES = "Delete Compiled XSL";

        String func = request.getParameter("function");
        boolean bIE = (ServletUtil.determineBrowserVersion(request).getType() == ServletUtil.BROWSER_MSIE);
        
        // Properties windows editing variables/initialization
        String systemFileName = null;
        String securityFileName = null;
        boolean ronlySystem = false;
        String[] propFileList = null;
        PropertyFileConfigurator propConfig = null;
        String xformClassesDir = (String)fwSystem.getProperty("XFORMCLASSESDIR"); //$NON-NLS-1$
        boolean xformClassesExists = false;
        try {
            if (xformClassesDir != null && new File(xformClassesDir).isDirectory())
                xformClassesExists = true;
        } catch (Exception e) {}
        
        
        if (editPropWindow)
        {
            if (FUNC_RELOADFROMDISK.equalsIgnoreCase(func))
            {
                bLoadFrDisk = true;
            }
            propConfig = new PropertyFileConfigurator(fwSystem, propFilename, propMap, bLoadFrDisk, request);
            systemFileName = propConfig.getConfigFilePath();
            securityFileName = ServletUtil.fullFilePath(
                                     getServletConfig().getServletContext(), 
                                     request, 
                                     fwSystem.getSecurityManager().getSecurityFileName());
            ronlySystem = propConfig.isRonlyFile();
            
            if (bAllMatchFiles && systemFileName != null)
            {
                class Filter implements FilenameFilter
                {
                    String ext;
    
                    Filter(String exten)
                    {
                        ext = exten;
                    }
                            
                    public boolean accept(File directory, String name)
                    {
                            if (ext != null && name.endsWith(ext))
                                    return true;
                            else
                                    return false;
                    }
                };
                    
                String filesep = System.getProperty("file.separator");
                int i = systemFileName.lastIndexOf("/");
                int i2 = systemFileName.lastIndexOf(filesep);
                if (i2 > i)
                        i = i2;
                propFileList = new File(systemFileName.substring(0, i)).list(new Filter(propExt));
            }
            
            /*************************************************************************            
             * Check to see if security file initialization needs to be performed
             **************************************************************************/
            if (secMan.isSecurePropertiesEnabled() && securityFileName != null)
            {
                if (secMan.getEncryptionKey() != null)
                    securityEnabled = true;
                else
                {
                    String errReturn = secMan.initSecFile(securityFileName);
                    if (errReturn == null)
                        securityEnabled = true;
                    else
                    {
    %>
                    <TR>
                      <TD WIDTH="100%"  >
                        <HR SIZE="1" NOSHADE WIDTH="100%" /><BR />
                        <FONT SIZE=+1><B><%=errReturn %></B></FONT><BR />
                        <HR SIZE="1" NOSHADE WIDTH="100%" />
                      </TD>
                    </TR>
    <%                
                    }
                }
            }
            
            if (securityEnabled && systemFileName != null)
            {
                StringBuffer buff = new StringBuffer();
                if (secMan.fixUnsecureKeys(systemFileName, buff))
                {
                    try
                    {
                        PropertyFileManager.writePropertyFile(systemFileName, buff.toString());
                    }
                    catch (IOException e)
                    {
                        String err = "<FONT SIZE=+1><B>Error updating properties file security values: </B></FONT>" + e.toString();
    %>
                    <TR>
                      <TD WIDTH="100%"  >
                        <HR SIZE="1" NOSHADE WIDTH="100%" /><BR />
                        <%=err %><BR />
                        <HR SIZE="1" NOSHADE WIDTH="100%" />
                      </TD>
                    </TR>
    <%                
                    }
                }
            }
        }
            
        if (FUNC_RESETXSLCACHE.equalsIgnoreCase(func))
        {
            fwSystem.getTransformCache().reset();
            templateCache = fwSystem.getTransformCache().templateCache;
        }
        else
        if (FUNC_RESETXMLCACHE.equalsIgnoreCase(func))
        {
            fwSystem.getXMLCache().reset();
            xmlCache = fwSystem.getXMLCache().domCache;
        }
        else
        if (true/*"POST".equals(request.getMethod())*/)
        {
            if (FUNC_PURGESYSERRORLOG.equalsIgnoreCase(func)
                || FUNC_PURGETRACELOG.equalsIgnoreCase(func))
            {
                int purgeDays = 0;
                Logger lgr = null;
                if (FUNC_PURGETRACELOG.equalsIgnoreCase(func))
                {
                    lgr = fwSystem.getTraceLogger();
                    purgeDays = tracePurgeDays;
                }
                else
                if (FUNC_PURGESYSERRORLOG.equalsIgnoreCase(func))
                {
                    lgr = fwSystem.getSystemErrorLogger();
                    purgeDays = sysErrorPurgeDays;
                }
                String fileName = lgr.getFileName();
                File lgrFile = new File(fileName);
                if (lgrFile.isDirectory())
                {
                    String fileList[] = lgrFile.list();
                    long maxTimeMilli = ((long)purgeDays * (24L * 1000L * 60L * 60L));
                    Date maxDate = new Date(System.currentTimeMillis() - maxTimeMilli);
                    for (int i = 0; i < fileList.length; i++)
                    {
                        String fn = fileList[i];
                        if (!fn.endsWith(".log"))
                            continue;
                        File file = new File(fileName + "/" + fn);
                        Date fileDate = new Date(file.lastModified());
                        if (file.isFile() && maxDate.after(fileDate))
                            file.delete();
                    }
                }
            } /* end if (FUNC_PURGETRACELOG || FUNC_PURGESYSERRORLOG) */
            else
            if (FUNC_DELETEXSLCLASSES.equals(func))
            {
                String fileName = xformClassesDir;
                if (xformClassesExists)
                {
                    File clsDir = new File(fileName);
                    String fileList[] = clsDir.list();
                    for (int i = 0; i < fileList.length; i++)
                    {
                        String fn = fileList[i];
                        if (!fn.endsWith(".class"))
                            continue;
                        File file = new File(fileName + "/" + fn);
                        file.delete();
                    }
                }
            } /* end if (FUNC_DELETEXSLCLASSES.equalsIgnoreCase(func)) */
            else
            if (jspPropSetButtonText.equalsIgnoreCase(func))
            {
                String newBuffer = request.getParameter("SystemPropTextArea");
                    propConfig.updatePropertiesWithFile(newBuffer, propMap, request, isFileSys);
            }
            else
            if (FUNC_CACHEDETAILLIST.equalsIgnoreCase(func))
                fCacheDetailList = true;
            else
                // The method #executeCustomFunctions(String) return true
                // if the function was executed. If not executed, keep
                // checking.
            if (executeCustomFunctions(func))
                ;
            else
            if (jspPropUpdateButtonText.equalsIgnoreCase(func))
            {
                String newBuffer = request.getParameter("SystemPropTextArea");
                try
                {
                    propConfig.writeConfigPropertyFile(newBuffer, propMap, request, isFileSys);
                }
                catch (Exception e)
                {
                    String err = "<FONT SIZE=+1><B>Error updating properties file: </B></FONT>" + e.toString();
%>
                <TR>
                  <TD WIDTH="100%"  >
                    <HR SIZE="1" NOSHADE WIDTH="100%" /><BR />
                    <%=err %><BR />
                    <HR SIZE="1" NOSHADE WIDTH="100%" />
                  </TD>
                </TR>
<%                
                }
            } /* end if (jspPropUpdateButtonText.equalsIgnoreCase(func)) */
        } /* end if ("POST".equals(request.getMethod())) */
        
        /*************************************************************
        *   Start displaying windows table sections
        **************************************************************/
        
        if (jspDispLinks)
        {
            /*************************************************************
            *  Top of page links
            **************************************************************/

%>
                <TR>
                  <TD WIDTH="100%"  >
                    <TABLE WIDTH="100%">
                      <TR>
                        <TD COLSPAN="4"><HR WIDTH="100%"></TD>
                      </TR>
                      <TR>
                        <TD ALIGN="left"><A href="<%=jspLinkNameSys%>"><%=jspLinkTitleSys%></A></TD>
<%
            if (jspLinkName2 != null)
            {
%>
                        <TD ALIGN="center"><A href="<%=jspLinkName2%>"><%=jspLinkTitle2%></A></TD>
<%
            } /* end if (jspLinkName2 != null) */
            
            if (jspLinkName3 != null)
            {
%>
                        <TD ALIGN="center"><A href="<%=jspLinkName3%>"><%=jspLinkTitle3%></A></TD>
<%
            } /* end if (jspLinkName3 != null) */
            
            if (jspLinkNameStat != null)
            {
%>
                        <TD ALIGN="right"><A href="<%=jspLinkNameStat%>"><%=jspLinkTitleStat%></A></TD>
<%
            } /* end if (jspLinkNameStat != null) */
            
%>
                      </TR>
                      <TR>
                        <TD COLSPAN="4"><HR WIDTH="100%"></TD>
                      </TR>
                    </TABLE>
                  </TD>
                </TR>
<%
        } /* end if (jspDispLinks) */

        if (editPropWindow)
        {
            /*************************************************************
            *  Configuration Properties editing section
            **************************************************************/

%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgSystemForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF"><%=jspPropHeadText%></FONT></FONT></B>
                              </TD>
                            </TR>
                            
                            
                            <TR>
                              <TD>
              <%
                                if (propFileList != null && propFileList.length > 1)
                                {
              %>
                               <SELECT NAME="propFile" SIZE="1" onChange="document.CfgSystemForm.submit()">
              <%
                                    for (int i = 0; i < propFileList.length; i++)
                                    {
                                        String filename = propFileList[i];
              %>
                                 <OPTION VALUE="<%=filename%>"  <%=ServletUtil.setSelected(propFilename,propDir + filename) %>><%=filename.substring(0, filename.length() - propExt.length())%></OPTION>
              <%
                                    }
              %>
                               </SELECT>
              <%
                                }
              %>
                              </TD>
                            </TR>
                            
                            <%
                                if (systemFileName != null)
                                {
                            %>
                            <TR>
                              <TD><B>Path:</B> <input size="80" class="DISPLAY-ONLY-INPUT" readonly="readonly" value="<%=systemFileName%>" title="<%=systemFileName%>"></TD>
                            </TR>
                            <%
                                }
                            %>
                            <TR>
                              <TD WIDTH="100%"  >
                                <TEXTAREA COLS="75" WRAP="OFF" ROWS="20" NAME="SystemPropTextArea">
<%= propConfig.getFileBuffer()%>
</TEXTAREA>
                              </TD>
                            </TR>

<%			if (bIE) {   %>
                             <TR>
                              <TD>
                                <TABLE width="100%" cellspacing="0" cellpadding="0">
                                  <TR>
                                    <TD>
                                      <A href="javascript:findTextAreaString(document.CfgSystemForm, document.CfgSystemForm.SystemPropTextArea);">Search:</A>
                                      &nbsp;<input type="text" name="searchTextInput" />
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
<%			} /* if (bIE) */   %>
 
                            <TR>
                              <TD ALIGN="Left"  >
                                <input class="btnNoSize" value="<%=FUNC_RESET%>" type="reset">
                                <input class="btnNoSize" value="<%=jspPropSetButtonText%>" type="submit" name="function">
<%
                                if (systemFileName != null)
                                {
%>
                                  &nbsp;<input class="btnNoSize" value="<%=FUNC_RELOADFROMDISK%>" type="submit" name="function">
                                  &nbsp;<input class="btnNoSize" value="<%=jspPropUpdateButtonText%>" type="submit" name="function">
<%
                                  if (htmlFilePath != null)
                                  {
%>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<input value="Properties Help" type="button" name="help" OnClick="javascript:window.open('<%="../" + htmlDir + "/"+ htmlFilename%>', '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,status=yes');" >
<%
                                  }
%>
<%
                                }
%>
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (editPropWindow) */

        if (statusWindow)
        {
            /*************************************************************
            *  Status section
            **************************************************************/

%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgStatusForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF"><%=jspTitleStatus%></FONT></FONT></B>
                              </TD>
                            </TR>

                            <TR>
                              <TD WIDTH="100%"  >
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">
<%
                            {
                                int xformObjectCnt = 0;
                                int xmlObjectCnt = 0;
                                int recCnt = 0;

                                if (templateCache != null)
                                    xformObjectCnt = templateCache.size();

                                if (xmlCache != null)
                                    xmlObjectCnt = xmlCache.size();

                                if (recordCache != null)
                                    recCnt = recordCache.size();

                                if (jspAppVersion != null)
                                {

%>
                                  <TR>
                                    <TD class="SRE"><%=jspTitleAppVersion%></TD>
                                    <TD class="SRE" align="right"><%=jspAppVersion%></TD>
                                  </TR>
<%
                                }
%>
                                  <TR>
                                    <TD class="SRE">Framework Utilities Version</TD>
                                    <TD class="SRE" align="right"><%=com.csc.fw.util.Version.version()%></TD>
                                  </TR>

<%
                                if (xalanVersion != null)
                                {
%>
                                  <TR>
                                    <TD class="SRE">Xalan (XSL Transformer) Version</TD>
                                    <TD class="SRE" align="right"><%=xalanVersion%></TD>
                                  </TR>
<%
                                }
%>

<%
                                if (xercesVersion != null)
                                {
%>
                                  <TR>
                                    <TD class="SRE">Xerces (XML parser) Version</TD>
                                    <TD class="SRE" align="right"><%=xercesVersion%></TD>
                                  </TR>
<%
                                }
%>

                                  <TR>
                                    <TD class="SRE">XSL Transformer class</TD>
                                    <TD class="SRE" align="right"><%=javax.xml.transform.TransformerFactory.newInstance().getClass().getName()%></TD>
                                  </TR>

                                  <TR>
                                    <TD class="SRE">XML Parser class</TD>
                                    <TD class="SRE" align="right"><%=javax.xml.parsers.DocumentBuilderFactory.newInstance().getClass().getName()%></TD>
                                  </TR>

<%
                                String webrootpath = (String)fwSystem.getProperty("WEBROOTPATH");
                                if (webrootpath != null && webrootpath.length() > 0)
                                {
%>
                                  <TR>
                                    <TD class="SRE">WEBROOTPATH</TD>
                                    <TD class="SRE" align="right"><input size="47" class="DISPLAY-ONLY-INPUT" readonly="readonly" value="<%=webrootpath%>" title="<%=webrootpath%>"></TD>
                                  </TR>
<%
                                }
%>

<%
                                String webcontextpath = (String)fwSystem.getProperty("WEBCONTEXTPATH");
                                if (webcontextpath != null && webcontextpath.length() > 0)
                                {
%>
                                  <TR>
                                    <TD class="SRE">WEBCONTEXTPATH</TD>
                                    <TD class="SRE" align="right"><%=webcontextpath%></TD>
                                  </TR>
<%
                                }
%>

                                  <TR>
                                    <TD class="SRE">Free Memory</TD>
                                    <TD class="SRE" align="right"><%=NumberFormat.getInstance().format(Runtime.getRuntime().freeMemory())%></TD>
                                  </TR>
                                  
                                  <TR>
                                    <TD class="SRE">Total Memory</TD>
                                    <TD class="SRE" align="right"><%=NumberFormat.getInstance().format(Runtime.getRuntime().totalMemory())%></TD>
                                  </TR>

                                  <TR>
                                    <TD class="SRE">Secure Properties Enabled</TD>
                                    <TD class="SRE" align="right"><%=new Boolean(fwSystem.getSecurityManager().isSecurePropertiesEnabled()).toString()%></TD>
                                  </TR>

                                  <TR>
                                    <TD class="SRE">Secure Properties Encrypted</TD>
                                    <TD class="SRE" align="right"><%=new Boolean(fwSystem.getSecurityManager().isSecurePropertiesEncrypted()).toString()%></TD>
                                  </TR>

                                  <TR>
                                    <TD class="SRE">Secure Logging Enabled</TD>
                                    <TD class="SRE" align="right"><%=new Boolean(fwSystem.getSecurityManager().isSecureLoggingEnabled()).toString()%></TD>
                                  </TR>
<%
                                if (templateCache != null)
                                {
%>
                                  <TR>
                                    <TD class="SRE">Cached Stylesheets</TD>
                                    <TD class="SRE">
                                      <DIV align='right'><%="Count: " + String.valueOf(xformObjectCnt) + "" %></DIV>
<%
                                    if (fCacheDetailList)
                                    {
                                        boolean pline = false;
                                        if (templateCache != null)
                                        {
                                            Iterator iterator = templateCache.iterator();
                                            if (iterator != null)
                                                while (iterator.hasNext())
                                                {
                                                    if (!pline)
                                                    {
%>                                    <HR SIZE="1" NOSHADE WIDTH="100%" />
                                      <DIV ALIGN="left">
<%                                                  }
%>                                    <%=iterator.next().toString()%><BR />
<%
                                                    pline = true;
                                                }
                                        } /* end if (cache != null) */
                                    
                                        if (!pline)
                                        {
%>                                    </DIV>
<%                                      }
                                    } /* end if (fCacheDetailList) */
%>
                                    </TD>
                                  </TR>

<%
                                } /* end if (templateCache != null) */
                                
                                if (xmlCache != null)
                                {
%>
                                  <TR>
                                    <TD class="SRE">Cached XML</TD>
                                    <TD class="SRE">
                                      <DIV align='right'><%="Count: " + String.valueOf(xmlObjectCnt) + "" %></DIV>
<%
                                    if (fCacheDetailList)
                                    {
                                        boolean pline = false;
                                        if (xmlCache != null)
                                        {
                                            Iterator iterator = xmlCache.iterator();
                                            if (iterator != null)
                                                while (iterator.hasNext())
                                                {
                                                    if (!pline)
                                                    {
%>                                    <HR SIZE="1" NOSHADE WIDTH="100%" />
                                      <DIV ALIGN="left">
<%                                                  }
%>                                    <%=iterator.next().toString()%><BR />
<%
                                                    pline = true;
                                                }
                                        } /* end if (cache != null) */
                                    
                                        if (!pline)
                                        {
%>                                    </DIV>
<%                                      }
                                    } /* end if (fCacheDetailList) */
%>
                                    </TD>
                                  </TR>

<%
                                } /* end if (xmlCache != null) */
                                
                                if (recordCache != null)
                                {
%>
                                  <TR>
                                    <TD class="SRE">Cached Records</TD>
                                    <TD class="SRE">
                                      <DIV align='right'><%="Count: " + String.valueOf(recCnt) + ""%></DIV>
<%
                                    if (fCacheDetailList)
                                    {
                                        boolean pline = false;
                                        if (recordCache != null)
                                        {
                                            Iterator iterator = recordCache.iterator();
                                            if (iterator != null)
                                                while (iterator.hasNext())
                                                {
                                                    if (!pline)
                                                    {
%>                                    <HR SIZE="0" NOSHADE WIDTH="100%" />
                                      <DIV ALIGN="left">
<%                                                  }
%>                                    <%=iterator.next().toString()%><BR />
<%
                                                    pline = true;
                                                }
                                        }
                                    
                                        if (!pline)
                                        {
%>                                    </DIV>
<%                                      }
                                
                                    } /* end if (fCacheDetailList) */
%>
                                    </TD>
                                  </TR>
<%
                                } /* end if (recordCache != null) */
                            }
%>

                                </TABLE>
                              </TD>
                            </TR>
                            

<%
            boolean eventsFound = false;
            Iterator itr = fwSystem.getSystemStatus().getEventIterator();
            while (null != itr && itr.hasNext())
            {
                if (!eventsFound)
                {
                    eventsFound = true;
%>
                            <TR>
                              <TD WIDTH="100%"  >
                                <HR WIDTH="100%" />
                                <B>System Status Events:</B><BR>
                                <TABLE BORDER="1" "WIDTH=100%">
<%
                }
                FwEvent event = (FwEvent)itr.next();
                if (null != event)
                {
                    String bgcolor = "";
                    switch (event.level)
                    {
                        case 1:
                            bgcolor = "BGCOLOR=\"#FFFFFF\"";
                            break;
                        case 2:
                            bgcolor = "BGCOLOR=\"#FFFFBB\"";
                            break;
                        case 3:
                        case 4:
                            bgcolor = "BGCOLOR=\"#FF8080\"";
                            break;
                    }
                
                    String propFileParm = "";
                    String propFileReq = (String)request.getParameter("propFile");
                    if (propFileReq != null)
                        propFileParm = "propFile=" + propFileReq + "&";
            
%>
                                  <TR <%=bgcolor %> >
                                    <TD><A href="<%=jspLinkName%>?<%=propFileParm%>eventWindow=true&eventId=<%=Long.toString(event.timestamp) %>" ><%=new Date(event.timestamp).toString() %></A></TD><TD><%=event.description %></TD>
                                  </TR>
<%
                }
            } /* end while (itr.hasNext()) */

            if (eventsFound)
            {
%>
                              </TABLE>
                              </TD>
                            </TR>
<%
            } /* end if (eventsFound) */
        
%>

<%          if (xformClassesExists || templateCache != null || xmlCache != null || recordCache != null)
            { %>
                            <TR>
                              <TD ALIGN="Left"  >
                                <HR WIDTH="100%" />
                                <input class="btnNoSize" value="<%=FUNC_CACHEDETAILLIST%>" type="submit" name="function">
<%              if (templateCache != null)
                { %>
                                <input class="btnNoSize" value="<%=FUNC_RESETXSLCACHE%>" type="submit" name="function">
<%              }
                if (xmlCache != null)
                { %>
                                <input class="btnNoSize" value="<%=FUNC_RESETXMLCACHE%>" type="submit" name="function">
<%              }
                if (recordCache != null)
                { %>
                                <input class="btnNoSize" value="<%=FUNC_RESETRECORDCACHE%>" type="submit" name="function">
<%              }
                if (xformClassesExists)
                { %>
                                <input class="btnNoSize" value="<%=FUNC_DELETEXSLCLASSES%>" type="submit" name="function">
<%              } %>
                              </TD>
                            </TR>
<%          } /* end if (templateCache != null || xmlCache != null || recordCache != null)*/ %>


                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (statusWindow) */

        if (ccfWindow && ccfCon != null)
        {
            /*************************************************************
            *  Common Connector Framework summary section
            **************************************************************/

%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgCCFStatusForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">Common Connector Framework Status/Information</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <TABLE BORDER="1" "WIDTH=100%">
<%
                {
%>
                                  <TR>
                                    <TD class="SRE" colspan="2"><%="Connection Management:\n&nbsp;&nbsp;" + FwSystem.replaceAll(FwSystem.replaceAll(FwSystem.replaceAll(ccfCon.toString(), ",", "<BR/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"), "\n", "<BR/>&nbsp;&nbsp;"), " ", "&nbsp;") %></TD>
                                  </TR>
<%
                }
%>                              </TABLE>
                              </TD>
                            </TR>

                            <TR>
                              <TD ALIGN="Left"  >
                                <HR WIDTH="100%" />
                                <input class="btnNoSize" value="Reset Connection Manager" type="submit" name="function">
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (ccfWindow && ccfCon != null) */

        if (as400Window && as400Con != null)
        {
            /*************************************************************
            *  AS400 Connection Manager section
            **************************************************************/

%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgAS400StatusForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">AS400 Connection Status/Information</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <TABLE BORDER="1" "WIDTH=100%">
<%
                                try
                                {
                                    Method getUsers =
                                        as400Con.getClass().getMethod(
                                                "getUsers",
                                                new Class[] {} );
                                    Enumeration keys = 
                                        (Enumeration)getUsers.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    while (keys.hasMoreElements())
                                    {
                                        String key = (String)keys.nextElement();
%>
                                   <TR><TD class="SRE"><%="Connection:     " + key %></TD></TR>
<%
                                    }
                                }
                                catch (Exception e)
                                {
                                }
                                
                                try
                                {
                                    // CleanupInterval
                                    Method getCleanupInterval =
                                        as400Con.getClass().getMethod(
                                                "getCleanupInterval",
                                                new Class[] {} );
                                    Object cleanupInterval = 
                                        getCleanupInterval.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    // MaxConnections
                                    Method getMaxConnections =
                                        as400Con.getClass().getMethod(
                                                "getMaxConnections",
                                                new Class[] {} );
                                    Object maxConnections = 
                                        getMaxConnections.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    // MaxInactivity
                                    Method getMaxInactivity =
                                        as400Con.getClass().getMethod(
                                                "getMaxInactivity",
                                                new Class[] {} );
                                    Object maxInactivity = 
                                        getMaxInactivity.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    // MaxLifetime
                                    Method getMaxLifetime =
                                        as400Con.getClass().getMethod(
                                                "getMaxLifetime",
                                                new Class[] {} );
                                    Object maxLifetime = 
                                        getMaxLifetime.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    // MaxUseCount
                                    Method getMaxUseCount =
                                        as400Con.getClass().getMethod(
                                                "getMaxUseCount",
                                                new Class[] {} );
                                    Object maxUseCount = 
                                        getMaxUseCount.invoke(
                                                as400Con,
                                                new Object[] {} );
                                    // MaxUseTime
                                    Method getMaxUseTime =
                                        as400Con.getClass().getMethod(
                                                "getMaxUseTime",
                                                new Class[] {} );
                                    Object maxUseTime = 
                                        getMaxUseTime.invoke(
                                                as400Con,
                                                new Object[] {} );
%>
                                   <TR><TD class="SRE"><%="CleanupInterval: " + cleanupInterval.toString() %></TD></TR>
                                   <TR><TD class="SRE"><%="MaxConnections:  " + maxConnections.toString() %></TD></TR>
                                   <TR><TD class="SRE"><%="MaxInactivity:   " + maxInactivity.toString() %></TD></TR>
                                   <TR><TD class="SRE"><%="MaxLifetime:     " + maxLifetime.toString() %></TD></TR>
                                   <TR><TD class="SRE"><%="MaxUseCount:     " + maxUseCount.toString() %></TD></TR>
                                   <TR><TD class="SRE"><%="MaxUseTime:      " + maxUseTime.toString() %></TD></TR>
<%
                                }
                                catch (Exception e)
                                {
                                }
%>                              </TABLE>
                              </TD>
                            </TR>

                            <TR>
                              <TD ALIGN="Left"  >
                                <HR WIDTH="100%" />
                                <input class="btnNoSize" value="Reset AS400 Connection Manager" type="submit" name="function">
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (as400Window && as400Con != null) */

        if ( (traceListDetailWindow || traceSummaryWindow) 
             && fwSystem.getTraceLevel() > 0)
        {
            /*************************************************************
            *  Trace log summary section or Detail file list screen
            **************************************************************/

            Logger lgr = fwSystem.getTraceLogger();
            String fileName = lgr.getFileName();
            File lgrFile = new File(fileName);
            String propFileParm = "";
            String propFileReq = (String)request.getParameter("propFile");
            if (propFileReq != null)
                propFileParm = "propFile=" + propFileReq + "&";

%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgTraceLogStatusForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">System Trace Logging</FONT></FONT></B>
                              </TD>
                            </TR>
<%
            
            if (lgrFile.isDirectory())
            {
                String fileList[] = lgrFile.list();
%>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Trace Logs :</B>&nbsp;&nbsp;&nbsp;&nbsp;Files: <%=fileList.length%>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="btnNoSize" value="<%=FUNC_PURGETRACELOG%>" TYPE="SUBMIT" NAME="function"><B> over </B>
                                <input class="btnNoSize" value="<%=tracePurgeDays%>" SIZE="5" TYPE="TEXT" NAME="tracePurgeDays"><B> days old</B><BR />
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">

<%
                if (!traceListDetailWindow)
                {
%>
                                  <TR>
                                    <TD>
                                      <A href="<%=jspLinkName%>?<%=propFileParm%>traceListDetailWindow=true"><%=lgr.getFileName()%></A>
                                    </TD>
                                  </TR>
<%
                }
                else
                {
%>
                                  <TR>
                                    <TD>
                                     <input type="hidden" name="traceListDetailWindow" value="true" />
                                    </TD>
                                  </TR>
                                  
                                  <TR>
                                    <TD><B>Directory:</B><BR /><%=lgr.getFileName()%></TD>
                                  </TR>
<%
                    boolean interleaveFlag = false;
                    String colorClass = null;
                    for (int i = fileList.length - 1; i >= 0; i--)
                    {
                        String filePath = lgr.getFileName() + '/' + fileList[i];
                        fileName = fileList[i];
                        if (interleaveFlag)
                            colorClass = "SRO";
                        else
                            colorClass = "SRE";
                        
                        interleaveFlag = !interleaveFlag;
%>
                                  <TR>
                                    <TD class="<%=colorClass%>">
                                      <A href="<%=jspLinkName%>?<%=propFileParm%>traceWindow=true&retWindow=traceListDetailWindow&FileName=<%=filePath%>"><%=fileName%></A>
                                    </TD>
                                  </TR>
<%
                    }
                }
%>                                     
                                </TABLE>
                              </TD>
                            </TR>
<%
                if (traceListDetailWindow)
                {
%>                                     
                            <TR>
                              <TD ALIGN="center"  >
                                <input class="btnNoSize" value="Return to <%=jspLinkTitle%>" onClick="document.CfgTraceLogStatusForm.traceListDetailWindow.value = ''; return true; " type="submit" name="tracefunction">&nbsp;&nbsp;
                              </TD>
                            </TR>
<%
                }
            } /* end if (lgrFile.isDirectory()) */
            else 
            {
                long fileSize = lgrFile.length();
                boolean dspFileImage = (fileSize > 100000);
                String targAttr = dspFileImage ? "target=\"window\" " : "";
                String fileImageParm = dspFileImage ? "dispFileImage=true&" : "";
%>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Trace Log :</B><BR>
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">
                                  <TR>
                                    <TD>
                                      <A href="<%=jspLinkName%>?<%=fileImageParm%><%=propFileParm%>traceWindow=true" <%=targAttr%> ><%=fileName%></A>
                                    </TD>
                                  </TR> 
                                </TABLE>
                              </TD>
                            </TR>
<%
            } /* end else if (lgrFile.isDirectory()) */
%>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if ( (sysErrorListDetailWindow || sysErrorSummaryWindow) */

        if ( (sysErrorListDetailWindow || sysErrorSummaryWindow) 
             && fwSystem.getSystemErrorLogger().getLevel() > 0)
        {
            /*************************************************************
            *  System error summary section or Detail file list screen
            **************************************************************/

            Logger lgr = fwSystem.getSystemErrorLogger();
            String fileName = lgr.getFileName();
            File lgrFile = new File(fileName);
            String propFileParm = "";
            String propFileReq = (String)request.getParameter("propFile");
            if (propFileReq != null)
                propFileParm = "propFile=" + propFileReq + "&";
%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgSystemErrorLogStatusForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">System Error Logging</FONT></FONT></B>
                              </TD>
                            </TR>
<%
            if (lgrFile.isDirectory())
            {
                String fileList[] = lgrFile.list();
%>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Error Logs :</B>&nbsp;&nbsp;&nbsp;&nbsp;Files: <%=fileList.length%>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="btnNoSize" value="<%=FUNC_PURGESYSERRORLOG%>" type="submit" name="function"><B> over </B>
                                <input class="btnNoSize" value="<%=sysErrorPurgeDays%>" size="5" type="text" name="sysErrorPurgeDays"><B> days old</B><BR />
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">
<%
                if (!sysErrorListDetailWindow)
                {
%>
                                  <TR>
                                    <TD>
                                      <A href="<%=jspLinkName%>?<%=propFileParm%>sysErrorListDetailWindow=true"><%=lgr.getFileName()%></A>
                                    </TD>
                                  </TR>
<%
                }
                else
                {
%>
                                  <TR>
                                    <TD>
                                     <input type="hidden" name="sysErrorListDetailWindow" value="true" />
                                    </TD>
                                  </TR>
                                  
                                  <TR>
                                    <TD><B>Directory:</B><BR /><%=lgr.getFileName()%></TD>
                                  </TR>
<%
                    boolean interleaveFlag = false;
                    String colorClass = null;
                    for (int i = fileList.length - 1; i >= 0; i--)
                    {
                        String filePath = lgr.getFileName() + '/' + fileList[i];
                        fileName = fileList[i];
                        if (interleaveFlag)
                            colorClass = "SRO";
                        else
                            colorClass = "SRE";
                        
                        interleaveFlag = !interleaveFlag;
%>
                                  <TR>
                                    <TD class="<%=colorClass%>">
                                      <A href="<%=jspLinkName%>?sysErrorWindow=true&retWindow=sysErrorListDetailWindow&<%=propFileParm%>FileName=<%=filePath%>"><%=fileName%></A>
                                    </TD>
                                  </TR>
<%
                    }
                }
%>                                     
                                </TABLE>
                              </TD>
                            </TR>
<%
                if (sysErrorListDetailWindow)
                {
%>                                     
                            <TR>
                              <TD ALIGN="center"  >
                                <input class="btnNoSize" value="Return to <%=jspLinkTitle%>" onClick="document.CfgSystemErrorLogStatusForm.sysErrorListDetailWindow.value = ''; return true; " type="submit" name="tracefunction">&nbsp;&nbsp;
                              </TD>
                            </TR>
<%
                }
            } /* end if (lgrFile.isDirectory()) */
            else 
            {
                long fileSize = lgrFile.length();
                boolean dspFileImage = (fileSize > 100000);
                String targAttr = dspFileImage ? "target=\"window\" " : "";
                String fileImageParm = dspFileImage ? "dispFileImage=true&" : "";
%>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Error Log :</B><BR>
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">
                                  <TR>
                                    <TD>
                                      <A href="<%=jspLinkName%>?<%=fileImageParm%><%=propFileParm%>sysErrorWindow=true" <%=targAttr%> ><%=fileName%></A>
                                    </TD>
                                  </TR> 
                                </TABLE>
                              </TD>
                            </TR>
<%
            } /* end else if (lgrFile.isDirectory()) */
%>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if ( (sysErrorListDetailWindow || sysErrorSummaryWindow) */

        if (javaPropWindow)
        {
            /*************************************************************
            *  Java System Properties section
            **************************************************************/
%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="CfgJavaSystemForm" ACTION="<%=jspLinkName%>">
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">Java System Properties</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <TEXTAREA COLS="75" WRAP="OFF" READONLY ROWS="15" NAME="SystemPropTextArea">
<%
                                {
                                    ArrayList list = new ArrayList(System.getProperties().keySet());
                                    Collections.sort(list);
                                    Iterator items = list.iterator();
                                    Map sysProps = System.getProperties();
                                    while (items.hasNext())
                                    {
                                        String key = (String)items.next();
                                        Object oval = (sysProps.get(key));
                                        String val = (oval != null ? oval.toString() : "[null]");
%><%=key + "=" + val %>
<%
                                    }
                                }
%></TEXTAREA>
                              </TD>
                            </TR>

<%			if (bIE) {   %>
                             <TR>
                              <TD>
                                <TABLE width="100%" cellspacing="0" cellpadding="0">
                                  <TR>
                                    <TD>
                                      <A href="javascript:findTextAreaString(document.CfgJavaSystemForm, document.CfgJavaSystemForm.SystemPropTextArea);">Search:</A>
                                      &nbsp;<input type="text" name="searchTextInput" />
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
<%			} /* if (bIE) */   %>
 
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (javaPropWindow) */

        if (eventWindow)
        {
            /*************************************************************
            *  Event Detail screen
            **************************************************************/
%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="EventDetailForm" ACTION="<%=jspLinkName%>">
                    <input type="hidden" name="eventWindow" value="true" />
                    <input type="hidden" name="eventId" value="<%=eventId %>" />
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">System Event Detail</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Status Event Id: <%=eventId %></B><BR>
                                <TABLE BGCOLOR="#FFFFDD" BORDER="1" "WIDTH=100%">
<%                                
                String lastId = null;
                String nextId = null;
                Iterator itr = fwSystem.getSystemStatus().getEventIterator();
                while (itr.hasNext())
                {
                    FwEvent event = (FwEvent)itr.next();
                    if (event.timestamp == eventTimestamp)
                    {
                        String bgcolor = "";
                        switch (event.level)
                        {
                            case 1:
                                bgcolor = "BGCOLOR=\"#FFFFFF\"";
                                break;
                            case 2:
                                bgcolor = "BGCOLOR=\"#FFFFBB\"";
                                break;
                            case 3:
                            case 4:
                                bgcolor = "BGCOLOR=\"#FF8080\"";
                                break;
                        }
%>
                                  <TR <%=bgcolor %> >
                                    <TD><B>Date:</B></TD><TD><%=new Date(event.timestamp).toString() %></TD>
                                  </TR>
                                  <TR <%=bgcolor %> >
                                    <TD><B>Event Description:</B></TD><TD><%=event.description %></TD>
                                  </TR>
<%
                        if (event.excText != null)
                        {
%>
                                  <TR <%=bgcolor %> >
                                    <TD><B>Event Detail:</B></TD>
                                    <TD><TEXTAREA COLS="70" WRAP="OFF" ROWS="15"><%=FwSystem.replaceAll(event.excText, "<", "&lt;")  %></TEXTAREA></TD>
                                  </TR>
<%
                        }
                        if (event.message != null)
                        {
%>
                                  <TR <%=bgcolor %> >
                                    <TD><B>Event Message:</B></TD>
                                    <TD><TEXTAREA COLS="70" WRAP="OFF" ROWS="20"><%=FwSystem.replaceAll(event.message, "<", "&lt;") %></TEXTAREA></TD>
                                  </TR>
<%
                        }

                        if (itr.hasNext())
                        {
                            FwEvent nextEvent = (FwEvent)itr.next();
                            nextId = "" + nextEvent.timestamp;
                        }

                        break;
                    }
                    else
                    {
                        lastId = "" + event.timestamp;
                    }
                    
                } /* end while (itr.hasNext()) */
%>
                                </TABLE>
                              </TD>
                            </TR>

                            <TR>
                              <TD ALIGN="center"  >
                                <input class="btnNoSize" value="&lt;&lt;" type="submit" <%= lastId != null ? " onClick=\"document.EventDetailForm.eventId.value='" + lastId + "'; return true; \" " : "disabled='true'; " %>name="eventfunction">&nbsp;&nbsp;
                                <input class="btnNoSize" value="Return to <%=jspLinkTitle%>" onClick="document.EventDetailForm.eventWindow.value = ''; return true; " type="submit" name="eventfunction">&nbsp;&nbsp;
                                <input class="btnNoSize" value="&gt;&gt;" type="submit" <%= nextId != null ? " onClick=\"document.EventDetailForm.eventId.value='" + nextId + "'; return true; \" " : "DISABLED='true' " %>name="eventfunction">
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (eventWindow) */

        if (traceWindow)
        {
            /*************************************************************
            *  Trace Log Detail screen
            **************************************************************/
%>
                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="LogTraceForm" ACTION="<%=jspLinkName%>">
                    <input type="hidden" name="traceWindow" value="true" />
                    
                  <%
                    String retWindow = (String)request.getParameter("retWindow");
                    if (retWindow != null)
                    {
                  %>
                    <input type="hidden" name="<%=retWindow%>" value="true" />
                    
                  <%
                    }
                    String propFileBack = (String)request.getParameter("propFile");
                    Logger lgr = fwSystem.getTraceLogger();
                    String fileName = lgr.getFileName();
                    File lgrFile = new File(fileName);
                        
                    if (lgrFile.isDirectory())
                    {
                        fileName = (String)request.getParameter("FileName");
                    }
                        
                    StringBuffer lgrMessage = null;
                     
                    try
                    {
                        FileInputStream stream = new FileInputStream(fileName);
                        BufferedReader reader = new BufferedReader(new InputStreamReader(stream, FwEnvelope.INTERNAL_ENCODING));
                        lgrMessage = new StringBuffer();
                        int i;
                        while ((i = reader.read()) >= 0)
                        {
                            char ch = (char)i;
                            switch (ch)
                            {
                                case '&':
                                    lgrMessage.append("&amp;");
                                    break;
                                case '<':
                                    lgrMessage.append("&lt;");
                                    break;
                                default:
                                    lgrMessage.append(ch);
                                    break;
                            }
                        }
                        
                        reader.close();
                        stream.close();
                    } 
                    catch (IOException ex)
                    {
                        String err = "<FONT SIZE=+1><B>Error while loading Trace File: </B></FONT>" + ex.toString();
                  %>
                            <HR SIZE="1" NOSHADE WIDTH="100%" /><BR />
                            <%=err %><BR />
                            <HR SIZE="1" NOSHADE WIDTH="100%" />
                  <%                
                    }
                    if (propFileBack != null)
                    {
                  %>
                        <input type="hidden" name="propFile" value="<%=propFileBack%>" />
                  <%                
                    }
                  %>
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">Logging Trace Detail</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>Logging Trace File Name:</B> <input size="72" class="DISPLAY-ONLY-INPUT" readonly="readonly" value="<%=fileName %>" title="<%=fileName %>"><BR>
                              </TD>
                            </TR>

                            <TR>
                                <TD>
                                    <TEXTAREA COLS="85" WRAP="OFF" ROWS="25"><%= lgrMessage.toString() %></TEXTAREA>
                                </TD>
                            </TR>

                            <TR>
                              <TD ALIGN="center"  >
                                <input class="btnNoSize" value="Return to <%=jspLinkTitle%>" onClick="document.LogTraceForm.traceWindow.value = ''; return true; " type="submit" name="tracefunction">&nbsp;&nbsp;
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (traceWindow) */

        if (sysErrorWindow)
        {
            /*************************************************************
            *  System Error Log Detail screen
            **************************************************************/
%>

                <TR>
                  <TD WIDTH="100%"  >
                   <FORM METHOD="POST" NAME="SysErrorForm" ACTION="<%=jspLinkName%>">
                    <input type="hidden" name="sysErrorWindow" value="true" />
                    
                  <%
                    String retWindow = (String)request.getParameter("retWindow");
                    if (retWindow != null)
                    {
                  %>
                    <input type="hidden" name="<%=retWindow%>" value="true" />
                    
                  <%
                    }
                    String propFileBack = (String)request.getParameter("propFile");
                    Logger lgr = fwSystem.getSystemErrorLogger();
                    String fileName = lgr.getFileName();
                    File lgrFile = new File(fileName);
                        
                    if (lgrFile.isDirectory())
                    {
                        fileName = (String)request.getParameter("FileName");
                    }
                        
                    StringBuffer lgrMessage = null;
                     
                    try
                    {
                        FileInputStream stream = new FileInputStream(fileName);
                        BufferedReader reader = new BufferedReader(new InputStreamReader(stream, FwEnvelope.INTERNAL_ENCODING));
                        lgrMessage = new StringBuffer();
                        int i;
                        while ((i = reader.read()) >= 0)
                        {
                            char ch = (char)i;
                            switch (ch)
                            {
                                case '&':
                                    lgrMessage.append("&amp;");
                                    break;
                                case '<':
                                    lgrMessage.append("&lt;");
                                    break;
                                default:
                                    lgrMessage.append(ch);
                                    break;
                            }
                        }
                        
                        reader.close();
                        stream.close();
                    } 
                    catch (IOException ex)
                    {
                        String err = "<FONT SIZE=+1><B>Error while loading System Error File: </B></FONT>" + ex.toString();
                  %>
                            <HR SIZE="1" NOSHADE WIDTH="100%" /><BR />
                            <%=err %><BR />
                            <HR SIZE="1" NOSHADE WIDTH="100%" />
                  <%                
                    }
                    if (propFileBack != null)
                    {
                  %>
                    <input type="hidden" name="propFile" value="<%=propFileBack%>" />
                  <%                
                    }
                  %>
                    <TABLE BORDER="2" WIDTH="100%">
                      <TR>
                        <TD WIDTH="100%"  >
                          <TABLE WIDTH="100%">
                            <TR>
                              <TD BGCOLOR="#0000FF" WIDTH="100%"  ><B><FONT SIZE="3"><FONT COLOR="#FFFFFF">System Error Detail</FONT></FONT></B>
                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="100%"  >
                                <B>System Error File Name:</B> <input size="72" class="DISPLAY-ONLY-INPUT" readonly="readonly" value="<%=fileName %>" title="<%=fileName %>"><BR>
                              </TD>
                            </TR>
                            <TR>
                                <TD>
                                    <TEXTAREA COLS="85" WRAP="OFF" ROWS="25"><%= lgrMessage.toString() %></TEXTAREA>
                                </TD>
                            </TR>
                            <TR>
                              <TD ALIGN="center"  >
                                <input class="btnNoSize" value="Return to <%=jspLinkTitle%>" onClick="document.SysErrorForm.sysErrorWindow.value = ''; return true; " type="submit" name="sysErrorFunction">&nbsp;&nbsp;
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                   </FORM>
                  </TD>
                </TR>
<%
        } /* end if (sysErrorWindow) */

        if (jspDispLinks)
        {
            /*************************************************************
            *  Bottom of page links
            **************************************************************/
%>
                <TR>
                  <TD WIDTH="100%"  >
                    <TABLE WIDTH="100%">
                      <TR>
                        <TD COLSPAN="4"><HR WIDTH="100%"></TD>
                      </TR>
                      <TR>
                        <TD ALIGN="left"><A href="<%=jspLinkNameSys%>"><%=jspLinkTitleSys%></A></TD>
<%
            if (jspLinkName2 != null)
            {
%>
                        <TD ALIGN="center"><A href="<%=jspLinkName2%>"><%=jspLinkTitle2%></A></TD>
<%
            } /* end if (jspLinkName2 != null) */
            
            if (jspLinkName3 != null)
            {
%>
                        <TD ALIGN="center"><A href="<%=jspLinkName3%>"><%=jspLinkTitle3%></A></TD>
<%
            } /* end if (jspLinkName3 != null) */
            
            if (jspLinkNameStat != null)
            {
%>
                        <TD ALIGN="right"><A href="<%=jspLinkNameStat%>"><%=jspLinkTitleStat%></A></TD>
<%
            } /* end if (jspLinkNameStat != null) */
            
%>
            
                      </TR>
                      <TR>
                        <TD COLSPAN="4"><HR WIDTH="100%"></TD>
                      </TR>
                    </TABLE>
                  </TD>
                </TR>
<%
        } /* end if (jspDispLinks) */

%>

              </TABLE>
             </TD>
            </TR>
          </TABLE>
        </TD>
      </TR>
    </TABLE>

    </DIV>
  </BODY>
</HTML>

