<%-- ****************************************************************** --%>
<%-- * This is an include JSP for common initialization for Framework * --%>
<%-- * Utilities System Update JSP.                                   * --%>
<%-- ****************************************************************** --%>
<%
        /*******************************************************************/
        /* Customization section of FwSys/Status.jsp.  You can customize   */
        /* the following properties for your applications that use         */
        /* the Framework Utilities.                                        */
        /*******************************************************************/
        String jspTitleSys = "System Configuration - Framework Utilities";
        String jspTitleStat = "Status - Framework Utilities";
        String jspHeaderSys = "Framework Utilities System Configuration";
        String jspHeaderStat = "Framework Utilities Status";
        String jspTitleStatus = "Status/Information";
        String jspTitleAppVersion = "";
        String jspAppVersion = null;
        
        String cssURL = "includes/INFUtil.css";
        
        boolean jspDispLinks = true;
        String jspLinkNameSys = "FwUtilSys.jsp";
        String jspLinkTitleSys = "System Configuration";
        String jspLinkName2 = "";
        String jspLinkTitle2 = "";
        String jspLinkName3 = "";
        String jspLinkTitle3 = "";
        String jspLinkNameStat = "";
        String jspLinkTitleStat = "";
        
        // Set the values of ccfCon or as400con to null if not needed.
        // Do not remove definitions.
        Object ccfCon = null;
        
        Object as400Con = null;

        String xalanVersion = null;
        try
        {
            Class xcls = Class.forName("org.apache.xalan.Version");
            java.lang.reflect.Method meth = xcls.getMethod("getVersion", new Class[0]);
            xalanVersion = (String)meth.invoke(null, new Object[0]);
        }
        catch (Throwable e)
        {
            // Ignore exceptions since class may not be supported
        }
        
        String xercesVersion = null;
        try
        {
            Class xcls = Class.forName("org.apache.xerces.impl.Version");
            java.lang.reflect.Method meth = xcls.getMethod("getVersion", new Class[0]);
            xercesVersion = (String)meth.invoke(null, new Object[0]);
        }
        catch (Throwable e)
        {
            // Ignore exceptions since class may not be supported
        }
        
        
        FwSystem fwSystem = com.csc.fw.util.FwSystem.current();
        FwSecurityManager secMan = fwSystem.getSecurityManager();
        
        // Set to null if not needed.
        // Do not remove definition.
        LRUCache recordCache = null;
        LRUCache templateCache = fwSystem.getTransformCache().templateCache;
        LRUCache xmlCache = fwSystem.getXMLCache().domCache;
        
        boolean securityEnabled = false;
        boolean bLoadFrDisk = false;
        String propFilename = fwSystem.getPropertyFilename();
        String sysFilename = propFilename;
        boolean bAllMatchFiles = false;
        String propDir = "";
        String propExt = ".properties";
        String propFile = request.getParameter("propFile");
        if (propFile != null)
            propFilename = propDir + propFile;
        boolean isFileSys = propFilename.equals(sysFilename);
        Map propMap = fwSystem.getProperties();
        String jspSysText = "System ";
        if (!isFileSys)
        {
            propMap = PropertyFileManager.current().getProperties(propFile);
            jspSysText = "";
        }
        
        // HTML Help file setup - Start
        String htmlDir = "/html";
        String htmlext=".html";
        String htmlFilename = null;
        String htmlFilePath = null;
        int idx = propFilename.lastIndexOf("/");
        int idx2 = propFilename.lastIndexOf(System.getProperty("file.separator"));
        if (idx2 > idx)
            idx = idx2;
        if(idx >= 0)
        {
            htmlFilename = propFilename.substring(idx + 1);
        }
        htmlFilename += htmlext;
        
        htmlFilePath = ServletUtil.fullFilePath(
                getServletContext(), 
                request, 
                htmlFilename,htmlDir);
        // HTML Help file setup - End

        String jspPropSetButtonText = "Update Runtime Properties Only";
        String jspPropUpdateButtonText = "Update Property File";
        String jspPropHeadText = jspSysText + "Properties";
        
        /*******************************************************************/
        /* End of Customization section of FwUtilSys.jsp.                  */
        /*******************************************************************/
%>
