<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>OSHA Information dialog</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="10 7, 2002 2:48:53 PM">
<meta name=MS-HAID content=event_db>
<meta name=MS-HAID content=event>
<meta name=MS-HAID content=OSHA_Information_dialog>
<meta name=MS-HAID content=claim>
<meta name=MS-HAID content=workerscompensation_db>
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=947>
<meta name=layout-width content=451>
<meta name=x-ignored-words content="DIS;DDS;MedWatch;MCO;pdf;WPA;BRS;MCOs;MCO's;Recordability;Subst">


<!--(Links)=========================================================-->

<link REL="STYLESHEET" HREF="..\..\w95help_st.css" TYPE="text/css">


<!--(Scripts)=======================================================-->

<script LANGUAGE=javascript
		src="..\..\helpcont.js"></script>

</head>

<!--(Body)==========================================================-->


<body scroll=auto onload="set_last_picks()">

<!--(Generated Script Links)========================================-->
<!--(Generated Code)================================================-->
<!--(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)==================-->
<!--begin!kadov{{===================================================-->
<script type="text/javascript"
		language=JavaScript1.2
		src="../../ehlpdhtm.js"
		x-save-method=compute-relative></script>
<script type="text/javascript"
		language=JavaScript1.2>
<!-- 
if( typeof( kadovInitEffects ) != 'function' ) kadovInitEffects = new Function();if( typeof( kadovInitTrigger ) != 'function' ) kadovInitTrigger = new Function();if( typeof( kadovFilePopupInit ) != 'function' ) kadovFilePopupInit = new Function();if( typeof( kadovTextPopupInit ) != 'function' ) kadovTextPopupInit = new Function();
 //-->
</script>

<!--}}end!kadov=====================================================-->
<!--(==============================================================)-->


<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="2117" >
<param name="_ExtentY" value="503" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="12632256" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="workerscompensation_db$$**$$event_db$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Arial,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\Riskmaster_new\events\dialog\OSHA_Information_dialog.htm" >
<param name="_ID" value="object1" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="Second" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="workerscompensation_db">
  <PARAM  NAME="Item3"  VALUE="event_db">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object2
		style="width: 98px; height: 19px;"
		width=98
		height=19>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="2593" >
<param name="_ExtentY" value="503" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="12632256" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="How to" >
<param name="UseIcon" value="0" >
<param name="Items" value="To_enter_a_workers_compensation_claim$$**$$To_enter_a_vehicle_accident_claim$$**$$To_enter_a_general_claim$$**$$event_how$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Arial,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\Riskmaster_new\events\dialog\OSHA_Information_dialog.htm" >
<param name="_ID" value="object2" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="Second" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object2"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:How to">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="To_enter_a_workers_compensation_claim">
  <PARAM  NAME="Item3"  VALUE="To_enter_a_vehicle_accident_claim">
  <PARAM  NAME="Item4"  VALUE="To_enter_a_general_claim">
  <PARAM  NAME="Item5"  VALUE="event_how">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 <a href="javascript:BSSCPopup('../../popups/Dialog_Tips.htm');"
	id=a1><img src="../../IMAGES/tips.GIF"
				alt="Click for important dialog information"
				x-maintain-ratio=FALSE
				style="border: none;
						height: 22px;
						width: 30px;
						float: none;
						border-style: none;
						border-style: none;"
				height=22
				width=30
				border=0></a><!--begin!kadov{{--><script type="text/javascript"
														language=JavaScript1.2><!--
kadovFilePopupInit('a1');
//--></script><!--}}end!kadov--></p>

<h3>OSHA Information dialog</h3>

<p class=Introduction>Use the OSHA Information dialog to enter OSHA information 
 for the event.</p>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="width: 100%;
				margin-top: 5px;
				margin-left: 5px;
				x-cell-content-align: Center;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=100%>
<col style="width: 7.616%;">
<col style="width: 43.832%;">
<col style="width: 48.46%;">

<tr style="x-cell-content-align: center;"
	valign=middle>
<td style="width: 7.616%; padding-top: 0px;"
	width=7.616%>
<p class=TableCellBold>Button</td>
<td colspan=1
	rowspan=1
	style="width: 43.832%; padding-left: 10px;"
	width=43.832%>
<p class=TableCellDescription>On the Event dialog, or the Workers' Compensation 
 dialog,</td>
<td style="width: 48.46%;
			padding-right: 0px;
			padding-left: 0px;
			padding-top: 0px;
			border-bottom-style: none;
			border-right-style: none;
			border-top-style: none;"
	width=48.46%>
<p class=TableCellDescription><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--><img 
 src="../images/buttons_OSHA.gif"
	alt="OSHA Information"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 36px;
			height: 36px;
			float: none;
			border-style: none;
			border-style: none;"
	width=36
	height=36
	border=0></td></tr>
</table>

<h4>Field definitions</h4>

<!--For expandable text copy from here-->

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				width: 100%;
				margin-left: 5px;
				left: 0px;
				top: 262px;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=100%>
<col style="width: 19.709%;">
<col style="width: 80.291%;">

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Event OSHA Recordable</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the check box if OSHA should be notified 
 of the event. If you are uncertain whether the event is OSHA recordable, 
 select the OSHA Recordability Wizard button. </td></tr>

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Activity When Injured</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the button to open an <a href="..\..\common_functions\Text_Entry_dialog.htm"
	title="Click for dialog help">OSHA Information text entry dialog</a>. 
 Enter a description of what the employee was doing when the event occurred 
 and then select OK.</td></tr>

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>How Accident Occurred</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the button to open an <a href="..\..\common_functions\Text_Entry_dialog.htm"
	title="Click for dialog help">OSHA Information text entry dialog</a>. 
 Enter a description of how the event occurred and then select OK. Your 
 description must meet OSHA reporting requirements. </td></tr>

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Object/Subst that Injured</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the button to open an <a href="..\..\common_functions\Text_Entry_dialog.htm"
	title="Click for dialog help">OSHA Information text entry dialog</a>. 
 Enter a description of <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 item that caused the injury and then select OK.</td></tr>

<tr style="x-cell-content-align: top; height: 26px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Safeguards Provided</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the check box if <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 company provided safeguard equipment and set up protective measures.</td></tr>

<tr style="x-cell-content-align: top; height: 7px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Failure to Use Safeguards</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the check box if the employee did 
 not take necessary precautions.</td></tr>

<tr style="x-cell-content-align: top; height: 26px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Failure to Follow Rules</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the check box if the employee did 
 not follow OSHA rules.</td></tr>

<tr style="x-cell-content-align: top; height: 54px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Privacy Case</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select the check box if <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 case involves specific privacy issues, as outlined by OSHA regulations. 
 If you selected this option, OSHA is notified, but the claimant's name 
 and social security number are withheld.</p>
<p class=TableCellDescription><span class=Note>Note:</span> If you select 
 this option, this record is not included in the OSHA 300 report.</td></tr>

<tr style="x-cell-content-align: top; height: 68px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Sharps Object</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>If the injury was caused by a sharp object, 
 such as a needle or knife, enter the code that most accurately describes 
 the sharp object, or select the search button to select from the codes 
 list.</p>
<p class=TableCellDescription><span class=Note>Note:</span> This record 
 is added to the Sharps log and reported to OSHA, only of the person involved 
 is recorded as an Employee.</td></tr>

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Sharps Brand/Make</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>If the injury was caused by a sharp object, 
 enter the code that most accurately describes the company that made the 
 sharp object, or select the search button to select from the codes list.</td></tr>

<tr style="x-cell-content-align: top; height: 26px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Print OSHA 101 Report</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select button to print an OSHA 101 report.</td></tr>

<tr style="x-cell-content-align: top; height: 26px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>Print OSHA 301 Report</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select button to print an OSHA 301 report.</td></tr>

<tr style="x-cell-content-align: top; height: 40px;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 19.709%;
			padding-top: 5px;
			padding-bottom: 5px;"
	width=19.709%>
<p class=TableCellBold>OSHA <!--kadov_tag{{<ignored>}}-->Recordability<!--kadov_tag{{</ignored>}}--> 
 Wizard</td>
<td colspan=1
	rowspan=1
	style="width: 80.291%;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;"
	width=80.291%>
<p class=TableCellDescription>Select button to open a wizard <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->that 
 helps you decide whether or not the event is OSHA recordable. The wizard 
 only makes a recommendation, it does not mark the claim as recordable. 
 You must do this manually.</td></tr>
</table>

<p><a title="Click for dialog help"
		href="../../common_functions/Supplementals_tab.htm">Supplementals 
 tab</a></p>

</body>

</html>
