#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

<div>
  <center>
    <table cellpadding="2" cellspacing="0" border="1" width="70%">
      <tr>
        <td align="center" colspan="3" class="INPUTFORMTITLE">
          $l10n.PSML_MANAGER_DETAIL_IMPORT_PSML
        </td>
      </tr>
      <tr>      
        <td class="INPUTFORM">
          #if ($data.Message)
            ## Message include account creation failure messages.
            <p><b>$data.Message</b></p>
          #end
          <form method="POST"                
               enctype="application/x-www-form-urlencoded">
            <input name="$jslink.ActionKey" type="hidden" value="ImportPsml" />
            <center>
              <table border="0" cellspacing="2" cellpadding="1">
                <tr>
                  <td COLSPAN="2"><B>This screen allows to perform the initial psml import based on the options listed below:</B></td>
                </tr>
                <TR><TD>&nbsp;</TD></TR>
                <TR>
                    <TD><B>Importer (source)</B></TD>
                    <TD>$config.getString("services.PsmlImportManager.classname")</TD>
                </TR>
                <TR>
                    <TD><B>Exporter (target)</B></TD>
                    <TD>$config.getString("services.PsmlManager.classname")</TD>
                </TR>
                <TR><TD>&nbsp;</TD></TR>                
                <tr>
                  <td colspan="2">
                    <input name="check-import" type="checkbox">
                    ##$l10n.LOGIN_REMEMBERME
                    <B>Do not replace existing psml (checking this box will abort import if psml is already populated)</B>
                  </td>
                </tr>
                <TR><TD>&nbsp;</TD></TR>                
                <tr>
                  <td colspan="2" align="center">
                    <input name="submit" type="submit" value="$l10n.PSML_MANAGER_BROWSER_IMPORT">
                  </td>
                </tr>
              </table>
            </form>
          </center>
        </td>
      </tr>
    </table>
  </center>
</div>
